Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix: update blob metadata during properties update
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

build: support relative cargo-vendor-dir path with non-existing
  scripts/release.sh
Due: none

chore: address dependabot security alerts
  test/grpc/package-lock.json
  test/grpc/package.json
  test/python/requirements.txt
Due: none

feat(test): adding an extended test for miscompare during partial rebuild
  ci.nix
  io-engine-tests/src/fio.rs
  io-engine/Cargo.toml
  io-engine/tests/nexus_rebuild_partial_loop.rs
  shell.nix
Due: rust-style, rust-lint

fix: remove lvm check added to lvs by mistake
  io-engine/src/grpc/v1/lvs/pool.rs
Due: rust-style, rust-lint

feat(rebuild/snapshot): initial dummy snapshot rebuild
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/env.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_instances.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_state.rs
  io-engine/src/rebuild/rebuild_stats.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/src/rebuild/snapshot_rebuild.rs
  io-engine/tests/snapshot_rebuild.rs
Due: rust-style, rust-lint

feat(snap-rebuild/cli): add snap rebuild cli commands
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_rebuild_cli.rs
Due: rust-style, rust-lint

feat(snap-rebuild/grpc): impl grpc backend
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v1/snapshot_rebuild.rs
  io-engine/src/rebuild/mod.rs
Due: rust-style, rust-lint

test: let replica resize events consolidate before nexus resize
  io-engine/tests/nexus_replica_resize.rs
Due: rust-style, rust-lint

refactor: add local pool builder
  io-engine-tests/src/pool.rs
  io-engine/tests/snapshot_rebuild.rs
Due: rust-style, rust-lint

test: preserve path when using sudo
  ci.nix
  io-engine-tests/src/fio.rs
  scripts/nix-sudo/nix-sudo
  shell.nix
  test/python/common/fio.py
  test/python/common/fio_spdk.py
  test/python/common/nvme.py
  test/python/v1/pool/test_bdd_lvm.py
  test/python/v1/replica/test_bdd_lvm_replica.py
Due: rust-style, rust-lint, python-check

chore: upgrade rustls to address dependabot
  Cargo.lock
  io-engine/Cargo.toml
Due: none

chore: update policy documents
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS
Due: none

feat(lvs): special error code for out-of-metadata condition
  io-engine/src/bdev/lvs.rs
  io-engine/src/core/share.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/lvs/pool.rs
  io-engine/src/grpc/v1/lvs/replica.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_limits.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(spdk): using correct spdk commit hash
  nix/pkgs/libspdk/default.nix
Due: none

refactor(lvm): tidy up lvm share bits
  io-engine/src/core/share.rs
  io-engine/src/grpc/v1/lvm/replica.rs
  io-engine/src/lvm/lv_replica.rs
Due: rust-style, rust-lint

refactor(lvs/lvol): tidy up property management
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

refactor: add shared traits for pools and replicas
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/share.rs
  io-engine/src/grpc/v0/bdev_grpc.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/bdev.rs
  io-engine/src/grpc/v1/lvm/replica.rs
  io-engine/src/grpc/v1/lvs/replica.rs
  io-engine/src/lib.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/property.rs
  io-engine/src/lvm/vg_pool.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_limits.rs
Due: rust-style, rust-lint

refactor(grpc): use new pool and replica traits
  io-engine/src/core/runtime.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v1/lvm/mod.rs
  io-engine/src/grpc/v1/lvm/pool.rs
  io-engine/src/grpc/v1/lvm/replica.rs
  io-engine/src/grpc/v1/lvs/pool.rs
  io-engine/src/grpc/v1/lvs/replica.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix: replica destroy when pool not found
  io-engine/src/grpc/v1/lvm/pool.rs
  io-engine/src/grpc/v1/lvs/pool.rs
  io-engine/src/grpc/v1/lvs/replica.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/vg_pool.rs
  test/python/v1/replica/features/replica.feature
  test/python/v1/replica/test_bdd_replica.py
Due: rust-style, rust-lint, python-check

feat(log_format): adding json stdout support
  io-engine/src/logger.rs
Due: rust-style, rust-lint

chore: update MAINTAINERS signpost link
  MAINTAINERS
Due: none

fix(lvm): don't export if not enabled
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

fix: crash when there are no bdevs
  io-engine/src/grpc/v1/snapshot.rs
Due: rust-style, rust-lint

ci: make container image tag prefix configurable
  default.nix
  nix/config.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

feat(nvmf/nqn): allow using custom nvme nqn prefix
  io-engine-bench/src/nexus.rs
  io-engine/tests/block_device_nvmf.rs
  io-engine/tests/mayastor_compose_basic.rs
  io-engine/tests/nexus_add_remove.rs
  io-engine/tests/nexus_child_location.rs
  io-engine/tests/nexus_with_local.rs
  io-engine/tests/nvme_device_timeout.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/replica_timeout.rs
  io-engine/tests/snapshot_nexus.rs
  test/grpc/test_cli.js
  test/grpc/test_common.js
  test/grpc/test_nexus.js
  test/grpc/test_replica.js
  test/python/common/constants.py
  test/python/pool/test_unmap.py
  test/python/tests/publish/test_bdd_nexus.py
Due: rust-style, rust-lint, js-check, python-check

test(test): test pr
  README.md
Due: none

ci(gha): update secret names and actions version
  .github/workflows/develop-to-release.yml
  .github/workflows/pr-commitlint.yml
Due: none

chore: update policy document signpost links
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
Due: none

chore: update spdk commit hash and sha256
  nix/pkgs/libspdk/default.nix
Due: none

test: volume expand with snapshots present
  io-engine/tests/nexus_replica_resize.rs
Due: rust-style, rust-lint

feat(spdk): updating to spdk 24.01
  Cargo.lock
  ci.nix
  io-engine-tests/src/error_bdev.rs
  io-engine/src/bdev/null_bdev.rs
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/block_device_nvmf.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(ci): refactoring nix scripts
  ci.nix
  nix/lib/rust.nix
  nix/overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/libnvme/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
  test/python/common/fio_spdk.py
Due: python-check

refactor(pool/replica): add factories for pool&replica
  Cargo.lock
  io-engine/src/core/env.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/lvm/mod.rs
  io-engine/src/grpc/v1/lvm/pool.rs
  io-engine/src/grpc/v1/lvm/replica.rs
  io-engine/src/grpc/v1/lvs/mod.rs
  io-engine/src/grpc/v1/lvs/pool.rs
  io-engine/src/grpc/v1/lvs/replica.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvm/cli.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
  io-engine/tests/snapshot_rebuild.rs
Due: rust-style, rust-lint

ci(python/bdd): improve xunit reports
  .gitignore
  Jenkinsfile
  scripts/pytest-tests.sh
Due: none

fix(grpc/replica): keep behaviour for replica destroy
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix(replica): don't use disabled backends
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint
