Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

Update build.yaml
  .github/workflows/build.yaml
Due: none

build: add sudo to build image
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/ms-buildenv/root/etc/sudoers
Due: none

CI: move part of the build to self-hosted
  .github/workflows/build.yaml
  .github/workflows/nix.yaml
Due: none

rebuild: Move rebuild task list from the nexus into a global scope (#149)
  .github/workflows/teamrebuild_ci.yml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Add pause/resume rebuild support (#158)
  .github/workflows/teamrebuild_ci.yml
  csi/src/mayastor_svc.rs
  mayastor-test/package.json
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
Due: rust-style, rust-lint, js-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

rebuild: remove the teamrebuild CI
  .github/workflows/teamrebuild_ci.yml
Due: none

Rebuild: Start rebuild when setting child online (#164)
  csi/src/mayastor_svc.rs
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: split rebuild module
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

rebuild: split the rebuild state logic
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

mayastor: add config subsystem framework
  .github/workflows/build.yaml
  Cargo.lock
  mayastor-test/package.json
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/opts.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/yaml_config.rs
  nix/pkgs/mayastor/default.nix
  shell.nix
  spdk-sys/wrapper.h
  terraform/shell.nix
Due: rust-style, rust-lint

rebuild: add progress and map child states
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

split out build from test (#204)
  .github/workflows/build.yaml
Due: none

Enhancements to terraform scripts and documentation update
  .gitignore
  terraform/README.adoc
  terraform/main.tf
  terraform/mod/k8s/main.tf
  terraform/mod/k8s/master.sh
  terraform/mod/libvirt/main.tf
  terraform/mod/lxd/main.tf
  terraform/variables.tf
Due: none

CI: add retry helper
  mayastor/tests/common/mod.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/yaml_config.rs
Due: rust-style, rust-lint

CI: intermittent failures in nexus testing
  mayastor-test/test_nexus.js
Due: js-lint
