Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

CI: use node/node12 for nodejs linting
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  shell.nix
Due: none

CAS-321: add mayastorpool.yaml to deployment (#285)
  deploy/README.md
  deploy/mayastorpoolcrd.yaml
Due: none

moac: msn is out of date (CAS-327) (#292)
  .github/workflows/pr.yaml
  csi/moac/node_operator.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/watcher.js
Due: js-lint

CI: node:12 not node/node:12
  .github/workflows/pr.yaml
Due: none

nix: add image creation
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/terraform-provider-lxd/default.nix
  scripts/test.sh
  shell.nix
Due: none

moac: msv is out of date (CAS-323) (#297)
  csi/moac/nexus.ts
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
Due: js-lint

CAS-206 changes to support generic URIs for manipulating bdevs (#296)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_config.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/bdev/util/mod.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/bdev/util/uring.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/bdev.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/tests/core.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

nix: introduce sources.json
  default.nix
  nix/lib/nixPackages.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/liburing/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: none

moac emits debug messages about stale object events
  csi/moac/package.json
  csi/moac/watcher.js
Due: js-lint

CI: update to reflect changes
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
  .github/workflows/pr.yaml
  Cargo.lock
  mayastor/tests/common/mod.rs
  nix/lib/rust.nix
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/ms-buildenv/default.nix
  nix/sources.json
  scripts/cargo-test.sh
  scripts/node-test.sh
  shell.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

build: set target-arch to nehalem
  .cargo/config
Due: none

nix: add bash to shell.nix
  shell.nix
Due: none

Correctly disconnect nvme devices CAS-337 (#307)
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

CI: switch over :gila -> :latest
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

Tweak csi mocha test unknown device
  mayastor-test/test_csi.js
Due: js-lint

CI: add back csi test
  scripts/node-test.sh
Due: none

nix: must use version
  nix/pkgs/libspdk/default.nix
Due: none

moac: unpublish old volume (CAS-326) (#301)
  csi/moac/csi.js
  csi/moac/test/csi_test.js
Due: js-lint

CAS-312 moac logs a warning about unexpected disk change
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  rpc/proto/mayastor.proto
Due: js-lint

nexus: Add NVMEoF discovery subsystem
  .github/workflows/build.yaml
  mayastor-test/test_nexus.js
  mayastor/src/subsys/opts.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint, js-lint

nix: allow the use of local sources
  Cargo.lock
  default.nix
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/core/dma.rs
  mayastor/src/jsonrpc.rs
  mayastor/src/subsys/mod.rs
  nix/lib/rust.nix
  nix/mayastor-overlay.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  shell.nix
  spdk-sys/Cargo.toml
  spdk-sys/README.md
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/logwrapper.c
  spdk-sys/src/lib.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

Integrate rust client for NATS with mayastor/SPDK
  Cargo.lock
  deploy/mayastor-daemonset.yaml
  mayastor-test/package-lock.json
  mayastor-test/package.json
  mayastor-test/test_common.js
  mayastor-test/test_nats.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/Cargo.toml
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  mayastor/src/nats.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/node-test.sh
  scripts/test.sh
Due: rust-style, rust-lint, js-lint

fix broken terraform lxd (#284)
  terraform/main.tf
  terraform/mod/k8s/node.sh
  terraform/mod/lxd/main.tf
Due: none

Converting nexus from JS to TS as shown during the demo
  csi/moac/.gitignore
  csi/moac/nexus.ts
  csi/moac/node.js
  csi/moac/package.json
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
Due: js-lint

nix: update the version of the install-nix-action
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
Due: none

Rework JS code checking and introduce support for TS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  csi/moac/.gitignore
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  doc/vscode.md
  mayastor-test/package-lock.json
  mayastor-test/package.json
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/nodePackages/README
  nix/pkgs/nodePackages/default.nix
  nix/pkgs/nodePackages/generate.sh
  nix/pkgs/nodePackages/node-env.nix
  nix/pkgs/nodePackages/node-packages.json
  nix/pkgs/nodePackages/node-packages.nix
  scripts/js-check.sh
  shell.nix
Due: js-lint

uring: remove uring support for now.
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/pool.rs
  shell.nix
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

Implement flush support for Nexus. CAS-329 (#291)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint

Provision NVMe-oF volumes. CAS-81 (#302)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  deploy/mayastor-daemonset.yaml
  deploy/storage-class.yaml
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint, js-lint

Basic node bringup and pool & child creation
  .github/workflows/build.yaml
  .github/workflows/nix-tests.yaml
  doc/github-runner-setup.md
  nix/tests/basic-mayastor.nix
  nix/tests/mylib.py
Due: none

cli: reorganize code
  mayastor/Cargo.toml
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/cli/nexus.rs
  mayastor/src/bin/cli/pool.rs
  mayastor/src/bin/cli/replica.rs
  mayastor/src/client.rs
  shell.nix
Due: rust-style, rust-lint

gRPC: add bdev cli and grpc
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/pool_cli.rs
  mayastor/src/bin/cli/replica_cli.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/tests/nvmf.rs
  nix/pkgs/mayastor/default.nix
  rpc/proto/mayastor_service.proto
  shell.nix
Due: rust-style, rust-lint

iSCSI: add claim on bdev when shared
  mayastor/src/bin/cli/cli.rs
  mayastor/src/target/iscsi.rs
  mayastor/tests/iscsi_tgt.rs
Due: rust-style, rust-lint

CSI attach idempotency. CAS-340
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
Due: rust-style, rust-lint

Address @gila review
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
Due: rust-style, rust-lint

CSI attach idempotency. CAS-340 (#320)
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
Due: rust-style, rust-lint

Move rbac rules for moac to a separate yaml file
  deploy/README.md
  deploy/moac-deployment.yaml
  deploy/moac-rbac.yaml
Due: none
