Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

nexus: Close child when destroying all Nexus children
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint

Update README.md
  README.md
Due: none

Linter fixes
  jsonrpc/src/test.rs
  mayastor/dbg.sh
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/replica_timeout.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

Move moac and mayastor-test from node v10 to v12
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/nexus.js
  csi/moac/node-composition.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/package-lock.json
  csi/moac/test/workq_test.js
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/nodePackages/default.nix
  nix/pkgs/nodePackages/generate.sh
  nix/pkgs/nodePackages/node-packages.nix
  shell.nix
Due: js-lint

Add CI tests for CSI iSCSI
  .github/workflows/build.yaml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  deploy/mayastor-daemonset.yaml
  mayastor-test/test_common.js
  mayastor-test/test_csi_common.js
  mayastor-test/test_csi_iscsi.js
  mayastor-test/test_csi_nbd.js
  test.sh
Due: rust-style, rust-lint, js-lint

review NVME_ADMIN_CMD_IOCLT -> NVME_ADMIN_CMD_IOCTL
  nvmeadm/src/lib.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

linter changes
  jsonrpc/src/test.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/replica_timeout.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

More fixes requested by reviewer
  .github/workflows/build.yaml
Due: none

Address reviewer request
  .github/workflows/build.yaml
  csi/src/mount.rs
  csi/src/server.rs
  mayastor-test/test_csi.js
  mayastor-test/test_csi_common.js
  mayastor-test/test_csi_iscsi.js
  mayastor-test/test_csi_nbd.js
  test.sh
Due: rust-style, rust-lint, js-lint

Yet another reviewer request.
  mayastor-test/test_common.js
Due: js-lint

Add CI tests for CSI iSCSI (#260)
  .github/workflows/build.yaml
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
  deploy/mayastor-daemonset.yaml
  jsonrpc/src/test.rs
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/replica_timeout.rs
  nvmeadm/src/lib.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint, js-lint

moac: mayastor node custom resource definition
  csi/moac/README.md
  csi/moac/crds/mayastornode.yaml
  csi/moac/csi_node_operator.js
  csi/moac/event_stream.js
  csi/moac/index.js
  csi/moac/node.js
  csi/moac/node_operator.js
  csi/moac/registry.js
  csi/moac/test/csi_node_operator_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/index.js
  csi/moac/test/nats_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/node_test.js
  csi/moac/test/registry_test.js
  csi/moac/volume_operator.js
  deploy/README.md
  deploy/moac-deployment.yaml
Due: js-lint

Remove unused vec from filesystem struct
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

cas-144 Allow default nexus and replica iSCSI target ports (and the default nvmf port) to be overridden
  mayastor/src/core/env.rs
  mayastor/src/subsys/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

Moved constants for default ports to subsys/opts.rs
  mayastor/src/subsys/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint

Use vector of strings for filesystems
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

Remove unused vec from filesystem struct (#263)
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

CAS-144 Allow default nexus and replica iSCSI target and nvmf ports to be overridden. (#261)
  mayastor/src/core/env.rs
  mayastor/src/subsys/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

Address review comments
  jsonrpc/src/test.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/lock_lba_range.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

ci: Have the linter check all javascript files
  .github/workflows/pr.yaml
  mayastor-test/sudo.js
Due: js-lint

CAS-241. Functionality to store and query a record of the most recent errored (#266)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/subsys/config.rs
  mayastor/src/subsys/opts.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_store.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

mayastor: add simple scheduling logic
  .github/workflows/build.yaml
  .pre-commit-config.yaml
  Cargo.lock
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/jsonrpc.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/test_config.json
  nvmeadm/tests/discovery_test.rs
  shell.nix
  spdk-sys/Cargo.toml
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/logwrapper.c
  spdk-sys/logwrapper.h
  spdk-sys/src/lib.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

nix: allow to enter devshell with local libspdk
  shell.nix
Due: none

fix
  .github/workflows/build.yaml
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/core/env.rs
  mayastor/src/core/reactor.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  nvmeadm/test_config.json
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

Update terraform config
  terraform/README.adoc
  terraform/main.tf
  terraform/mod/k8s/main.tf
  terraform/mod/k8s/master.sh
  terraform/mod/k8s/node.sh
  terraform/mod/k8s/repo.sh
  terraform/variables.tf
Due: none

Address reviewer requests
  terraform/mod/k8s/master.sh
  terraform/variables.tf
Due: none

Update terraform config (#268)
  terraform/README.adoc
  terraform/main.tf
  terraform/mod/k8s/main.tf
  terraform/mod/k8s/master.sh
  terraform/mod/k8s/node.sh
  terraform/mod/k8s/repo.sh
  terraform/variables.tf
Due: none

nexus: Initial NVMEoF nexus implementation
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_nvmf.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bin/initiator.rs
Due: rust-style, rust-lint, js-lint

mbus utility program for sending messages to NATS
  csi/moac/mbus.js
  csi/moac/package.json
  csi/moac/test/index.js
Due: js-lint

Reduce the size of MOAC docker image
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
Due: none

CAS-214: Add support to lock/unlock LBA ranges (#254)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  jsonrpc/src/test.rs
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_metadata.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  nvmeadm/src/nvmf_discovery.rs
  spdk-sys/build.rs
Due: rust-style, rust-lint, js-lint

rebuild: more testing bug fixes (CAS-246)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint

Address review comments
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

test CI failure
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: more testing bug fixes (CAS-246) (#246)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint

rebuild: frontend IO whilst rebuilding (CAS-273)
  .gitignore
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Add pause/resume rebuild support (#158)
  .github/workflows/teamrebuild_ci.yml
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
Due: rust-style, rust-lint, js-lint
