Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

nix: allow the use of local sources
  Cargo.lock
  default.nix
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/core/dma.rs
  mayastor/src/jsonrpc.rs
  mayastor/src/subsys/mod.rs
  nix/lib/rust.nix
  nix/mayastor-overlay.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  shell.nix
  spdk-sys/Cargo.toml
  spdk-sys/README.md
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/logwrapper.c
  spdk-sys/src/lib.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

nix: add image creation
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/terraform-provider-lxd/default.nix
  scripts/test.sh
  shell.nix
Due: none

uring: remove uring support for now.
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/pool.rs
  shell.nix
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

nix: must use version
  nix/pkgs/libspdk/default.nix
Due: none

nix: rework the binding layouts
  .github/workflows/pr.yaml
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint

nix: add bash to shell.nix
  shell.nix
Due: none

build: set target-arch to nehalem
  .cargo/config
Due: none

CI: update to reflect changes
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
  .github/workflows/pr.yaml
  Cargo.lock
  mayastor/tests/common/mod.rs
  nix/lib/rust.nix
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/ms-buildenv/default.nix
  nix/sources.json
  scripts/cargo-test.sh
  scripts/node-test.sh
  shell.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

CI: add back csi test
  scripts/node-test.sh
Due: none

CI: switch over :gila -> :latest
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

CI: use node/node12 for nodejs linting
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  shell.nix
Due: none

CI: node:12 not node/node:12
  .github/workflows/pr.yaml
Due: none

nix: introduce sources.json
  default.nix
  nix/lib/nixPackages.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/liburing/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: none

Integrate rust client for NATS with mayastor/SPDK
  Cargo.lock
  deploy/mayastor-daemonset.yaml
  mayastor-test/package-lock.json
  mayastor-test/package.json
  mayastor-test/test_common.js
  mayastor-test/test_nats.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/Cargo.toml
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  mayastor/src/nats.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/node-test.sh
  scripts/test.sh
Due: rust-style, rust-lint, js-lint

cas-206 changes to support generic URIs
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_config.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/bdev/util/mod.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/bdev/util/uring.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/bdev.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint

cas-206 updated nix checksum for mayastor-vendor
  nix/pkgs/mayastor/default.nix
Due: none

cas-206 corrected instructions in comment
  mayastor/src/bdev/dev.rs
Due: rust-style, rust-lint

moac: unpublish old volume (CAS-326)
  csi/moac/csi.js
  csi/moac/test/csi_test.js
Due: js-lint

moac: unpublish old volume (CAS-326) (#301)
  csi/moac/csi.js
  csi/moac/test/csi_test.js
Due: js-lint

CAS-206 changes to support generic URIs for manipulating bdevs (#296)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_config.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/bdev/util/mod.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/bdev/util/uring.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/bdev.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/tests/core.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Provision NVMe-oF volumes. CAS-81
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  deploy/mayastor-daemonset.yaml
  deploy/storage-class.yaml
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint, js-lint

update checksum
  nix/pkgs/mayastor/default.nix
Due: none

address PY's review comments
  csi/src/node.rs
  csi/src/node/nvmfutil.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

Fix nvmeadm test failure
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

address CJ and TC review request
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

Provision NVMe-oF volumes. CAS-81 (#302)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  deploy/mayastor-daemonset.yaml
  deploy/storage-class.yaml
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint, js-lint

Fix CSI plugin crash. CAS-335
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
Due: rust-style, rust-lint

Address PYoong's review
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
Due: rust-style, rust-lint
