Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Cleanup nexus iscsi sessions after mocha CSI tests. CAS-439 (#395)
  mayastor-test/test_csi.js
Due: js-lint

Create documentation.md issue template
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

Proper mayastor debug package and code cleanup.
  .github/workflows/image.yaml
  csi/moac/README.md
  csi/moac/default.nix
  doc/build.md
  nix/lib/version.nix
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  nix/test/basic/fio_nvme_basic.nix
  nix/test/rebuild/rebuild.nix
  terraform/README.adoc
Due: none

Want simple performance tool
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint

lvs: redo the error handling and implicit share
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint, js-lint

nexus: fix error messages
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

lvs: delete the base bdev if lvs creation fails
  mayastor/src/core/thread.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

Address review check accesstype before any actions
  csi/src/node.rs
Due: rust-style, rust-lint

CAS-399 Ensure status field in NioCtx is always defined. (#378)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

CAS-400: Fix nvmf reconnect (#380)
  nix/pkgs/libspdk/default.nix
Due: none

CAS-332: rework the pool layer
  mayastor/src/core/mod.rs
  mayastor/src/ffihelper.rs
  mayastor/src/lib.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/lvs/pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

CAS-407: moac pool resource ignored (#390)
  csi/moac/pool_operator.js
  csi/moac/test/node_stub.js
  csi/moac/test/pool_operator_test.js
Due: js-lint

Update README.md (#382)
  deploy/README.md
Due: none

grpc: make use of the new lvs and lvol implementation
  Cargo.lock
  Cargo.toml
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/pool.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  nix/pkgs/mayastor/default.nix
  rpc/src/lib.rs
Due: rust-style, rust-lint, js-lint

CAS-402: Fix cancel_child_rebuild_jobs (#387)
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

address review comment call get_access_type just once.
  csi/src/node.rs
Due: rust-style, rust-lint

Lazy instance has previously been poisoned in rust tests (CAS-432)
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

replica: Implement create_snapshot
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint

nexus: ensure that drop is called on init_thread
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/thread.rs
  mayastor/tests/nexus_share.rs
Due: rust-style, rust-lint

Add nix network disconnection test. (#394)
  nix/test/default.nix
  nix/test/disconnect/disconnect.nix
  nix/test/disconnect/mayastor-config.yaml
Due: none

snapshots: Add regression test via initiator
  mayastor-test/test_replica.js
  mayastor/src/bin/initiator.rs
Due: rust-style, rust-lint, js-lint

bdev: update some comments
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

share: adjust tests to Off variant
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/nexus_share.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

test: fix mount_fs intermittent failures
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/cpu_cores.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

grpc: add stats grpc call
  mayastor-test/test_common.js
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/pool_grpc.rs
Due: rust-style, rust-lint, js-lint

New debug package libspdk-dev.
  mayastor/tests/replica_snapshot.rs
  nix/mayastor-overlay.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  shell.nix
Due: rust-style, rust-lint

Add mocha tests for CSI block volumes. CAS-379 (#391)
  Cargo.lock
  csi/Cargo.toml
  csi/src/block_vol.rs
  csi/src/error.rs
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

Correcting minor typo in nvmf target.rs, log msg during target final init phase(role -> role) (#400)
  mayastor/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

bdev: add share info to bdev rcp call
  mayastor/src/grpc/bdev_grpc.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

add tini init system to the fio container (#384)
  deploy/fio.yaml
Due: none

lvs: remove the None protocol variant
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
