Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

refactor(moac): drop support for NBD in CSI
  csi/moac/.gitignore
  csi/moac/csi.ts
  csi/moac/nexus.ts
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/csi_test.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  csi/moac/volume.ts
Due: js-check

fix(ci): remove debug flag
  rest/tests/v0_test.rs
Due: rust-style, rust-lint

fix(moac): serialize volume creation
  csi/moac/.gitignore
  csi/moac/csi.ts
  csi/moac/node.ts
  csi/moac/node_operator.ts
  csi/moac/package.json
  csi/moac/pool_operator.ts
  csi/moac/test/csi_test.js
  csi/moac/test/volumes_test.js
  csi/moac/test/workq_test.js
  csi/moac/tsconfig.json
  csi/moac/volume_operator.ts
  csi/moac/volumes.ts
  csi/moac/workq.js
  csi/moac/workq.ts
Due: js-check

fix(nexus): replace NexusChild destroying flag with child state
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/grpc/nexus_grpc.rs
Due: rust-style, rust-lint

fix(nexus): allow re-adding child removed by AEN
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/env.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

ci: disable cluster cleanup on test fail
  scripts/e2e-test.sh
  test/e2e/common/util.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat(nvmx): i/o timeouts for nvme controller
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

ci: fix uninstall to work around lingering pod
  test/e2e/uninstall/uninstall_test.go
Due: none

feat(control plane): allow images to be built
  doc/build.md
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/release.sh
  terraform/README.adoc
Due: none

refactor(rest): improve rest versions
  Cargo.lock
  Cargo.toml
  mayastor-macros/actix/src/lib.rs
  mbus-api/src/lib.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/default.nix
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/service/src/v0/children.rs
  rest/service/src/v0/mod.rs
  rest/service/src/v0/nexuses.rs
  rest/service/src/v0/nodes.rs
  rest/service/src/v0/pools.rs
  rest/service/src/v0/replicas.rs
  rest/service/src/v0/swagger_ui.rs
  rest/service/src/v0/volumes.rs
  rest/src/versions/v0.rs
Due: rust-style, rust-lint

refactor(rest): add cmdline certificate arg
  rest/service/src/main.rs
  rest/tests/v0_test.rs
  services/deployer/src/infra/rest.rs
Due: rust-style, rust-lint

ci(e2e): notify slack of k8s cluster left running
  Jenkinsfile
Due: none

ci: e2e refinements 1
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
  test/e2e/pvc_stress_fio/README.md
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
Due: none

test: wip
  scripts/e2e-test.sh
Due: none

test(e2e): send install report
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/test.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/install/install_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat: rework build docs
  .gitignore
  doc/build.md
  doc/run.md
  doc/test.md
  nix/pkgs/mayastor/default.nix
  rust-toolchain
  shell.nix
Due: none

refactor(nvmx): more abstractions for spdk objects
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
Due: rust-style, rust-lint

feat(rest): expose json rpc methods
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/send.rs
  mbus-api/src/v0.rs
  rest/service/src/v0/jsongrpc.rs
  rest/service/src/v0/mod.rs
  rest/src/lib.rs
  services/Cargo.toml
  services/common/src/wrapper/v0/mod.rs
  services/jsongrpc/src/server.rs
  services/jsongrpc/src/service.rs
Due: rust-style, rust-lint

feat(nvmx): i/o timeouts for nvme controller (#675)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

fix(nexus): set children to destroying state on shutdown
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

ci(helm): clean up deploy yamls and improve helm templates
  chart/README.md
  chart/templates/_helpers.tpl
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/templates/moac-deployment.yaml
  chart/templates/moac-rbac.yaml
  chart/templates/nats-deployment.yaml
  chart/templates/pool.yaml
  chart/values.yaml
  deploy/README.md
  deploy/csi-daemonset.yaml
  deploy/fio.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
  deploy/monitor/README.md
  deploy/monitor/grafana/dashboards.yaml
  deploy/monitor/grafana/datasources.yaml
  deploy/monitor/grafana/mayastor-dashboard.json
  deploy/monitor/monitor-deployment.yaml
  deploy/monitor/telegraf-config.yaml
  deploy/namespace.yaml
  deploy/pvc.yaml
  scripts/generate-deploy-yamls.sh
  test/e2e/install/install_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

ci: add post 3rd party test resource check CAS-691
  scripts/e2e-test.sh
  test/e2e/common/util.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

test: send xray reports
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/test.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/install/install_test.go
  test/e2e/node_disconnect/README.md
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

refactor(nix): control plane nix derivations
  control-plane/deployer/src/bin.rs
  nix/mayastor-overlay.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/cargo-test.sh
Due: rust-style, rust-lint

feat(deployer): ability to deploy JsonGrpc service
  control-plane/agents/jsongrpc/src/server.rs
  control-plane/deployer/src/infra/mod.rs
Due: rust-style, rust-lint

test: send xray reports
  Jenkinsfile
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/junit/junit.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/install/install_test.go
  test/e2e/node_disconnect/README.md
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

ci: support for running nightly e2e tests
  Jenkinsfile
  scripts/e2e-test.sh
Due: none

refactor(nvmx): more abstractions for spdk objects (#687)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
Due: rust-style, rust-lint

test: send xray reports
  Jenkinsfile
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/reporter/junit.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/install/install_test.go
  test/e2e/node_disconnect/README.md
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

refactor(json): tweak the jsongrpc methods
  control-plane/agents/common/src/wrapper/v0/mod.rs
  control-plane/agents/jsongrpc/src/service.rs
  control-plane/mbus-api/src/message_bus/v0.rs
  control-plane/mbus-api/src/v0.rs
  control-plane/rest/service/src/v0/jsongrpc.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/src/lib.rs
Due: rust-style, rust-lint

refactor(deployer): split into library and binary
  control-plane/deployer/Cargo.toml
  control-plane/deployer/bin/src/deployer.rs
  control-plane/deployer/src/infra/mayastor.rs
  control-plane/deployer/src/infra/mod.rs
  control-plane/deployer/src/lib.rs
Due: rust-style, rust-lint

fix(mayastor): fallible replica share (CAS-714)
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
Due: rust-style, rust-lint

feat(nvmx): initial support of device events
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

chore(deployment): Update k8s deployment config files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

chore(release): Revert k8s deployment config files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none
