Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

feat(nvmx): set of new features for device handles (#632)
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: abstract options
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

feat(nvmx): controller shutdown/removal (#648)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint

refactor(nvmx): more abstractions for spdk objects (#687)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
Due: rust-style, rust-lint

mempool for managing preallocated set of elements based on xPDK memory pool API.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

NVMe controller discovery added, + refactored directory structure.
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/descriptor.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: abstract probe context
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: use std::Drop for controller destruction
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

fix: adjust to new IO enum types
  Cargo.lock
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
Due: rust-style, rust-lint

feat: enable cargo build on aarch64
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bin/spdk.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/env.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/target.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/logwrapper.c
  spdk-sys/src/lib.rs
Due: rust-style, rust-lint

feat: enable nix-shell on aarch64
  .cargo/config
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

feat: aarch64 passing tests
  shell.nix
Due: none

chore: finangle multi ISA builds
  .cargo/config
  nix/pkgs/libspdk/default.nix
  rust-toolchain
  spdk-sys/build.rs
Due: rust-style, rust-lint

chore: re-enable on x86_64
  .cargo/config
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bin/spdk.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/env.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/target.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/src/lib.rs
Due: rust-style, rust-lint

chore: compat finangling
  nix/pkgs/libspdk/default.nix
  spdk-sys/logwrapper.c
Due: none

fix: correct safety of maya_log
  mayastor/.cargo/config
  spdk-sys/logwrapper.c
Due: none

fix: try to log the full spdk msg
  spdk-sys/logwrapper.c
Due: none

chore: try to enable cross builds
  default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
Due: none

chore: delay cross builds
  nix/pkgs/libspdk/default.nix
Due: none

chore: update docs
  doc/run.md
Due: none

fix: mayastor-client nexus create accept many children
  mayastor/src/bin/mayastor-client/nexus_cli.rs
Due: rust-style, rust-lint

feat: unify mayastor-client address/port flags
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor-client/context.rs
  mayastor/src/bin/mayastor-client/main.rs
Due: rust-style, rust-lint

chore: fix cli tests to use -b
  nix/pkgs/mayastor/default.nix
  test/grpc/test_cli.js
Due: js-check

feat(nexus): allow shared replica to be added as local child
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  mayastor/tests/nexus_multipath.rs
  mayastor/tests/nexus_share.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

chore: clean up and refine spdk use
  rust-toolchain
  spdk-sys/build.rs
  spdk-sys/logwrapper.c
Due: rust-style, rust-lint

test(e2e): extend e2e continuous tests
  Jenkinsfile
  scripts/e2e-test.sh
Due: none

fix(moac): mayastor pool state is shown as blank
  chart/templates/moac-deployment.yaml
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
  deploy/moac-deployment.yaml
Due: none

feat: make bdev share protocol argument as an option
  mayastor/src/bin/mayastor-client/bdev_cli.rs
Due: rust-style, rust-lint

fix: maintain consistency with other args
  mayastor/src/bin/mayastor-client/bdev_cli.rs
Due: rust-style, rust-lint

test(e2e): avoid conflicts in metrics port usage
  test/e2e/common/test.go
  test/e2e/install/install_test.go
Due: none

chore: touchup log wrapper lints and comments
  spdk-sys/logwrapper.c
Due: none

feat: make bdev create parameters strict
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/null.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/util/uri.rs
Due: rust-style, rust-lint

ci: i/o soak test - NVMe over TCP. MQ-25
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_node.go
  test/e2e/common/util_pvc.go
  test/e2e/common/util_testpods.go
  test/e2e/io_soak/README.md
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

test(e2e): avoid allocating agents if not needed
  Jenkinsfile
Due: none

feat(nvmx): extended nvmx i/o completion status
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

ci: fixes for correctness and maintainability MQ-232
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/.idea/.gitignore
  test/e2e/.idea/e2e.iml
  test/e2e/.idea/modules.xml
  test/e2e/.idea/vcs.xml
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/reporter/junit.go
  test/e2e/common/test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_mayastor_crds.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/csi/dynamic_provisioning_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/install/install_test.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

fix: remove ide files
  test/e2e/.idea/.gitignore
  test/e2e/.idea/e2e.iml
  test/e2e/.idea/modules.xml
  test/e2e/.idea/vcs.xml
Due: none

fix: ignore files under .idea
  .gitignore
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
