Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --fix
  pass_filenames: true
  language: system

reset test
  mayastor/src/core/handle.rs
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

CAS-196 Test nvmeadm against an nvmf target
  .github/workflows/build.yaml
  nvmeadm/.cargo/config
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

Add back in the test of nvmeadm that got missed in the previous squashing.
  .github/workflows/build.yaml
Due: none

v2 is now out of beta
  .github/workflows/build.yaml
Due: none

env: expose environment context parameters
  .github/workflows/build.yaml
  mayastor/src/core/env.rs
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

Add debug for mempool
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

github action upload/download v2 is now out of beta (#213)
  .github/workflows/build.yaml
Due: none

terraform: Fix k8s worker nodes on LXD
  terraform/mod/k8s/node.sh
Due: none

moac: Strip URI scheme from disks when constructing Pool
  csi/moac/pool.js
  csi/moac/test/mayastor_mock.js
Due: js-lint

one more possibly dumb attempt to install open-iscsi on the CI build/test VM
  .github/workflows/build.yaml
Due: none

Use the Caro256hashvalue required by the freakin' CI
  nix/pkgs/mayastor/default.nix
Due: none

Ignore irrelevant errors in test destroy disk
  mayastor-test/test_replica.js
Due: js-lint

On unstage only invoke iscsiadm if it can be found
  Cargo.lock
  csi/Cargo.toml
  csi/src/node/iscsiutil.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Use URL parsing instead of regex for iscsi uri
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Some more review fixes.
  csi/src/node/iscsiutil.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Fix cargo256 hash value.
  nix/pkgs/mayastor/default.nix
Due: none

Retract dumb attempt
  .github/workflows/build.yaml
Due: none

Fixes for review
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Remove apt frippery
  .github/workflows/build.yaml
Due: none

Tidy up iscsi detach after unmount
  csi/src/node.rs
Due: rust-style, rust-lint

Add iSCSI front-end support to CSI layer
  Cargo.lock
  csi/Cargo.toml
  csi/moac/csi.js
  csi/moac/nexus.js
  csi/moac/package.json
  csi/moac/volume.js
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
  deploy/mayastor-daemonset.yaml
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/grpc.rs
  mayastor/src/pool.rs
  mayastor/src/target/iscsi.rs
  nix/pkgs/mayastor/default.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Ensure postulated public_context matches nexuses
  csi/src/node.rs
  mayastor-test/test_csi.js
Due: rust-style, rust-lint, js-lint

Try install open-iscsi using apt-get
  .github/workflows/build.yaml
Due: none

Review fixes.
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Use once_cell instead of lazy_static
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
  mayastor/Cargo.toml
Due: rust-style, rust-lint

Update Cargo256 hash value
  nix/pkgs/mayastor/default.nix
Due: none

Attempt to fix CI run failure.
  .github/workflows/build.yaml
Due: none

Fix most but not all review requests.
  .gitignore
  Cargo.lock
  csi/Cargo.toml
  csi/moac/volume.js
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/grpc.rs
  mayastor/src/target/iscsi.rs
  nix/pkgs/mayastor/default.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Add iSCSI front-end support to CSI layer (#206)
  .gitignore
  Cargo.lock
  csi/Cargo.toml
  csi/moac/csi.js
  csi/moac/nexus.js
  csi/moac/package.json
  csi/moac/volume.js
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  deploy/mayastor-daemonset.yaml
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/pool.rs
  mayastor/src/target/iscsi.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

Improve the state/status confusion
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Increate huge pages to 8192
  .github/workflows/build.yaml
Due: none

CAS-225. Handling for reset IO in nexus function table. (#216)
  .github/workflows/build.yaml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/core/env.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/tests/reset.rs
Due: rust-style, rust-lint

Use 8192 huge pages throughout the test
  .github/workflows/build.yaml
Due: none

Use 8192 huge pages throughout the test (#217)
  .github/workflows/build.yaml
Due: none

Redirect to new gRPC & remove old interface
  .github/workflows/build.yaml
  .pre-commit-config.yaml
  csi/src/mayastor_svc.rs
  csi/src/mount.rs
  csi/src/server.rs
  doc/csi.md
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/target/nvmf.rs
  nix/pkgs/mayastor/default.nix
  test.sh
Due: rust-style, rust-lint, js-lint

CAS-177 Redirect to new gRPC & remove old interface (#218)
  .github/workflows/build.yaml
  .pre-commit-config.yaml
  csi/src/mayastor_svc.rs
  csi/src/mount.rs
  csi/src/server.rs
  doc/csi.md
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/target/nvmf.rs
  nix/pkgs/mayastor/default.nix
  test.sh
Due: rust-style, rust-lint, js-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
