Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

fix(moac): do not destroy the volume twice
  csi/moac/volume_operator.ts
Due: none

feat(persistence): add persistent store
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_persistence.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/src/core/runtime.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/lib.rs
  mayastor/src/persistent_store.rs
  mayastor/src/sleep.rs
  mayastor/src/store/etcd.rs
  mayastor/src/store/mod.rs
  mayastor/src/store/store_defs.rs
  mayastor/tests/persistence.rs
  nix/pkgs/mayastor/cargo-package.nix
  rpc/build.rs
  rpc/proto/persistence.proto
  rpc/src/lib.rs
  shell.nix
Due: rust-style, rust-lint

refactor: move definition of persistent structures
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_persistence.rs
  mayastor/src/persistent_store.rs
  mayastor/tests/persistence.rs
  rpc/build.rs
  rpc/proto/persistence.proto
  rpc/src/lib.rs
  shell.nix
Due: rust-style, rust-lint

fix(moac): timeouts when updating volume custom resource
  csi/moac/test/volume_operator_test.js
  csi/moac/volume_operator.ts
Due: js-check

fix: don't complete volume destroy until it's done
  csi/moac/volume.ts
Due: none

fix: don't succeed volume creation if it failed
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: none

chore: add mayastor argument for etcd
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

fix: don't use rbac for etcd on release charts
  chart/release/values.yaml
Due: none

test(python): add ssh support
  test/python/README.md
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/nvme.py
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: none

test(python): implement FioSpdk
  test/python/common/fio_spdk.py
Due: none

feat(spdk-sys): build SPDK with fio_plugin
  nix/mayastor-overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.sh
Due: none

test(python): initial python tests
  test/python/README.md
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/hdl.py
  test/python/common/nvme.py
  test/python/common/volume.py
  test/python/conftest.py
  test/python/docker-compose.yml
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/shell.nix
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: none

ci: clean jenkins workspace before build
  Jenkinsfile
Due: none

test(e2e): disable e2e tests
  Jenkinsfile
Due: none

test(e2e): re-enable e2e testing
  Jenkinsfile
Due: none

feat: build against SPDK 21.04
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/libspdk/default.nix
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

Update demo etcd statefulset.yaml
  deploy/etcd/statefulset.yaml
Due: none

feat(moac): switch to grpc-js from grpc-uds
  chart/templates/moac-deployment.yaml
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/src/csi.ts
  csi/moac/src/grpc_client.ts
  csi/moac/src/nexus.ts
  csi/moac/test/csi_test.js
  csi/moac/test/grpc_client_test.js
  csi/moac/test/grpc_enums.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/persistence_test.ts
  deploy/moac-deployment.yaml
  nix/pkgs/images/default.nix
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/nvmet-cli/default.nix
  nix/sources.json
  shell.nix
  test/grpc/grpc_enums.js
  test/grpc/package-lock.json
  test/grpc/package.json
  test/grpc/test_csi.js
  test/grpc/test_rebuild.js
Due: js-check

fix(moac): forgotten returns can trigger asserts
  csi/moac/src/volume.ts
Due: none

test(e2e): fixes for nightly runs
  Jenkinsfile
Due: none

fix(moac): volume remains in destroyed state
  csi/moac/src/grpc_client.ts
  csi/moac/src/nexus.ts
  csi/moac/src/node.ts
  csi/moac/src/pool.ts
  csi/moac/src/registry.ts
  csi/moac/src/replica.ts
  csi/moac/src/volume.ts
  csi/moac/test/grpc_client_test.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
Due: js-check

fix(moac): use filtered replicaSet
  csi/moac/src/volume.ts
Due: none

fix: don't add the same loopback device to the nexus
  mayastor/src/bdev/loopback.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/nexus_uri.rs
  mayastor/tests/nexus_with_local.rs
Due: rust-style, rust-lint

fix(nexus): removing a loopback replica that is already shared
  mayastor/src/core/descriptor.rs
  mayastor/tests/nexus_multipath.rs
Due: rust-style, rust-lint

fix(mayastor): register callbacks after open
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/child_size.rs
Due: rust-style, rust-lint

fix(nexus): allow double retire(s)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

feat(nexus): kato resets
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_persistence.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/thread.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/mbus/registration.rs
  mayastor/tests/persistence.rs
  nix/mayastor-overlay.nix
  nix/pkgs/mayastor/cargo-package.nix
  shell.nix
  spdk-sys/build.sh
  test/python/README.md
  test/python/docker-compose.yml
  test/python/requirements.txt
  test/python/shell.nix
Due: rust-style, rust-lint

fix(moac): avoid duplicating watcher upon restart
  csi/moac/src/watcher.ts
Due: none

chore: add additional error
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
Due: rust-style, rust-lint

feat(moac): defer labeling of replicas to volume publish
  csi/moac/src/volume.ts
  csi/moac/test/volumes_test.js
Due: js-check

fix(spdk): restored iscsi initiator module in spdk binary
  spdk-sys/build.sh
Due: none

feat(nexus): separate pool configuration from other mayastor configuration
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/pool.rs
  mayastor/src/subsys/mod.rs
  nvmeadm/tests/discovery_test.rs
  test/grpc/test_common.js
  test/grpc/test_csi.js
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

feat(yaml): enable mayastor trace for some images
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/test/values.yaml
Due: none

test(python): add a nexus create/destroy test and update FioSpdk
  test/python/common/fio_spdk.py
  test/python/common/hdl.py
  test/python/docker-compose.yml
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
  test/python/test_nexus_create_destroy.py
Due: none

chore: add memory and vcpu variables to terraform
  terraform/main.tf
  terraform/mod/libvirt/main.tf
  terraform/mod/lxd/main.tf
  terraform/variables.tf
Due: none

chore(mayastor): remove code to create metadata index on "MayaMeta" partition
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

feat(moac): serialize all CSI create and publish requests
  csi/moac/src/csi.ts
  csi/moac/src/volumes.ts
  csi/moac/test/csi_test.js
  csi/moac/test/volumes_test.js
Due: js-check

feat(nexus): serialize gRPC requests
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  test/python/test_null_nexus.py
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
