Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

build: support podman for load/pushing container images
  doc/build.md
  doc/run.md
  scripts/release.sh
Due: none

build: update dependencies and release.sh
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

feat: allow custom fabrics connect timeout
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(nvmx/qpair): return errno with absolute value
  io-engine/src/bdev/nvmx/qpair.rs
Due: rust-style, rust-lint

fix(nexus-child/unplug): remove usage of block_on
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

feat(spdk): updating to spdk 24.05
  io-engine-tests/src/error_bdev.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/uring.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

fix(nvmf/target): remove usage of block_on
  io-engine/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

chore: add warning to block_on
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/core/reactor.rs
  io-engine/src/grpc/mod.rs
Due: rust-style, rust-lint

chore: update reviewers and default assignee
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/auto_assign.yml
Due: none

refactor(stats): use new ops interface
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/stats.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvol_iter.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
Due: rust-style, rust-lint

refactor(snapshot): remove unused create-snapshot
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/mod.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/src/subsys/nvmf/mod.rs
  io-engine/tests/replica_snapshot.rs
Due: rust-style, rust-lint

refactor(backends): reuse common factory code
  io-engine/src/bdev/device.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
Due: rust-style, rust-lint

ci: use sudo to remove test files
  scripts/cargo-test.sh
  scripts/clean-cargo-tests.sh
Due: none

refactor(wipe): use new backend traits
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
Due: rust-style, rust-lint

fix(rebuild): ensure comms channel is drained on drop
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_state.rs
Due: rust-style, rust-lint

fix(opts): convert adminq poll period to us
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(rebuild): ensure comms channel is drained on drop
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
Due: rust-style, rust-lint

test(wipe): allow wipes on snapshots
  io-engine/src/grpc/v1/test.rs
  io-engine/src/replica_backend.rs
Due: rust-style, rust-lint

fix(nvmx/retire): disconnect failed controllers
  io-engine-tests/src/compose/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/controller_inner.rs
  io-engine/src/core/device_events.rs
  io-engine/src/core/env.rs
  io-engine/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat: add RDMA listener to Mayastor Nvmf target
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/src/subsys/nvmf/transport.rs
  io-engine/src/target/nvmf.rs
  io-engine/tests/nvmf.rs
Due: rust-style, rust-lint

fix: invalid error code on locked resource
  io-engine/src/grpc/mod.rs
Due: rust-style, rust-lint

feat: use transport specific nvmf uri scheme
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev_api.rs
  io-engine/src/core/bdev.rs
  io-engine/src/subsys/nvmf/transport.rs
  io-engine/src/target/nvmf.rs
  io-engine/tests/nvmf.rs
  libnvme-rs/src/nvme_uri.rs
  test/grpc/test_common.js
  test/grpc/test_replica.js
Due: rust-style, rust-lint, js-check

fix(host-devices): extend allowed major list
  io-engine/src/host/blk_device.rs
Due: rust-style, rust-lint

chore(deps): update Cargo.lock to build with latest rust
  Cargo.lock
Due: none

feat(lvs): adding support for pool grow and related tests
  Cargo.lock
  io-engine-tests/src/bdev.rs
  io-engine-tests/src/compose/mod.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/pool.rs
  io-engine/Cargo.toml
  io-engine/examples/lvs-eval/display.rs
  io-engine/examples/lvs-eval/main.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bdev/malloc.rs
  io-engine/src/bdev_api.rs
  io-engine/src/bin/io-engine-client/v1/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/error.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/vg_pool.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_grow.rs
  io-engine/tests/lvs_import.rs
  io-engine/tests/lvs_limits.rs
  io-engine/tests/lvs_pool.rs
  io-engine/tests/nexus_with_local.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

feat(io-engine): listen on IPv6 unspecified by default
  io-engine/src/bin/io-engine.rs
  io-engine/src/bin/nvmet.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/mod.rs
  io-engine/tests/nexus_add_remove.rs
  io-engine/tests/nexus_children_add_remove.rs
Due: rust-style, rust-lint

feat: add mayastor nvmf rdma capability flag in features
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/host.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/src/subsys/nvmf/transport.rs
Due: rust-style, rust-lint

refactor(rebuild): rebuild completion is not an error
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/grpc/v1/snapshot_rebuild.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
Due: rust-style, rust-lint

fix: check valid sct and sc combinations for pi error
  io-engine/src/bdev/nvmx/utils.rs
Due: rust-style, rust-lint

fix(rebuild): reuse rebuild IO handles
  io-engine/src/rebuild/rebuild_descriptor.rs
Due: rust-style, rust-lint
