Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(snapshot): grpc implementation for create snapshot of replica
  io-engine/src/bdev/device.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  test/python/v1/replica/features/replica.feature
  test/python/v1/replica/test_bdd_replica.py
Due: rust-style, rust-lint, python-check

fix(nexus): fixing handling of nexus child I/O failure
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/tests/nexus_fio.rs
Due: rust-style, rust-lint

feat(nexus): implementing log-based rebuild
  Cargo.lock
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/replica.rs
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_log.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

feat(nexus): clean up child faulting methods
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/fault_child.rs
Due: rust-style, rust-lint

feat(snapshot): list snapshot grpc implementation
  io-engine/src/core/mod.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvol_snapshot_iter.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

feat(pool): pool committed size
  io-engine-tests/src/pool.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/nexus_thin.rs
Due: rust-style, rust-lint

fix(nexus): disabling partial rebuild by default
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bin/io-engine.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

feat(nexus): refactoring nexus-related code
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/core/device_events.rs
  io-engine/src/core/device_monitor.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/tests/block_device_nvmf.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

fix(nexus/persistence): use new RemoveChild op in remove_child path
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
Due: rust-style, rust-lint

test(nexus/persistence): modify unit test to handle RemoveChild persistOp
  io-engine/tests/persistence.rs
Due: rust-style, rust-lint

feat(snapshot): remote snapshot creation via nvmx device handle
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/mod.rs
  io-engine/src/bdev/nvmx/snapshot.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/lib.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/sleep.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/snapshot_nexus.rs
  test/grpc/test_replica.js
Due: rust-style, rust-lint, js-check

feat(cli): added additional replica info in replica list
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
Due: rust-style, rust-lint

fix(nexus): making admin command failed state recoverable
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

feat(test): improving test helpers for v1 api
  io-engine-tests/src/bdev.rs
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/fio.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/tests/nexus_child_online.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_fio.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/nexus_thin_no_space.rs
  io-engine/tests/nexus_thin_rebuild.rs
  io-engine/tests/replica_thin.rs
Due: rust-style, rust-lint

feat(snapshot): list, delete snapshot
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  test/python/v1/replica/features/replica.feature
Due: rust-style, rust-lint

feat(snapshot): replica snapshot cli implementation for create and list command
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

build(images): add tag argument
  default.nix
  nix/lib/version.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
  scripts/release.sh
Due: none

chore(rpc): updated dependencies for spdk and cargo packages
  Cargo.lock
  nix/pkgs/libspdk/default.nix
Due: none

chore(spdk): spdk revision changed to point to new snapshot api
  nix/pkgs/libspdk/default.nix
Due: none

feat(snapshot): lvol snapshot creation via generic block device handle
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/initiator.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(nexus): implementing lockless rebuild log
  Cargo.lock
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nexus/nexus_io_log.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/segment_map.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_log.rs
  io-engine/src/rebuild/rebuild_map.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

fix(pytest): fixing failing pytests
  test/python/requirements.txt
Due: none

ci(gha/submodule): ensure submodules point to the right branch
  .github/workflows/pr-submodule-branch.yml
  .gitmodules
  scripts/set-submodule-branches.sh
Due: none

feat(snapshot): change in return parameters for createSnapshot
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
Due: rust-style, rust-lint

chore(deps): io engine dependencies updated
  Cargo.lock
Due: none

chore: remove breaking changes notice
  README.md
Due: none

chore: update dependencies submodule to the tip of develop
  Cargo.lock
Due: none

feat(nexus): flush io operation for nexus
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(nexus): fixing child remove logic
  io-engine-tests/src/fio.rs
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nexus/nexus_io_log.rs
  io-engine/tests/nexus_children_add_remove.rs
Due: rust-style, rust-lint

chore(spdk): spdk revision changed to allow using user-defined snapshot uuids
  nix/pkgs/libspdk/default.nix
Due: none

feat(snapshot): list, delete snapshot
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/snapshot_lvol.rs
  test/python/v1/replica/features/replica.feature
  test/python/v1/replica/test_bdd_replica.py
Due: rust-style, rust-lint, python-check

ci: add submodule check to prevent dangling commits
  .github/workflows/pr-submodule-branch.yml
  Jenkinsfile
  io-engine/src/grpc/v1/nexus.rs
  scripts/check-submodule-branches.sh
Due: rust-style, rust-lint

feat(snapshot): create, list, delete snapshot cli implementation
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
Due: rust-style, rust-lint
