Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(nexus): adding options to configure persistent store timeout
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/persistent_store.rs
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

fix(nexus): shutting down nexus on persistent store failure during retire
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

chore: prepare release 1.0.8
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/check-deploy-yamls.sh
Due: none

feat(clone): grpc createsnapshotclone implementation with cli
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

chore(core): errno mapping for core errors
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_error.rs
Due: rust-style, rust-lint

fix(snapshot): proper error propagation from remote replicas
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

fix(nexus): schedule nexus snapshot operation and completion handler on master core
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nvmx/handle.rs
  test/python/v1/nexus/docker-compose.yml
Due: rust-style, rust-lint

fix(snapshot): return proper errorcode for createsnapshot
  io-engine/src/core/bdev.rs
  io-engine/src/grpc/v1/snapshot.rs
Due: rust-style, rust-lint

fix(nexus/io): set nvmf subsystem as frozen
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_io_subsystem.rs
Due: rust-style, rust-lint

test(nexus/fault): add nexus ana fault fs shutdown test
  test/python/common/hdl.py
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_fault/features/nexus_fault.feature
  test/python/tests/nexus_fault/test_nexus_fault.py
Due: python-check

fix(fs/shutdown): pause nexus when faulted
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

test(nexus/fault): add nexus fault fs shutdown test
  scripts/pytest-tests.sh
  shell.nix
  test/python/common/fio.py
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_fault/features/nexus_fault.feature
  test/python/tests/nexus_fault/test_nexus_fault.py
Due: python-check

test(nexus/freeze): add subsystem freeze test
  Cargo.lock
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_io_subsystem.rs
  io-engine/tests/nexus_io.rs
Due: rust-style, rust-lint

feat(clone): listclone implementation
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix(enospc): allow enospc nexus to fail IOs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/tests/nexus_io.rs
Due: rust-style, rust-lint

refactor(list-rebuild): add since timestamp and name
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

ci: add develop-release GH action
  .github/workflows/develop-to-release.yml
Due: none

ci(gha): approve and merge develop-release prepare PR
  .github/workflows/develop-to-release.yml
Due: none

test: test
  .github/workflows/develop-to-release.yml
Due: none

chore(ci): update git submodules
  .gitmodules
Due: none

ci(gha): auto-approve develop-release prepare PR
  .github/workflows/develop-to-release.yml
Due: none

fix(lvol): properly report provisioning mod for volume with snapshots
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

ci: create PR with CI user and approve with bot
  .github/workflows/develop-to-release.yml
Due: none

fix(gha): skip steps when not preparing release branch
  .github/workflows/develop-to-release.yml
Due: none

fix(snapshot): remove clone parameters
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
Due: rust-style, rust-lint

fix: update rpc api to fix wrong param change
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

feat(replica): snapshot space information for replicas
  io-engine-tests/src/nvme.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_nexus.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(ci): github action to initiate integration point run
  .github/workflows/trigger-integration-point.yml
Due: none

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  .github/workflows/pr-submodule-branch.yml
  Jenkinsfile
Due: none

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  Jenkinsfile
Due: none
