Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

fix(moac): fix double callback in controllerPublish method
  csi/moac/.gitignore
  csi/moac/csi.ts
  csi/moac/grpc_client.ts
  csi/moac/nexus.ts
  csi/moac/node.ts
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/csi_test.js
  csi/moac/test/grpc_client_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/rest_api_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: js-check

test(e2e): extend timeout as tests are being added
  Jenkinsfile
Due: none

test(e2e): nightly test git sha
  Jenkinsfile
Due: none

feat(moac): new options for sync of storage nodes
  csi/moac/.gitignore
  csi/moac/event_stream.js
  csi/moac/index.ts
  csi/moac/node.ts
  csi/moac/package.json
  csi/moac/registry.ts
  csi/moac/rest_api.js
  csi/moac/test/csi_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/index.js
  csi/moac/test/nats_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/rest_api_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
Due: js-check

fix(nexus): retire replicas in response to I/O errors
  Jenkinsfile
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/core/io_device.rs
  mayastor/src/core/mod.rs
Due: rust-style, rust-lint

test(e2e): do not fail build on XRay failure
  Jenkinsfile
Due: none

feat(moac): get the default namespace from pod's filesystem
  chart/templates/moac-deployment.yaml
  csi/moac/index.ts
  csi/moac/test/index.js
  deploy/moac-deployment.yaml
Due: js-check

feat(moac): liveness and readiness probes
  chart/templates/moac-deployment.yaml
  csi/moac/.gitignore
  csi/moac/index.ts
  csi/moac/node-packages.nix
  csi/moac/node.ts
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/rest_api.js
  csi/moac/rest_api.ts
  csi/moac/test/rest_api_test.js
  csi/moac/tsconfig.json
  deploy/moac-deployment.yaml
Due: js-check

fix(mayastor): nexus child devices must be registered before they can be closed
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/child_size.rs
Due: rust-style, rust-lint

test(e2e): re-enable XRay
  Jenkinsfile
Due: none

chore: add etcd depoyment via helm
  .gitignore
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/moac-deployment.yaml
  chart/test/values.yaml
  chart/values.yaml
  deploy/etcd/statefulset.yaml
  deploy/etcd/svc-headless.yaml
  deploy/etcd/svc.yaml
  scripts/generate-deploy-yamls.sh
Due: none

fix(nexus): failed io may not complete on the same core
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

fix(moac): moac should handle node removals better
  csi/moac/volume.ts
  csi/moac/volume_operator.ts
Due: none

feat(nexus): cancel active io for the replica being retired
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(moac): update dependencies etc
  csi/moac/index.ts
  csi/moac/logger.js
  csi/moac/mbus.js
  csi/moac/node-packages.nix
  csi/moac/node_operator.ts
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool_operator.ts
  csi/moac/test/csi_test.js
  csi/moac/test/index.js
  csi/moac/test/nats_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volumes_test.js
  csi/moac/test/watcher_test.js
  csi/moac/volume_operator.ts
  csi/moac/watcher.ts
Due: js-check

fix: don't add uuid to the nexus share uri
  mayastor/src/core/bdev.rs
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

chore: add persistence protobuf files
  csi/moac/bundle_protos.sh
  csi/moac/default.nix
  csi/moac/gen_protos_ts.sh
  csi/moac/package.json
  rpc/proto/persistence.proto
Due: none

fix: make sure replicas have a real UUID in their URI
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/event_stream_test.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/volumes_test.js
Due: js-check

feat: add persistent information interface to moac
  csi/moac/.gitignore
  csi/moac/.mocharc.json
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/persistent_store.ts
  csi/moac/registry.ts
  csi/moac/tsconfig.json
  csi/moac/volume.ts
Due: none

test: add tests for the persistent store at the MOAC level
  csi/moac/test/.gitignore
  csi/moac/test/event_stream_test.js
  csi/moac/test/index.ts
  csi/moac/test/persistence_test.ts
  csi/moac/test/volumes_test.js
  scripts/moac-test.sh
  shell.nix
Due: js-check

chore: add new command line argument to MOAC for the persistent store endpoint
  csi/moac/index.ts
Due: none

test(python): assert states after tests
  test/python/common/fio_spdk.py
  test/python/common/hdl.py
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: none

fix(lvol): return source as part of error
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

test(python): add ssh support
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/nvme.py
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: none

test(python): test replica count
  test/python/common/command.py
  test/python/common/hdl.py
  test/python/docker-compose.yml
  test/python/pytest.ini
  test/python/test_multi_nexus.py
Due: none

test(python): update README
  test/python/README.md
Due: none

feat(spdk-sys): build SPDK with fio_plugin
  nix/mayastor-overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.sh
Due: none

test(python): implement FioSpdk
  test/python/common/fio_spdk.py
Due: none

test(python): initial python tests
  test/python/README.md
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/hdl.py
  test/python/common/nvme.py
  test/python/common/volume.py
  test/python/conftest.py
  test/python/docker-compose.yml
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/shell.nix
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: none

test(python): fio should accept multiple devices
  test/python/common/fio.py
  test/python/common/hdl.py
  test/python/conftest.py
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
Due: none

fix(nexus): handle IO errors per channel
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/bio.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/server.rs
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/mayastor/cargo-package.nix
  spdk-sys/build.sh
  test/python/common/command.py
  test/python/common/hdl.py
  test/python/conftest.py
  test/python/docker-compose.yml
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: rust-style, rust-lint

chore: update MOAC's deployment files
  chart/templates/moac-deployment.yaml
  chart/values.yaml
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  deploy/etcd/statefulset.yaml
  deploy/moac-deployment.yaml
Due: none

fix(nexus): handle IO errors per channel
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/core/bio.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/server.rs
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/mayastor/cargo-package.nix
  spdk-sys/build.sh
  test/python/common/command.py
  test/python/common/hdl.py
  test/python/conftest.py
  test/python/docker-compose.yml
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
  test/python/test_nexus_kill_all.py
Due: rust-style, rust-lint

chore: revert persistent proto file
  csi/moac/bundle_protos.sh
  csi/moac/default.nix
  csi/moac/gen_protos_ts.sh
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/persistent_store.ts
  csi/moac/test/persistence_test.ts
  csi/moac/volume.ts
  rpc/proto/persistence.proto
Due: none

fix(moac): destroying volume while creating it causes havoc
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: js-check
