Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --fix
  pass_filenames: true
  language: system

We lost a lot of useful log messages related to grpc methods
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc.rs
Due: rust-style, rust-lint

Fixes for request by reviewer
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Rename realpath to iscsi_realpath
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Change so that mount does not use loopback
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Reformat and update the Quickstart Guide
  doc/quick.md
Due: none

address review comments
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
Due: rust-style, rust-lint

Change so that mount does not use loopback (#232)
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
Due: rust-style, rust-lint

Make capitalisation of the Mayastor name consistent
  doc/quick.md
Due: none

CAS-174 Add basic framework for persisting (rust) objects to the "MayaMeta" partition
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_metadata_content.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

Remove references to loading the XFS module
  doc/quick.md
Due: none

Reformat and update the Quickstart Guide (#233)
  doc/quick.md
Due: none

pool: Fix failure to destroy pool
  mayastor/src/pool.rs
Due: rust-style, rust-lint

Improved documentation for terraform, libvirt and LXD.
  .github/workflows/build.yaml
  terraform/README.adoc
  terraform/main.tf
  terraform/mod/libvirt/main.tf
  terraform/mod/lxd/network_config.cfg
  terraform/shell.nix
  terraform/variables.tf
Due: none

reactor: dont sleep in release builds
  mayastor/src/core/reactor.rs
Due: rust-style, rust-lint

doc: update know limitations
  doc/quick.md
Due: none

update vCPU requirements
  doc/quick.md
Due: none

nexus: address child sizing mismatches
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint

block count is off by 1
  mayastor-test/test_csi.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint, js-lint

nexus: address child sizing mismatches (#234)
  mayastor-test/test_csi.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint, js-lint

Address review comments
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
Due: rust-style, rust-lint

CAS-174 Create initial framework for persisting metadata to MayaMeta partition (#235)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_metadata_content.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

Remove gitlab ci/cd pipeline that was replaced by github actions
  .gitlab-ci.yml
  doc/build.md
  doc/gitlab.md
Due: none

CAS-284 import device traversal code
  Cargo.lock
  Cargo.toml
  devinfo/Cargo.toml
  devinfo/src/block_device.rs
  devinfo/src/lib.rs
  nix/pkgs/mayastor/default.nix
  nix/pkgs/ms-buildenv/default.nix
Due: rust-style, rust-lint

CAS-284 import device traversal code (#242)
  Cargo.lock
  Cargo.toml
  devinfo/Cargo.toml
  devinfo/src/block_device.rs
  devinfo/src/lib.rs
  nix/pkgs/mayastor/default.nix
  nix/pkgs/ms-buildenv/default.nix
Due: rust-style, rust-lint

mayastor-test: Test Nexus child going offline
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/io.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

Reworked tabular output Added more tests
  csi/src/client.rs
  mayastor-test/test_cli.js
Due: rust-style, rust-lint, js-lint

rebuild: add progress and map child states
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Improve the state/status confusion
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Rebuild: Start rebuild when setting child online (#164)
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: split the rebuild state logic
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
