Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

Vectored write support added to device handle + BDD tests.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): extended nvmx i/o completion status (#762)
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

fix: adjust to new IO enum types
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
Due: rust-style, rust-lint

Initial code drop.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: abstract list of nvmx devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/lib.rs
Due: rust-style, rust-lint

NVMe controller discovery added, + refactored directory structure.
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/descriptor.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): initial support of device events
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

reset() operation implemented for NVMe controller. I/O channels are now recreated upon controller reset. Poller is used in channels and NVMe controller
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/poller.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(nvmx): remove raw pointer to timeout
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
Due: rust-style, rust-lint

feat(nvmx): controller shutdown/removal (#648)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint

feat(nvmx): set of new features for device handles (#632)
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

refactor(nvmx): more abstractions for spdk objects (#687)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
Due: rust-style, rust-lint

chore: bump cargo sha
  nix/pkgs/mayastor/cargo-package.nix
Due: none

test(e2e): extend timeout for basic test
  test/e2e/configurations/ci_e2e_config.yaml
Due: none

fix: fix install test pool check
  test/e2e/common/util_mayastor_crds.go
  test/e2e/install/install_test.go
Due: none

feat(nvmx): block device abstraction for nexus children
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/device.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

fix(jenkins): linter disabled
  Jenkinsfile
Due: none

feat(csi): be able to set io timeout on nvme initiator
  Cargo.lock
  csi/Cargo.toml
  csi/moac/csi.ts
  csi/moac/test/csi_test.js
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/node.rs
  deploy/storage-class.yaml
  nix/pkgs/mayastor/cargo-package.nix
  test/grpc/package-lock.json
  test/grpc/package.json
  test/grpc/test_csi.js
Due: rust-style, rust-lint, js-check

test(e2e): tag nightly builds
  Jenkinsfile
Due: none

fix(moac): failed to provision volume on RKE
  chart/templates/mayastor-daemonset.yaml
  csi/moac/test/volumes_test.js
  csi/moac/volume_operator.ts
  csi/moac/volumes.ts
  deploy/mayastor-daemonset.yaml
Due: js-check

feat(nvmx): support of hot removal for nvmx devices
  composer/src/lib.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): support of hot removal for nvmx devices (#834)
  composer/src/lib.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(jsonrpc): revert change to reformat output from jsonrpc subcommand in mayastor-client
  mayastor/src/bin/mayastor-client/jsonrpc_cli.rs
Due: rust-style, rust-lint

feat: update tonic and tokio
  Cargo.lock
  Cargo.toml
  composer/Cargo.toml
  composer/src/lib.rs
  csi/Cargo.toml
  csi/src/dev.rs
  csi/src/server.rs
  jsonrpc/Cargo.toml
  jsonrpc/src/lib.rs
  jsonrpc/src/test.rs
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor-client/context.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/env.rs
  mayastor/src/core/reactor.rs
  mayastor/src/subsys/mbus/registration.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/common/compose.rs
  mbus-api/Cargo.toml
  mbus-api/src/mbus_nats.rs
  nix/pkgs/mayastor/cargo-package.nix
  nix/sources.json
  rpc/Cargo.toml
Due: rust-style, rust-lint

feat(core): add spawn_local() for threads
  mayastor/src/core/thread.rs
  mayastor/tests/thread.rs
Due: rust-style, rust-lint

feat(core): swap two methods
  mayastor/src/bin/mayastor.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mod.rs
Due: rust-style, rust-lint

crash nvmf
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/subsys/nvmf/mod.rs
Due: rust-style, rust-lint

chore: update bytes, derive_builder, env_logger, http-body, udev, uuid
  Cargo.lock
  csi/Cargo.toml
  csi/src/dev/util.rs
  csi/src/error.rs
  csi/src/nodeplugin_svc.rs
  devinfo/Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/nexus_uri.rs
  mbus-api/Cargo.toml
  nix/pkgs/mayastor/cargo-package.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmf_discovery.rs
  rpc/Cargo.toml
Due: rust-style, rust-lint

fix: restore pre-commit hook
  shell.nix
Due: none

chore: mitigate grpc race conditions
  mayastor/src/grpc/mod.rs
Due: rust-style, rust-lint

feat(nvmx): i/o timeouts for nvme controller (#675)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

feat(nvmx): abstract block devices for nexus children (#807)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

fix(nvmx): controller i/o statistics (#718)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint
