Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

fix(nexus): persist NexusInfo to etcd using nexus UUID
  mayastor/src/bdev/nexus/nexus_persistence.rs
Due: rust-style, rust-lint

test(python-bdd): test IO to 2 Nexuses
  mayastor/src/grpc/controller_grpc.rs
  scripts/pytest-tests.sh
  test/python/common/fio.py
  test/python/common/hdl.py
  test/python/features/nexus-multipath.feature
  test/python/test_bdd_nexus_multipath.py
Due: rust-style, rust-lint

feat(nexus): nexus list should report ana state
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  rpc/proto/mayastor.proto
  test/python/test_ana_client.py
Due: rust-style, rust-lint

test(python): add a 3rd nexus to an existing multipath device
  test/python/test_nexus_multipath.py
Due: none

fix(mayastor): fix bdev create error messages
  mayastor/src/bdev/aio.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/null.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/bdev/uring.rs
  mayastor/src/nexus_uri.rs
Due: rust-style, rust-lint

fix(lvol): ensure superblock info is wiped
  mayastor/src/core/bdev.rs
  mayastor/src/core/env.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/aio_unmap.rs
  mayastor/tests/lvs_pool.rs
  nix/pkgs/libspdk/default.nix
  test/grpc/test_replica.js
  test/python/k8s/fio.yaml
  test/python/k8s/test_pvc.py
  test/python/pool/docker-compose.yml
  test/python/pool/test_unmap.py
  test/python/test_config.ini
Due: rust-style, rust-lint, js-check

fix(mayastor): add support of uuid and name as separate replica properties
  mayastor/src/bin/mayastor-client/replica_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/replica_snapshot.rs
  rpc/proto/mayastor.proto
  test/python/common/hdl.py
  test/python/features/replica-guid.feature
  test/python/test_replica_uuid.py
Due: rust-style, rust-lint

chore: mbus-api: Drop unneeded smol dep
  mbus-api/Cargo.toml
  mbus-api/src/lib.rs
Due: rust-style, rust-lint

chore: mayastor: Replace smol dep with async-channel
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/subsys/mbus/registration.rs
Due: rust-style, rust-lint

chore: simplify clone() calls
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

chore: temporarily disable pytest stage in jenkins pipeline
  Jenkinsfile
Due: none

chore: re-anable pytest stage in jenkins pipeline
  Jenkinsfile
Due: none

chore: split proto files and bump dependency
  .gitmodules
  Cargo.lock
  composer/Cargo.toml
  csi/Cargo.toml
  csi/src/server.rs
  devinfo/Cargo.toml
  jsonrpc/Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/controller_state.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  mayastor/src/persistent_store.rs
  mayastor/tests/common/compose.rs
  mbus-api/Cargo.toml
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  nvmeadm/Cargo.toml
  rpc/Cargo.toml
  rpc/build.rs
  rpc/proto/mayastor.proto
  spdk-sys/Cargo.toml
  test/grpc/grpc_enums.js
  test/grpc/test_cli.js
  test/grpc/test_common.js
  test/grpc/test_rebuild.js
Due: rust-style, rust-lint, js-check

fix(bdev): delete alias when destroying bdev
  mayastor/src/bdev/aio.rs
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bdev/null.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/uring.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

feat: build against SPDK 21.07
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/thread.rs
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

fix(opts): remove support for deprecated SOCK_ZERO_COPY_SEND
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

test(nexus_resv): only check bit 0 of reservation status
  mayastor/tests/nexus_multipath.rs
  test/python/test_nexus_multipath.py
Due: rust-style, rust-lint

fix(nvmx): fix double-free assertion upon nvme controller attach
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/uri.rs
Due: rust-style, rust-lint

chore: composer: workaround fussybeaver/bollard#166
  composer/src/lib.rs
Due: rust-style, rust-lint

fix: ignore coredumps from sshd
  scripts/check-coredumps.sh
Due: none

test(python): destroy nexus whilst under IO load
  test/python/docker-compose.yml
  test/python/test_nexus_multipath.py
Due: none

test(python): make all paths inaccessible under IO load, then restore
  test/python/test_nexus_multipath.py
Due: none

fix(pytest): update setup.sh to reflect new location of mayadata.proto
  test/python/README.md
  test/python/setup.sh
Due: none

ci: separate nix-shell file for CI
  Dockerfile
  Jenkinsfile
  ci.nix
Due: none

chore(nix): remove Rust tooling from the default nix shell
  shell.nix
Due: none

chore(nix): drop some common dev tools from default nix shell
  shell.nix
Due: none

test(e2e): use mayastor image for csi
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
Due: none

test: coverage build
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
  scripts/release.sh
Due: none

chore: re-enable pytest stage in jenkins pipeline
  Jenkinsfile
Due: none

feat(lvm): add lvm lib
  mayastor/src/lib.rs
  mayastor/src/lvm/error.rs
  mayastor/src/lvm/lvm.rs
  mayastor/src/lvm/mod.rs
Due: rust-style, rust-lint

feat(lvm): add lvm support to grpc requests
  Cargo.lock
  mayastor/src/bin/mayastor-client/pool_cli.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/subsys/config/pool.rs
  mayastor/src/subsys/mod.rs
Due: rust-style, rust-lint

test(python): add lvm bdd tests
  test/python/common/hdl.py
  test/python/docker-compose.yml
  test/python/features/lvm.feature
  test/python/test_bdd_lvm.py
  test/python/test_bdd_pool.py
  test/python/test_bdd_replica.py
Due: none

feat(spdk): safe wrapper for SPDK spdk_bdev_module
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/null_ng/mod.rs
  mayastor/src/bdev/nullblk/mod.rs
  mayastor/src/bdev/nullblk/nullblk_tmp.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/bio.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  spdk-sys/build.rs
  spdk-sys/spdk_helper.c
  spdk-sys/spdk_helper.h
  spdk-sys/wrapper.h
  spdk/Cargo.toml
  spdk/src/bdev.rs
  spdk/src/bdev_io.rs
  spdk/src/bdev_module.rs
  spdk/src/cpu_cores.rs
  spdk/src/ffihelper.rs
  spdk/src/io_channel.rs
  spdk/src/io_device.rs
  spdk/src/io_type.rs
  spdk/src/lib.rs
  spdk/src/poller.rs
  spdk/src/uuid.rs
Due: rust-style, rust-lint

feat(lvm): add lvm lib
  mayastor/src/lib.rs
  mayastor/src/lvm/error.rs
  mayastor/src/lvm/mod.rs
  mayastor/src/lvm/pool.rs
Due: rust-style, rust-lint

test(rust): add pooltype to grpc requests
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  mayastor/tests/nexus_multipath.rs
  mayastor/tests/nexus_with_local.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_uri.rs
Due: rust-style, rust-lint

fix(image-tag): update mayastor-csi image tag to v0.8.1
  deploy/csi-daemonset.yaml
Due: none

chore(mayastor): convert a String arg to &str
  mayastor/tests/common/mod.rs
  mayastor/tests/core.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
