Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

ci(bors): add fake DCO for bors merge requests
  .github/workflows/staging-dco.yml
Due: none

feat(eventing): online child event
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/eventing/nexus_child_events.rs
  io-engine/src/eventing/nexus_events.rs
Due: rust-style, rust-lint

feat(eventing): nexus child events
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/nexus_child_events.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

fix(lvs/status): fixup missing bdev errors
  io-engine/src/bdev_api.rs
  io-engine/src/grpc/mod.rs
Due: rust-style, rust-lint

fix: bad error message
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(io-engine/client): fix cli args
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
Due: rust-style, rust-lint

feat(eventing): host events
  io-engine/src/eventing/host_events.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

ci(test/wipe/replicas): allow list and wipe replicas
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/test.rs
Due: rust-style, rust-lint

fix(grpc/snapshot): snapshot grpc should use replica svc
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/snapshot.rs
  test/grpc/test_replica.js
Due: rust-style, rust-lint, js-check

fix: tweak env var override message
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(io-engine/cli): fix controller stats
  io-engine/src/bin/io-engine-client/v1/controller_cli.rs
Due: rust-style, rust-lint

test(python): enhance python bdd testing script
  Jenkinsfile
  scripts/pytest-tests.sh
Due: none

ci(python): add junit reports
  Jenkinsfile
  scripts/pytest-tests.sh
Due: none

test(python/bdd): cleanup when terminated
  Jenkinsfile
  scripts/pytest-tests.sh
Due: none

feat(build): adding support for building and running with Address Sanitizer
  ci.nix
  io-engine/src/core/env.rs
  io-engine/src/subsys/nvmf/target.rs
  nix/lib/rust.nix
  shell.nix
  test/python/common/util.py
  test/python/cross-grpc-version/nexus/docker-compose.yml
  test/python/cross-grpc-version/pool/docker-compose.yml
  test/python/cross-grpc-version/rebuild/docker-compose.yml
  test/python/cross-grpc-version/replica/docker-compose.yml
  test/python/pool/docker-compose.yml
  test/python/tests/ana_client/docker-compose.yml
  test/python/tests/cli_controller/docker-compose.yml
  test/python/tests/nexus/docker-compose.yml
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_multipath/docker-compose.yml
  test/python/tests/publish/docker-compose.yml
  test/python/tests/rebuild/docker-compose.yml
  test/python/tests/replica/docker-compose.yml
  test/python/tests/replica_uuid/docker-compose.yml
  test/python/tests/rpc/docker-compose.yml
  test/python/v1/nexus/docker-compose.yml
  test/python/v1/pool/docker-compose.yml
  test/python/v1/rebuild/docker-compose.yml
  test/python/v1/replica/docker-compose.yml
Due: rust-style, rust-lint, python-check

fix(asan): fixing issues found by address sanitizer
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(nexus): fixing I/O race when disconnecting retired device handles
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/controller_inner.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

chore(ci): update git submodules
  .gitmodules
Due: none

feat(eventing): host event specific details
  io-engine/src/eventing/host_events.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

fix(device_remove): hot remove of spdk bdev should drop descriptor
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

feat(client/cksum): add cksum to the io-engine client
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
Due: rust-style, rust-lint

feat(test/features): export test features
  io-engine/src/grpc/v1/test.rs
Due: rust-style, rust-lint

feat(wipe/cksum): add replica cksum
  io-engine/src/bdev/lvs.rs
  io-engine/src/core/wiper.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/tests/wipe.rs
Due: rust-style, rust-lint

feat(client/test): expose test features
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
Due: rust-style, rust-lint

ci(gha): fix submodule check
  .github/workflows/pr-submodule-branch.yml
Due: none

test(python): pin docker version
  Jenkinsfile
  test/python/requirements.txt
Due: none

test(nvmx/qpair): connect async in the background
  Jenkinsfile
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nvmx/controller_inner.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/qpair.rs
Due: rust-style, rust-lint

feat(replica/resize): add support for resizing a replica
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

fix(pstor): increase persistence timeouts
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/persistent_store.rs
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

fix(io-engine/rebuild): read asan options and backtrace at runtime
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

refactor(io-engine): tidy up print asan vars
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

test(bdd): support relative paths
  scripts/pytest-tests.sh
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
