Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

CAS-400: Fix nvmf reconnect (#380)
  nix/pkgs/libspdk/default.nix
Due: none

Update README.md
  deploy/README.md
Due: none

Update README.md (#382)
  deploy/README.md
Due: none

Create documentation.md issue template
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

grpc: make use of the new lvs and lvol implementation
  Cargo.lock
  Cargo.toml
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/pool.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  nix/pkgs/mayastor/default.nix
  rpc/src/lib.rs
Due: rust-style, rust-lint, js-lint

persist terraform kernel config
  terraform/mod/k8s/node.sh
Due: none

persist terraform kernel config (#383)
  terraform/mod/k8s/node.sh
Due: none

add tini init system to the fio container
  deploy/fio.yaml
Due: none

remove implicit share
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint, js-lint

rework the errors a bit
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

try to fix mount_fs
  mayastor/src/core/thread.rs
  shell.nix
Due: rust-style, rust-lint

thread: ensure proper masking
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/cpu_cores.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

add tini init system to the fio container (#384)
  deploy/fio.yaml
Due: none

Fix cancel_child_rebuild_jobs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Address review comments
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

CAS-402: Fix cancel_child_rebuild_jobs (#387)
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

test: fix mount_fs intermittent failures
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/cpu_cores.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

grpc: add stats grpc call
  mayastor-test/test_common.js
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/pool_grpc.rs
Due: rust-style, rust-lint, js-lint

lvs: remove the None protocol variant
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

share: adjust tests to Off variant
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/nexus_share.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

lvs: delete the base bdev if lvs creation fails
  mayastor/src/core/thread.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

lvs: redo the error handling and implicit share
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint, js-lint

ci: add tests and start to move out common code
  .github/workflows/nix-tests.yaml
  nix/test/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/common.nix
  nix/test/default-mayastor-config.yaml
  nix/test/default.nix
  nix/test/nvmf/nvmf_distributed.nix
  nix/test/nvmf/nvmf_ports.nix
  nix/test/pythonLibs/mayastorUtils/MayastorSystemUtils.py
  nix/test/pythonLibs/mayastorUtils/NvmfUtils.py
  nix/test/pythonLibs/mayastorUtils/__init__.py
  nix/test/rebuild/default.nix
  nix/test/rebuild/rebuild.nix
Due: none

CAS-424: import volumes on startup
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
  csi/moac/volumes.js
  mayastor-test/test_nexus.js
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint, js-lint

Want simple performance tool
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint

CAS-407: moac pool resource ignored
  csi/moac/pool_operator.js
  csi/moac/test/node_stub.js
  csi/moac/test/pool_operator_test.js
Due: js-lint

CAS-407: moac pool resource ignored (#390)
  csi/moac/pool_operator.js
  csi/moac/test/node_stub.js
  csi/moac/test/pool_operator_test.js
Due: js-lint

CAS-434: fix pool status information
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

CAS-434: fix pool status information (#392)
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
