Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

build: update spdk-rs to the latest
  .gitmodules
Due: none

build: add rustFlags option to support rust compiler options
  default.nix
  nix/overlay.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
Due: none

build: add rustFlags option to support rust compiler options
  default.nix
  nix/overlay.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
Due: none

test: add a test to enable and test rdma connect
  Cargo.lock
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nvme.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

docs: add fossa badge to readme
  README.md
Due: none

docs: add fossa badge to readme
  .github/workflows/fossa.yml
  README.md
Due: none

fix(cli): add missing arguments for grpc ip&port
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

test: disable xfs feature nrext64
  io-engine-tests/src/lib.rs
  io-engine/local-randrw-0-verify.state
  test/python/pool/test_unmap.py
  test/python/tests/nexus_fault/test_nexus_fault.py
Due: rust-style, rust-lint, python-check

test(bdd): make nvme controller usage more robust
  scripts/pytest-tests.sh
  test/python/common/nvme.py
  test/python/tests/nexus_fault/test_nexus_fault.py
Due: python-check

test: update python request and node-js grpc,brace packages
  scripts/pytest-tests.sh
  test/grpc/package-lock.json
  test/python/common/mayastor.py
  test/python/local-job-fs-0-verify.state
  test/python/requirements.txt
  test/python/v1/mayastor.py
Due: python-check

test: add a test to enable and test rdma connect
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nvme.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/snapshot_nexus.rs
  scripts/cargo-test.sh
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

fix: use auto-detected sector size for blockdev
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/uring.rs
  io-engine/tests/lvs_pool.rs
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

fix: check valid sct and sc combinations for pi error
  io-engine/src/bdev/nvmx/utils.rs
Due: rust-style, rust-lint

Merge #1755
  .gitmodules
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/grpc/v1/snapshot_rebuild.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_job.rs
Due: rust-style, rust-lint

docs: improve docs for hacking on mayastor
  doc/build.md
  doc/test.md
Due: none

feat(spdk): allow SPDK tracing
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(bdev): introduce new CSAL ftl bdev
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev/ftl.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/core/env.rs
  io-engine/tests/ftl_mount_fs.rs
Due: rust-style, rust-lint

refactor(clippy): use rust stable and remove exceptions
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/core/fault_injection/bdev_io_injection.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_child_retire.rs
  scripts/rust-linter.sh
Due: rust-style, rust-lint

security: address github security alerts
  Cargo.lock
  commitlint.config.js
  io-engine/Cargo.toml
  test/grpc/package-lock.json
Due: js-check

docs: remove ci.nix and update the docs
  Dockerfile
  Jenkinsfile
  ci.nix
  doc/build.md
  doc/mayastor-client.md
  doc/run.md
  doc/test.md
  ide.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/units.nix
  shell.nix
Due: none

docs(build): add doc for building all components
  doc/build-all.md
Due: none

fix(nexus): don't persist if child faults during nexus create
  io-engine/src/bdev/nexus/nexus_persistence.rs
Due: rust-style, rust-lint

chore: increase ps_retries and silence log once logged
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/core/env.rs
  io-engine/src/persistent_store.rs
Due: rust-style, rust-lint

fix(self-shutdown): abort frozen ios when unsharing shutdown nexus
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/tests/persistence.rs
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

fix(nvmf/uri): use nvmf:// scheme for tcp
  io-engine/src/subsys/nvmf/transport.rs
  io-engine/tests/nvmf.rs
  test/grpc/test_common.js
Due: rust-style, rust-lint, js-check

docs: add build and test docs for all mayastor repos
  doc/build.md
  doc/contributor.md
  doc/lvm.md
  doc/run.md
  doc/test-controller.md
  doc/test-extensions.md
  doc/test.md
Due: none

ci: switch from jenkins to github actions
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr-ci.yml
  .github/workflows/unit-int.yml
  io-engine-tests/src/lib.rs
  io-engine/.cargo/runner.sh
  io-engine/tests/ftl_mount_fs.rs
  libnvme-rs/src/nvme_uri.rs
  scripts/grpc-test.sh
  scripts/nvmx-test.sh
  test/python/cross-grpc-version/nexus/docker-compose.yml
  test/python/cross-grpc-version/pool/docker-compose.yml
  test/python/cross-grpc-version/rebuild/docker-compose.yml
  test/python/cross-grpc-version/replica/docker-compose.yml
  test/python/pool/docker-compose.yml
  test/python/tests/ana_client/docker-compose.yml
  test/python/tests/cli_controller/docker-compose.yml
  test/python/tests/nexus/docker-compose.yml
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_multipath/docker-compose.yml
  test/python/tests/publish/docker-compose.yml
  test/python/tests/publish/test_bdd_nexus.py
  test/python/tests/rebuild/docker-compose.yml
  test/python/tests/replica/docker-compose.yml
  test/python/tests/replica_uuid/docker-compose.yml
  test/python/tests/rpc/docker-compose.yml
  test/python/v1/nexus/docker-compose.yml
  test/python/v1/pool/docker-compose.yml
  test/python/v1/rebuild/docker-compose.yml
  test/python/v1/replica/docker-compose.yml
Due: rust-style, rust-lint, python-check

fix: proper to_ptr type cast to c_char
  io-engine/src/bdev/ftl.rs
  io-engine/tests/memory_pool.rs
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

ci: switch from jenkins to github actions
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr-ci.yml
  .github/workflows/unit-int.yml
  io-engine-tests/src/lib.rs
  io-engine/.cargo/runner.sh
  io-engine/tests/ftl_mount_fs.rs
  libnvme-rs/src/nvme_uri.rs
  scripts/grpc-test.sh
  scripts/nvmx-test.sh
  test/python/common/hdl.py
  test/python/cross-grpc-version/nexus/docker-compose.yml
  test/python/cross-grpc-version/pool/docker-compose.yml
  test/python/cross-grpc-version/pool/test_bdd_pool.py
  test/python/cross-grpc-version/rebuild/docker-compose.yml
  test/python/cross-grpc-version/replica/docker-compose.yml
  test/python/pool/docker-compose.yml
  test/python/tests/ana_client/docker-compose.yml
  test/python/tests/cli_controller/docker-compose.yml
  test/python/tests/nexus/docker-compose.yml
  test/python/tests/nexus/test_nexus_rebuild.py
  test/python/tests/nexus/test_nexus_shutdown.py
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_multipath/docker-compose.yml
  test/python/tests/nexus_multipath/test_bdd_nexus_multipath.py
  test/python/tests/nexus_multipath/test_nexus_multipath.py
  test/python/tests/publish/docker-compose.yml
  test/python/tests/publish/test_bdd_nexus.py
  test/python/tests/rebuild/docker-compose.yml
  test/python/tests/replica/docker-compose.yml
  test/python/tests/replica_uuid/docker-compose.yml
  test/python/tests/rpc/docker-compose.yml
  test/python/v1/hdl.py
  test/python/v1/nexus/docker-compose.yml
  test/python/v1/pool/docker-compose.yml
  test/python/v1/rebuild/docker-compose.yml
  test/python/v1/replica/docker-compose.yml
Due: rust-style, rust-lint, python-check

ci: bors with github actions
  .github/bors.toml
Due: none

feat(io-engine): add persistent store transaction API
  io-engine/local-randrw-0-verify.state
  io-engine/src/persistent_store.rs
  io-engine/src/store/etcd.rs
  io-engine/src/store/store_defs.rs
  io-engine/tests/persistence.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
