Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

chore: update commitlint config file
  commitlint.config.js
Due: js-check

refactor(grpc/nexus): don't take subsystem lock on create/destroy
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

chore: mayastor staging ci
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/log.sh
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none

chore: validated code
  .github/workflows/image.yml
  .github/workflows/staging.yml
  scripts/staging/log.sh
  scripts/staging/mirror-images.sh
  scripts/staging/validate.sh
Due: none

test(python): pin typing-extensions in requirements.txt
  test/python/pytest.ini
  test/python/requirements.txt
Due: none

ci: add workflow for submodule update
  .github/workflows/mod-update.yml
  scripts/set-submodule-branches.sh
Due: none

ci: use dependencies submodule script
  .github/workflows/mod-update.yml
Due: none

refactor: format disk to have only bdev module and disk path
  io-engine/src/lvs/mod.rs
Due: rust-style, rust-lint

fix: encrypted pool expansion workflow
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

feat(expand): adding support for uring bdev rescan
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

chore(ci): update git submodules
  .gitmodules
Due: none

refactor(spdk/upgrade): accomodate spdk 25.05 changes in Mayastor
  .github/workflows/unit-int.yml
  io-engine-tests/src/error_bdev.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/malloc.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/null_bdev.rs
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/nvmx/controller_inner.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/subsys/nvmf/target.rs
  nix/overlay.nix
Due: rust-style, rust-lint

fix(nvme): create nvme bdev with spdk_nvme_ctrlr_opts
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
Due: rust-style, rust-lint

fix(nvmf/hosts): handle existing allowed host einval
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

refactor(nvmf/hosts): reuse existing connected_hosts
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

chore: add staging workflow
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/release.sh
Due: none

fix(bdev/destroy): unload pool when disk is hotremoved
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/ftl.rs
  io-engine/src/bdev/malloc.rs
  io-engine/src/bdev/null_bdev.rs
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/uring.rs
Due: rust-style, rust-lint

build: use shared workspace dependencies
  Cargo.lock
  Cargo.toml
  io-engine-bench/Cargo.toml
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
  jsonrpc/Cargo.toml
  jsonrpc/src/lib.rs
  libnvme-rs/Cargo.toml
Due: rust-style, rust-lint

test(bdd/rebuild): don't wait too long for rebuilds
  test/python/tests/nexus/test_nexus_rebuild.py
Due: python-check

chore: pull api submodule changes
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v1/pool.rs
Due: rust-style, rust-lint

refactor: pull spdk-rs error stats
  io-engine/src/core/bdev.rs
Due: rust-style, rust-lint

feat: add clear error subcommand to the cli
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
Due: rust-style, rust-lint

feat: show alert status and errors on tabled output
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
Due: rust-style, rust-lint

refactor: reusable pool list output
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
Due: rust-style, rust-lint

refactor: default io-engine-client units to base 10
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
Due: rust-style, rust-lint

feat: implement diskpool errors info and alerts
  io-engine/src/core/bdev.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
Due: rust-style, rust-lint

feat(io-engine): add coredump enablement
  io-engine-tests/src/compose/mod.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/coredump.rs
  io-engine/src/lib.rs
Due: rust-style, rust-lint

feat(tracing): enable dtracing and spdk tracing
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

refactor(nvmf): use implicitly named arguments
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nexus/nexus_io_subsystem.rs
  io-engine/src/core/bdev.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint
