Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

CAS-402: Fix cancel_child_rebuild_jobs (#387)
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

ci: add tests and start to move out common code
  .github/workflows/nix-tests.yaml
  nix/test/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/common.nix
  nix/test/default-mayastor-config.yaml
  nix/test/default.nix
  nix/test/nvmf/nvmf_distributed.nix
  nix/test/nvmf/nvmf_ports.nix
  nix/test/pythonLibs/mayastorUtils/MayastorSystemUtils.py
  nix/test/pythonLibs/mayastorUtils/NvmfUtils.py
  nix/test/pythonLibs/mayastorUtils/__init__.py
  nix/test/rebuild/default.nix
  nix/test/rebuild/rebuild.nix
Due: none

Allow longer for errors to propagate in error-count test. (#377)
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

persist terraform kernel config (#383)
  terraform/mod/k8s/node.sh
Due: none

snapshots: Minor refactoring
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/handle.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/io.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

nexus: fix error messages
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

nexus: impl Share trait
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/add_child.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus.rs
Due: rust-style, rust-lint

CAS-424: import volumes on startup
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
  csi/moac/volumes.js
  mayastor-test/test_nexus.js
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint, js-lint

Detach on failed fs mount. CAS-429
  csi/src/node.rs
Due: rust-style, rust-lint

lvs: redo the error handling and implicit share
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint, js-lint

CAS-434: fix pool status information (#392)
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

CAS-378: Rebuild nix tests (#375)
  .github/workflows/nix-tests.yaml
  nix/test/rebuild/README.md
  nix/test/rebuild/default.nix
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  nix/test/rebuild/rebuild.nix
Due: none

Update README.md (#382)
  deploy/README.md
Due: none

grpc: make use of the new lvs and lvol implementation
  Cargo.lock
  Cargo.toml
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/pool.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  nix/pkgs/mayastor/default.nix
  rpc/src/lib.rs
Due: rust-style, rust-lint, js-lint

CAS-400: Fix nvmf reconnect (#380)
  nix/pkgs/libspdk/default.nix
Due: none

CAS-17: auto pool names (#398)
  deploy/pool.yaml
Due: none

snapshots: Perform snapshot operations on the management reactor
  mayastor-test/test_replica.js
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint, js-lint

Use Reactors::master() instead of manually getting the reactor on the first core.
  mayastor/src/subsys/nvmf/admin_cmd.rs
Due: rust-style, rust-lint

snapshots: Perform snapshot operations on the management reactor (#403)
  mayastor-test/test_replica.js
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint, js-lint

Get the fix for panic in iscsi subsystem from SPDK repo (CAS-401)
  nix/pkgs/libspdk/default.nix
Due: none

Detach on failed fs mount. CAS-429 (#406)
  csi/src/node.rs
Due: rust-style, rust-lint

For greater portability relax block mount check.
  csi/src/block_vol.rs
Due: rust-style, rust-lint

address review request, expand function comment.
  csi/src/block_vol.rs
Due: rust-style, rust-lint

For greater portability relax block mount check. (#407)
  csi/src/block_vol.rs
Due: rust-style, rust-lint

snapshots: Add integration test for create_snapshot gRPC
  mayastor-test/test_common.js
  mayastor-test/test_snapshot.js
  scripts/node-test.sh
Due: js-lint

snapshots: Implement create over RPC and CLI
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_snapshot.rs
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/snapshot_cli.rs
  mayastor/src/core/handle.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

Code review comments
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/handle.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

reactor start_stop test
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

CAS-440: reactor start_stop test (#408)
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

Cleanup nexus nvme after mocha CSI tests CAS-427
  mayastor-test/test_csi.js
Due: js-lint

Cleanup nexus nvme after mocha CSI tests CAS-427 (#402)
  mayastor-test/test_csi.js
Due: js-lint

CAS-444: replace tokio-nats with nats.rs
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/nats.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Code review comments
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_count_retry.rs
  mayastor/tests/error_fault_child.rs
Due: rust-style, rust-lint

Added retry handling for the nexus IO path. (#404)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_count_retry.rs
  mayastor/tests/error_fault_child.rs
Due: rust-style, rust-lint

CAS-444: replace tokio-nats with nats.rs (#410)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/nats.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Restart rebuilds when Mayastor restarts
  .github/workflows/nix-tests.yaml
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/nexus_child_cli.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/subsys/config/mod.rs
  nix/test/child_status/child_status.nix
  nix/test/default.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
