Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Build a mayastor-client image on the top of the mayastor (#547)
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

Refactor for CAS-500
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/nightly/pvc_stress_fio/pvc_stress_fio_test.go
  mayastor-test/e2e/nightly/test.sh
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

e2e tests for a disconnected replica in a 2-replica volume
  mayastor-test/e2e/common/io_connect_node.sh
  mayastor-test/e2e/node_disconnect/README.md
  mayastor-test/e2e/node_disconnect/deploy/fio_iscsi.yaml
  mayastor-test/e2e/node_disconnect/deploy/fio_nvmf.yaml
  mayastor-test/e2e/node_disconnect/deploy/moac-deployment-refuge.yaml
  mayastor-test/e2e/node_disconnect/deploy/storage-class-2-repl.yaml
  mayastor-test/e2e/node_disconnect/node_disconnect_iscsi/node_disconnect_iscsi_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_nvmf/node_disconnect_nvmf_test.go
Due: none

Fix for a recent regression to develop branch testing
  Jenkinsfile
Due: none

The fix for commit status updates.
  Jenkinsfile
Due: none

Make disconnect e2e tests more independent of node name or IP addresses. More use of common code in disconnect tests. Added drop connection tests.
  mayastor-test/e2e/common/io_connect_node.sh
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/node_disconnect/lib/io_connect_node.sh
  mayastor-test/e2e/node_disconnect/lib/node_disconnect_lib.go
  mayastor-test/e2e/node_disconnect/node_disconnect_iscsi/node_disconnect_iscsi_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_iscsi_drop/node_disconnect_iscsi_drop_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_iscsi_reject/node_disconnect_iscsi_reject_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_nvmf/node_disconnect_nvmf_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_nvmf_drop/node_disconnect_nvmf_drop_test.go
  mayastor-test/e2e/node_disconnect/node_disconnect_nvmf_reject/node_disconnect_nvmf_reject_test.go
  mayastor-test/e2e/node_disconnect/test.sh
Due: none

Move pipeline abort to global scope again.
  Jenkinsfile
Due: none

Update and re-enable error retry rust test.
  mayastor/tests/error_count_retry.rs
Due: rust-style, rust-lint

Convert rebuild tests to Docker Compose tests
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/rebuild.rs
Due: rust-style, rust-lint

Defer nexus creation until the volume is published.
  csi/moac/.gitignore
  csi/moac/README.md
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/csi.js
  csi/moac/event_stream.js
  csi/moac/index.js
  csi/moac/nexus.ts
  csi/moac/node.ts
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/registry.js
  csi/moac/replica.ts
  csi/moac/test/csi_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_stub.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/rest_api_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  csi/moac/volume.js
  csi/moac/volume.ts
  csi/moac/volume_operator.ts
  csi/moac/volumes.ts
  csi/moac/watcher.ts
Due: js-lint

Fix mayastorvolume.yaml file with CRD definition.
  csi/moac/crds/mayastorvolume.yaml
Due: none

Let Tom go ..
  .github/auto_assign.yml
Due: none

Templatize deploy/* using helm
  chart/.helmignore
  chart/Chart.yaml
  chart/README.md
  chart/crds/mayastorpoolcrd.yaml
  chart/templates/_helpers.tpl
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/templates/moac-deployment.yaml
  chart/templates/moac-rbac.yaml
  chart/templates/nats-deployment.yaml
  chart/values.yaml
  deploy/namespace.yaml
  scripts/generate-deploy-yamls.sh
Due: none

Use new templatized deployment in e2e tests
  mayastor-test/e2e/install/deploy/csi-daemonset.yaml.template
  mayastor-test/e2e/install/deploy/mayastor-daemonset.yaml.template
  mayastor-test/e2e/install/deploy/moac-deployment.yaml.template
  mayastor-test/e2e/install/install_test.go
  mayastor-test/e2e/uninstall/uninstall_test.go
Due: none

Fix chart/README.md namespace TODO item
  chart/README.md
Due: none

Connect jenkins to e2e test cluster.
  Jenkinsfile
  doc/jenkins.md
  mayastor-test/e2e/example-parallel.sh
  mayastor-test/e2e/example-simple.sh
  scripts/release.sh
Due: none

nexus: log error messages in reconfigure context
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/core/descriptor.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-564: ChildState should remain faulted when retired
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

nexus: fix error message
  mayastor/src/core/descriptor.rs
Due: rust-style, rust-lint

nexus: ensure proper readers/writers in refresh.
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/tests/rebuild.rs
Due: rust-style, rust-lint

Add docker compose test for I/O failure
  mayastor/tests/child_io_error.rs
Due: rust-style, rust-lint

Add tests for disconnection with no nexus IO
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/node_disconnect/iscsi_drop/node_disconnect_iscsi_drop_test.go
  mayastor-test/e2e/node_disconnect/iscsi_reject/node_disconnect_iscsi_reject_test.go
  mayastor-test/e2e/node_disconnect/iscsi_reject_idle/node_disconnect_iscsi_reject_idle_test.go
  mayastor-test/e2e/node_disconnect/lib/node_disconnect_lib.go
  mayastor-test/e2e/node_disconnect/nvmf_drop/node_disconnect_nvmf_drop_test.go
  mayastor-test/e2e/node_disconnect/nvmf_reject/node_disconnect_nvmf_reject_test.go
  mayastor-test/e2e/node_disconnect/nvmf_reject_idle/node_disconnect_nvmf_reject_idle_test.go
  mayastor-test/e2e/node_disconnect/setup/node_disconnect_setup_test.go
  mayastor-test/e2e/node_disconnect/teardown/node_disconnect_teardown_test.go
  mayastor-test/e2e/node_disconnect/test.sh
Due: none

Allow Mayastor container to access udev database
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

mayastor: Build against SPDK 21.01-pre
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/target/iscsi.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

Dynamic Provisioning CSI E2E tests
  mayastor-test/csi-e2e/README.md
  mayastor-test/csi-e2e/check_driver_pods_restart.sh
  mayastor-test/csi-e2e/driver/driver.go
  mayastor-test/csi-e2e/driver/mayastor_driver.go
  mayastor-test/csi-e2e/dynamic_provisioning_test.go
  mayastor-test/csi-e2e/e2e_suite_test.go
  mayastor-test/csi-e2e/go.mod
  mayastor-test/csi-e2e/go.sum
  mayastor-test/csi-e2e/runtest.sh
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_cmd_volume_tester.go
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_collocated_pod_tester.go
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_delete_pod_tester.go
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_read_only_volume_tester.go
  mayastor-test/csi-e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  mayastor-test/csi-e2e/testsuites/specs.go
  mayastor-test/csi-e2e/testsuites/testsuites.go
Due: none

Integrate install & uninstall e2e tests to jenkins
  Jenkinsfile
  mayastor-test/e2e/install/README.md
  mayastor-test/e2e/install/install_test.go
  scripts/e2e-test.sh
  shell.nix
Due: none

E2E: Volume IO Test (iSCSI) CAS-505
  mayastor-test/e2e/basic_volume_io/basic_volume_io_test.go
Due: none

Remove now redundant files
  mayastor-test/e2e/nvmf_vol/deploy/fio_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/deploy/pvc_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

Review fixes.
  mayastor-test/e2e/basic_volume_io/basic_volume_io_test.go
Due: none

nexus: Assertion failure when unpublishing a faulted nexus
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

test dir
  test/e2e/basic_volume_io/basic_volume_io_test.go
Due: none

Set nexus state to degraded when adding replica
  csi/moac/nexus.ts
Due: none

Volume IO Tests CAS-505 CAS-506
  scripts/e2e-test.sh
  test/e2e/basic_volume_io/README.md
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/util.go
  test/e2e/nvmf_vol/deploy/fio_nvmf.yaml
  test/e2e/nvmf_vol/deploy/pvc_nvmf.yaml
  test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

CAS-574 and cas-509 Refactored e2e disconnect tests for more reliable clean up on error and reduction of duplicated code.
  test/e2e/common/util.go
  test/e2e/node_disconnect/iscsi_drop/node_disconnect_iscsi_drop_test.go
  test/e2e/node_disconnect/iscsi_reject/node_disconnect_iscsi_reject_test.go
  test/e2e/node_disconnect/iscsi_reject_idle/node_disconnect_iscsi_reject_idle_test.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
  test/e2e/node_disconnect/nvmf_drop/node_disconnect_nvmf_drop_test.go
  test/e2e/node_disconnect/nvmf_reject/node_disconnect_nvmf_reject_test.go
  test/e2e/node_disconnect/nvmf_reject_idle/node_disconnect_nvmf_reject_idle_test.go
  test/e2e/node_disconnect/nvmf_reject_reassign/nvmf_reject_reassign_test.go
  test/e2e/node_disconnect/replica_disconnect/replica_disconnection_test.go
  test/e2e/node_disconnect/replica_reassign/replica_reassign_test.go
  test/e2e/node_disconnect/teardown/node_disconnect_teardown_test.go
  test/e2e/node_disconnect/test.sh
Due: none

CAS-595: Do not overwrite versioned files in tests
  .gitignore
  scripts/generate-deploy-yamls.sh
  test/e2e/install/install_test.go
Due: none

Be able to test a specific tag of images in e2e tests
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/README.md
  test/e2e/install/README.md
  test/e2e/install/install_test.go
Due: none

jenkins worker is running out of space
  Jenkinsfile
  doc/jenkins.md
  scripts/reclaim-space.sh
Due: none

Use alpine image to run fio
  deploy/fio.yaml
  test/e2e/common/util.go
Due: none

CAS-597: zero-copy should be configurable
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
