Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

Fix CSI plugin crash. CAS-335 (#304)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
Due: rust-style, rust-lint

Correctly disconnect nvme devices CAS-337
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

address JKryl's review
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

Correctly disconnect nvme devices CAS-337 (#307)
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

review comments
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/thread.rs
  mayastor/src/subsys/opts.rs
  scripts/node-test.sh
Due: rust-style, rust-lint

nexus: enable write_zeroes
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

nvme: adjust vendor ID
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

nix: update cargosha
  nix/pkgs/mayastor/default.nix
Due: none

rebuild: error instead of assert
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
Due: rust-style, rust-lint

Remove CSINode operator because it's no longer needed with NATS
  csi/moac/csi_node_operator.js
  csi/moac/index.js
  csi/moac/test/csi_node_operator_test.js
  csi/moac/test/index.js
Due: js-lint

Rename mayastor-agent to mayastor-csi
  Cargo.lock
  README.md
  csi/Cargo.toml
  csi/README.md
  csi/moac/README.md
  csi/moac/common.js
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/src/identity.rs
  csi/src/node.rs
  csi/src/server.rs
  deploy/mayastor-daemonset.yaml
  doc/csi.md
  doc/img/csi-arch.jpg
  mayastor-test/README.md
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/client.rs
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

fix typo in comment
  mayastor/src/core/descriptor.rs
Due: rust-style, rust-lint

terraform: add Amazon Linux for libvirtd provider
  terraform/aws-linux/README.md
  terraform/aws-linux/main.tf
  terraform/aws-linux/meta-data.yaml
  terraform/aws-linux/user-data.yaml
Due: none

bdev: struct Bdev should not be sync
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

bdev: review comments
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

bdev: struct Bdev should not be sync (#312)
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

bdev: add support for malloc_bdev
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/tests/malloc_bdev.rs
  spdk-sys/build.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

deployment: update fio
  deploy/fio.yaml
Due: none

CI: auto add reviewers to PRs
  .github/auto_assign.yml
Due: none

CAS-341: replica not replaced when node leaves
  csi/moac/node.js
  csi/moac/registry.js
  csi/moac/volume.js
Due: js-lint

review comments
  terraform/aws-linux/README.md
  terraform/aws-linux/main.tf
Due: none

CAS-341: replica not replaced when node leaves (#316)
  csi/moac/node.js
  csi/moac/registry.js
  csi/moac/volume.js
Due: js-lint

terraform: add Amazon Linux for libvirtd provider (#311)
  terraform/aws-linux/README.md
  terraform/aws-linux/main.tf
  terraform/aws-linux/meta-data.yaml
  terraform/aws-linux/user-data.yaml
Due: none

bdev: add support for malloc_bdev (#313)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/tests/malloc_bdev.rs
  spdk-sys/build.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

deployment: update fio (#314)
  deploy/fio.yaml
Due: none

Auto assign reviewers (#315)
  .github/auto_assign.yml
Due: none

Re-enable the multiple_tests unit test
  mayastor/tests/lock_lba_range.rs
Due: rust-style, rust-lint

CAS-343: Re-enable the multiple_locks unit test (#317)
  mayastor/tests/lock_lba_range.rs
Due: rust-style, rust-lint

Re-enable the rebuild_multiple unit test
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Re-enable the rebuild_multiple unit test (#318)
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

nix: rework the binding layouts
  .github/workflows/pr.yaml
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint
