Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

feat(nvmx): pass device reference to i/o callbacks (#770)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

test(e2e): update basic volume IO test MQ-377
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

fix: emit log messages wit vol uuid
  test/e2e/common/util_pvc.go
  test/e2e/io_soak/definitions.go
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

test(e2e): notify mayastor-e2e channel
  Jenkinsfile
Due: none

update(README).md
  README.md
Due: none

test(e2e): set loadfactor to 10 for io-soak tests
  test/e2e/configurations/ci_e2e_config.yaml
Due: none

chore(nats): configurable nats cluster
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/nats-deployment.yaml
  chart/test/values.yaml
  chart/values.yaml
  deploy/nats-deployment.yaml
  scripts/generate-deploy-yamls.sh
Due: none

test(e2e): temporarily disable pod remove test
  scripts/e2e-test.sh
Due: none

feat(nvmx): abstract block devices for nexus children
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

feat(nvmx): abstract block devices for nexus children (#807)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

fix: add missing nats namespace to the helm charts CAS-809
  chart/templates/nats-deployment.yaml
Due: none

fix: change to use mayadata/fio CAS-599
  deploy/fio.yaml
Due: none

test(e2e): add pool online checks
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/install/install_test.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/ms_pod_disruption/replica_pod_remove_test.go
  test/e2e/multiple_vols_pod_io/multiple_vols_pod_io_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

fix(nvmx): nexus children removed in response to events
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

fix(nvmx): nexus children removed in response to events (#810)
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

feat(nvmx): allow setting hostnqn
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

fix(nvmx): remove raw pointer to timeout
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
Due: rust-style, rust-lint

feat(nvmeadm): add support for a few controller options
  csi/src/dev/nvmf.rs
  nvmeadm/src/error.rs
  nvmeadm/src/nvme_uri.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

feat(nexus): share over nvmf with controller ID range
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/aio_unmap.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_add_remove.rs
  mayastor/tests/nexus_children_add_remove.rs
  mayastor/tests/nexus_share.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

test(e2e): enable, extend pod disruption
  scripts/e2e-test.sh
  test/e2e/ms_pod_disruption/disruption_lib.go
  test/e2e/ms_pod_disruption/replica_pod_remove_test.go
Due: none

test(e2e): do not send xray reports via bors try
  Jenkinsfile
Due: none

test(e2e): run fio continuously in pod remove
  test/e2e/ms_pod_disruption/disruption_lib.go
Due: none

test(e2e): correctly obtain pipeline name
  Jenkinsfile
Due: none

fix: review fixes
  scripts/e2e-test.sh
  test/e2e/README.md
  test/e2e/configurations/ci_e2e_config.yaml
Due: none

ci: allow e2e tests to run on arbitrary mayastor source tree MQ-430
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/README.md
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/locations/util_locations.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/install/install_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat: support multiple client output formats
  doc/mayastor-client.md
  mayastor/src/bin/mayastor-client/bdev_cli.rs
  mayastor/src/bin/mayastor-client/context.rs
  mayastor/src/bin/mayastor-client/device_cli.rs
  mayastor/src/bin/mayastor-client/jsonrpc_cli.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/bin/mayastor-client/nexus_child_cli.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/bin/mayastor-client/perf_cli.rs
  mayastor/src/bin/mayastor-client/pool_cli.rs
  mayastor/src/bin/mayastor-client/rebuild_cli.rs
  mayastor/src/bin/mayastor-client/replica_cli.rs
  mayastor/src/bin/mayastor-client/snapshot_cli.rs
  test/grpc/test_cli.js
Due: rust-style, rust-lint, js-check

feat(nvmx): i/o timeouts for nvme controller (#675)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

nvmx: use std::Drop for controller destruction
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: abstract probe context
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

ci: fix dependencies
  .github/workflows/nvmx.yml
Due: none

fix(nvmx): controller i/o statistics (#718)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

ci: enable github actions for nvmx pieces
  .github/workflows/nvmx.yml
  scripts/block_devs.sh
  scripts/nvmx-test.sh
Due: none

mempool for managing preallocated set of elements based on xPDK memory pool API.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

nvmx: abstract options
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint
