Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]

fix(moac): import vols after nodes are registered
  csi/moac/event_stream.js
  csi/moac/index.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/index.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
  mayastor/src/subsys/mbus/registration.rs
  services/node/src/server.rs
Due: rust-style, rust-lint, js-check

test: remove unused nix tests
  composer/src/lib.rs
  mayastor/tests/rebuild.rs
  nix/test/README.md
  nix/test/basic/fio_nvme_basic.nix
  nix/test/basic/mayastor-config.yaml
  nix/test/child_status/child_status.nix
  nix/test/common.nix
  nix/test/default-mayastor-config.yaml
  nix/test/default.nix
  nix/test/disconnect/disconnect.nix
  nix/test/disconnect/mayastor-config.yaml
  nix/test/nvmf/nvmf_distributed.nix
  nix/test/nvmf/nvmf_ports.nix
  nix/test/pythonLibs/mayastorUtils/MayastorSystemUtils.py
  nix/test/pythonLibs/mayastorUtils/NvmfUtils.py
  nix/test/pythonLibs/mayastorUtils/__init__.py
  nix/test/rebuild/README.md
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  nix/test/rebuild/rebuild.nix
Due: rust-style, rust-lint

feat(nvmx): set of new features for device handles
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): set of new features for device handles (#632)
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix: avoid panic with missing bdev
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

test(rebuild): disable test
  mayastor/tests/rebuild.rs
Due: rust-style, rust-lint

ci: run CSI e2e tests in CI/CD pipeline CAS-577
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
  scripts/e2e_check_pod_restarts.sh
  test/csi-e2e/go.mod
  test/csi-e2e/go.sum
  test/csi-e2e/runtest.sh
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/test.go
  test/e2e/common/util.go
  test/e2e/csi/README.md
  test/e2e/csi/check_driver_pods_restart.sh
  test/e2e/csi/driver/driver.go
  test/e2e/csi/driver/mayastor_driver.go
  test/e2e/csi/dynamic_provisioning_test.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/csi/testsuites/dynamically_provisioned_cmd_volume_tester.go
  test/e2e/csi/testsuites/dynamically_provisioned_collocated_pod_tester.go
  test/e2e/csi/testsuites/dynamically_provisioned_delete_pod_tester.go
  test/e2e/csi/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  test/e2e/csi/testsuites/dynamically_provisioned_read_only_volume_tester.go
  test/e2e/csi/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/e2e/csi/testsuites/specs.go
  test/e2e/csi/testsuites/testsuites.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/install/install_test.go
  test/e2e/nightly/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/node_disconnect/replica_disconnect/replica_disconnection_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/node_disconnect/replica_reassign/replica_reassign_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

fix(moac): distribute nexuses more evenly
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
Due: js-check

refactor(nexus): add nexus create log
  mayastor/src/grpc/mayastor_grpc.rs
Due: rust-style, rust-lint

test: add example pool-client
  services/examples/pool-client/README.md
  services/examples/pool-client/main.rs
Due: rust-style, rust-lint

fix(lint): sanitize PR messages
  .github/workflows/pr-commitlint.yml
  commitlint.config.js
Due: js-check

test: pod remove test fixes
  test/e2e/common/util.go
  test/e2e/node_disconnect/lib/io_connect_node.sh
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/replica_disconnect/replica_disconnection_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/node_disconnect/replica_reassign/replica_reassign_test.go
Due: none

chore: more fine grained mayastor test permissions
  mayastor/.cargo/config
  mayastor/.cargo/runner.sh
Due: none

chore: handle sudoless root
  mayastor/.cargo/runner.sh
Due: none

chore: rearrange bins & set default
  doc/build.md
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor-client/bdev_cli.rs
  mayastor/src/bin/mayastor-client/context.rs
  mayastor/src/bin/mayastor-client/device_cli.rs
  mayastor/src/bin/mayastor-client/jsonrpc_cli.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/bin/mayastor-client/nexus_child_cli.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/bin/mayastor-client/perf_cli.rs
  mayastor/src/bin/mayastor-client/pool_cli.rs
  mayastor/src/bin/mayastor-client/rebuild_cli.rs
  mayastor/src/bin/mayastor-client/replica_cli.rs
  mayastor/src/bin/mayastor-client/snapshot_cli.rs
  mayastor/src/bin/mayastor.rs
  test/grpc/test_cli.js
Due: rust-style, rust-lint, js-check

chore: permit default conventional commit lengths
  commitlint.config.js
Due: js-check

feat(nvmx): controller shutdown/removal
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint

ci: fix dependencies
  .github/workflows/nvmx.yml
Due: none

feat(changelog): convco changelog and conventionality
  .github/workflows/pr-commitlint.yml
  .pre-commit-config.yaml
  .versionrc
  CHANGELOG.md
  commitlint.config.js
  nix/mayastor-overlay.nix
  nix/pkgs/convco/default.nix
Due: js-check

fix(nvmeadm): remove unwrap from disconnect
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

fix(csi): remove csi-driver-registrar prestop hook
  chart/templates/csi-daemonset.yaml
  deploy/csi-daemonset.yaml
Due: none

feat(swagger_ui): expose swagger-ui on rest
  Cargo.lock
  composer/src/lib.rs
  mbus-api/Cargo.toml
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/default.nix
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/service/src/v0/mod.rs
  rest/service/src/v0/resources/swagger-ui.html
  rest/service/src/v0/swagger_ui.rs
  rest/src/versions/v0.rs
  rest/tests/v0_test.rs
Due: rust-style, rust-lint

feat(openapi): generate openapi spec for rest
  Cargo.lock
  Cargo.toml
  mbus-api/Cargo.toml
  mbus-api/src/v0.rs
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/service/src/v0/children.rs
  rest/service/src/v0/mod.rs
  rest/service/src/v0/nexuses.rs
  rest/service/src/v0/nodes.rs
  rest/service/src/v0/pools.rs
  rest/service/src/v0/replicas.rs
  rest/service/src/v0/volumes.rs
  rest/src/versions/v0.rs
Due: rust-style, rust-lint

feat(macros): new proc-macros library
  Cargo.lock
  Cargo.toml
  mayastor-macros/Cargo.toml
  mayastor-macros/actix/Cargo.toml
  mayastor-macros/actix/src/lib.rs
  mayastor-macros/src/lib.rs
Due: rust-style, rust-lint

chore(deployment): Update k8s deployment config files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

feat(nvmx): controller shutdown/removal (#648)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint

ci: gh is horrible
  .github/workflows/nvmx.yml
Due: none

chore(deployment): update k8s config files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

chore(deployment): update k8s config files (#658)
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

chore: add CONTRIBUTING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  doc/contribute.md
Due: none

ci(moac): scale up/down test fails sometimes
  csi/moac/test/volumes_test.js
Due: js-check

fix(moac): sync replicas more often
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: js-check

Update FAQ.md
  doc/FAQ.md
Due: none

ci: refine ci install+uninstall tests
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
  test/e2e/common/util.go
  test/e2e/install/install_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat(control plane): allow images to be built
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/images/operators/default.nix
  nix/pkgs/images/services/default.nix
Due: none

feat(deployer): new tool to test the control plane
  Cargo.lock
  composer/src/lib.rs
  nix/pkgs/mayastor/default.nix
  operators/node/src/main.rs
  rest/src/lib.rs
  rest/tests/v0_test.rs
  services/Cargo.toml
  services/deployer/README.md
  services/deployer/src/bin.rs
  services/deployer/src/infra/dns.rs
  services/deployer/src/infra/empty.rs
  services/deployer/src/infra/jaeger.rs
  services/deployer/src/infra/mayastor.rs
  services/deployer/src/infra/mod.rs
  services/deployer/src/infra/nats.rs
  services/deployer/src/infra/rest.rs
Due: rust-style, rust-lint

test(e2e): build and use on-demand k8s cluster
  Jenkinsfile
Due: none
