Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

feat(cli): cli command for nvme controller statistics
  mayastor/src/bin/mayastor-client/controller_cli.rs
  mayastor/src/grpc/controller_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  rpc/proto/mayastor.proto
  test/python/README.md
  test/python/common/hdl.py
  test/python/common/msclient.py
  test/python/common/util.py
  test/python/test_cli_controller.py
Due: rust-style, rust-lint

fix(grpc): assert in gRPC serialiser
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/lib.rs
  test/python/common/hdl.py
  test/python/docker-compose.yml
  test/python/test_config.ini
  test/python/test_rpc.py
Due: rust-style, rust-lint

feat(nvmx): allow configurable extended host ID
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/tests/nexus_multipath.rs
Due: rust-style, rust-lint

fix: fix sha for building images
  nix/pkgs/mayastor/cargo-package.nix
Due: none

Add pytest_vm.nix
  test/python/pytest_vm.nix
Due: none

pytest: do not check pytest vm host key
  test/python/common/command.py
Due: none

hack test_nexus.py
  test/python/test_nexus.py
Due: none

use port 22222 for connecting to pytest vm
  test/python/test_config.ini
Due: none

fixes
  test/python/pytest_vm.nix
  test/python/test_config.ini
Due: none

hardcode empty password
  test/python/common/command.py
Due: none

do not ask password for whell when using sudo for pytest
  test/python/pytest_vm.nix
Due: none

ci(fix): remove the need to specify cargosha256
  Cargo.lock
  Cargo.toml
  csi/Cargo.toml
  csi/src/filesystem_vol.rs
  csi/src/format.rs
  csi/src/mount.rs
  csi/src/nodeplugin_svc.rs
  devinfo/Cargo.toml
  devinfo/build.rs
  devinfo/src/blkid/mod.rs
  devinfo/src/blkid/partition.rs
  devinfo/src/blkid/probe.rs
  devinfo/src/lib.rs
  devinfo/src/mountinfo/mod.rs
  devinfo/src/partition/mod.rs
  devinfo/wrapper.h
  nix/pkgs/mayastor/cargo-package.nix
Due: rust-style, rust-lint

fix(nix): revert back to h2 fork
  Cargo.lock
  Cargo.toml
  csi/Cargo.toml
  devinfo/src/blkid/probe.rs
  mayastor/src/logger.rs
  nix/pkgs/mayastor/cargo-package.nix
  test/grpc/test_csi.js
Due: rust-style, rust-lint, js-check

ci(py): add fs tests
  test/python/common/fio.py
  test/python/common/hdl.py
  test/python/common/mayastor.py
  test/python/test_config.ini
  test/python/test_multi_nexus.py
Due: none

test(py): add pytest-bdd feature tests for csi
  .gitignore
  test/python/README.md
  test/python/common/csi_hdl.py
  test/python/common/hdl.py
  test/python/features/csi.feature
  test/python/test_bdd_csi.py
  test/python/test_csi.py
  test/python/test_rpc.py
Due: none

feat(core): report supported features
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  rpc/proto/mayastor.proto
  test/python/common/hdl.py
  test/python/docker-compose.yml
  test/python/test_common.py
Due: rust-style, rust-lint

chore: remove support for parsing Nexus configuration in legacy INI
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_config.rs
  mayastor/src/bdev/nexus/nexus_module.rs
Due: rust-style, rust-lint

feat(nexus): add create_v2 gRPC with NVMe parameters
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/nexus_multipath.rs
  rpc/proto/mayastor.proto
  test/grpc/test_nexus.js
  test/python/common/hdl.py
  test/python/common/nvme.py
  test/python/docker-compose.yml
  test/python/test_nexus.py
Due: rust-style, rust-lint, js-check

test(py): new ana testcases for virtual controller and namespace
  test/python/common/nvme.py
  test/python/test_ana_client.py
Due: none

test(py): new ana testcase for checking io policy
  test/python/test_ana_client.py
Due: none

feat(nexus): change create_v2 gRPC to have separate name and uuid
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/tests/nexus_multipath.rs
  rpc/proto/mayastor.proto
  test/grpc/test_nexus.js
  test/python/common/hdl.py
  test/python/test_nexus.py
Due: rust-style, rust-lint, js-check

chore(build): rust-overlay and container image
  nix/lib/rust.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/sources.json
  shell.nix
Due: none

chore(build): bump cargo dependencies
  Cargo.lock
Due: none

fix(clippy): fix some clippy lints
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_state.rs
  mayastor/src/bin/mayastor-client/context.rs
Due: rust-style, rust-lint

fix(env): numactl erroneously removed
  shell.nix
Due: none

test(py): add pytest-bdd feature tests for nexus
  test/python/features/nexus.feature
  test/python/test_bdd_nexus.py
  test/python/test_nexus_publish.py
Due: none

test(py): add pytest-bdd feature tests for rebuild
  test/python/features/rebuild.feature
  test/python/test_bdd_rebuild.py
Due: none

test(py): add pytest-bdd feature tests for pools and replicas
  test/python/features/pool.feature
  test/python/features/replica.feature
  test/python/test_bdd_pool.py
  test/python/test_bdd_replica.py
Due: none

fix(build): ship mayastor-csi in container
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/cargo-package.nix
Due: none

fix(docs): remove stale links and move TOC up
  README.md
Due: none

feat(nexus): allow 2nd nexus to connect to replica
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/nexus_multipath.rs
  test/python/docker-compose.yml
  test/python/test_nexus_multipath.py
Due: rust-style, rust-lint

fix(grpc): allow UUID as name for CreateNexusV2
  mayastor/src/grpc/nexus_grpc.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check
