Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Rename device_path in grpc API to device_uri
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/nexus.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume_operator.js
  mayastor-test/test_cli.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Refactor CSI code to use traits for attaching and detaching devices.
  Cargo.lock
  csi/Cargo.toml
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/iscsi/iscsiadm.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/dev/util.rs
  csi/src/error.rs
  csi/src/format.rs
  csi/src/match_dev.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

ci: re-enable nix-tests
  .github/workflows/nix-tests.yaml
Due: none

Remove nbd storage class and tag moac image as develop in dev
  csi/moac/default.nix
  deploy/storage-class.yaml
Due: none

Remove nbd storage class and tag moac image as develop in dev (#348)
  csi/moac/default.nix
  deploy/storage-class.yaml
Due: none

cli: add bdev methods to create and share
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/core/reactor.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

uri: add Debug to the BdevCreateDestroy trait
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/mod.rs
Due: rust-style, rust-lint

subsys: move config module into its own dir
  mayastor/src/bin/initiator.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/share.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/yaml_config.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

bdev: add Share trait
  mayastor/src/core/bdev.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/nvmf.rs
Due: rust-style, rust-lint

mayastor gRPC methods should be idempotent
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/grpc_client_test.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
Due: rust-style, rust-lint, js-lint

Give users chance to use their own rust version in nix-shell.
  nix/README.md
  nix/lib/rust.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/mayastor/mayastor.nix
  nix/sources.json
  shell.nix
Due: none

ci: fix yaml format in the nix test workflow file
  .github/workflows/nix-tests.yaml
Due: none

CAS-346: get uri from bdev
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

upgrade to 20.07
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/common/error_bdev.rs
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

Address review comments
  mayastor/src/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

Increase the rebuild data size
  mayastor/src/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

Increase nexus size for tests
  mayastor-test/test_rebuild.js
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

CAS-377: Increase the rebuild data size (#353)
  mayastor-test/test_rebuild.js
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

CAS-382 - Modified match_iscsi_device() so that it does not assume that the "ID_SCSI_SERIAL" attribute will be present in the udev device record.
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/util.rs
  csi/src/match_dev.rs
Due: rust-style, rust-lint

fix rebuild and nvmeadm tests
  mayastor/README.md
  mayastor/tests/add_child.rs
  mayastor/tests/nexus_rebuild.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

bdev: add PCIe transport
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvme.rs
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

CAS-382 CSI plugin should not assume ID_SCSI_SERIAL attribute is present in udev records for iSCSI devices
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/util.rs
  csi/src/match_dev.rs
Due: rust-style, rust-lint

env: containers must now have /tmp
  nix/pkgs/images/default.nix
Due: none

fix bdev replica names
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/nvmf.rs
Due: rust-style, rust-lint

CAS-351: This enables the option of removing a child if the error count (#361)
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
