Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

fix(io-engine-client): use MY_POD_IP is present
  io-engine/src/bin/io-engine-client/v1/mod.rs
Due: rust-style, rust-lint

feat: add casperf container image
  nix/pkgs/images/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/units.nix
Due: none

build(container/images): reduce container image size
  n.sh
  nix/pkgs/images/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  perf.data
  result
  scripts/release.sh
Due: none

chore: remove files added by mistake
  n.sh
  perf.data
Due: none

fix(cli): fixing pool cluster size parsing
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
Due: rust-style, rust-lint

chore: upgrade cargo deps
  Cargo.lock
  io-engine-bench/Cargo.toml
  io-engine-tests/Cargo.toml
  io-engine-tests/io-engine-tests-macros/Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/bdev/nvmf.rs
  io-engine/src/core/nic.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/logger.rs
  io-engine/tests/core.rs
  jsonrpc/Cargo.toml
  libnvme-rs/Cargo.toml
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

feat(spdk): spdk bindings improvements
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nexus/nexus_iter.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/fault_injection/mod.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/nexus_child_retire.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(build): enable static link to SPDK libs
  io-engine/Cargo.toml
  io-engine/build.rs
  nix/pkgs/io-engine/cargo-package.nix
Due: rust-style, rust-lint

feat(injection): added support for bdev I/O fault injection
  Cargo.lock
  io-engine-tests/src/pool.rs
  io-engine/Cargo.toml
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/fault_injection/bdev_io_injection.rs
  io-engine/src/core/fault_injection/fault_method.rs
  io-engine/src/core/fault_injection/inject_io_ctx.rs
  io-engine/src/core/fault_injection/injection.rs
  io-engine/src/core/fault_injection/injection_api.rs
  io-engine/src/core/fault_injection/injection_state.rs
  io-engine/src/core/fault_injection/mod.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/src/lib.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_fail_crd.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/nexus_rebuild_verify.rs
Due: rust-style, rust-lint

test(ts): upgrade node packages
  test/grpc/package-lock.json
Due: none

refactor(clap): upgrade clap version
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/bin/casperf.rs
  io-engine/src/bin/initiator.rs
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/main.rs
  io-engine/src/bin/io-engine-client/v0/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v0/controller_cli.rs
  io-engine/src/bin/io-engine-client/v0/device_cli.rs
  io-engine/src/bin/io-engine-client/v0/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v0/mod.rs
  io-engine/src/bin/io-engine-client/v0/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v0/perf_cli.rs
  io-engine/src/bin/io-engine-client/v0/pool_cli.rs
  io-engine/src/bin/io-engine-client/v0/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v0/replica_cli.rs
  io-engine/src/bin/io-engine-client/v0/snapshot_cli.rs
  io-engine/src/bin/io-engine-client/v1/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v1/controller_cli.rs
  io-engine/src/bin/io-engine-client/v1/device_cli.rs
  io-engine/src/bin/io-engine-client/v1/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/perf_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/bin/jsonrpc.rs
  io-engine/src/bin/nvmet.rs
  io-engine/src/bin/uring-support.rs
  io-engine/src/core/env.rs
  result
Due: rust-style, rust-lint

build: remove unused deps
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
Due: none

fix(casperf): subcommand is not required
  io-engine/src/bin/casperf.rs
Due: rust-style, rust-lint

feat(build): using LLD linker
  .cargo/config
  ci.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
  nix/pkgs/libspdk/default.nix
  shell.nix
Due: none

feat(eventing): rebuild events
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/replica_events.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

feat(eventing): replica events
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/eventing/replica_events.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(rebuild): don't report skipped segments as transferred
  io-engine/src/rebuild/rebuild_task.rs
Due: rust-style, rust-lint

fix(io-engine-client): add subcommand required message
  io-engine/src/bin/io-engine-client/v0/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v0/controller_cli.rs
  io-engine/src/bin/io-engine-client/v0/device_cli.rs
  io-engine/src/bin/io-engine-client/v0/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v0/mod.rs
  io-engine/src/bin/io-engine-client/v0/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v0/perf_cli.rs
  io-engine/src/bin/io-engine-client/v0/pool_cli.rs
  io-engine/src/bin/io-engine-client/v0/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v0/replica_cli.rs
  io-engine/src/bin/io-engine-client/v0/snapshot_cli.rs
  io-engine/src/bin/io-engine-client/v1/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v1/controller_cli.rs
  io-engine/src/bin/io-engine-client/v1/device_cli.rs
  io-engine/src/bin/io-engine-client/v1/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/perf_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
Due: rust-style, rust-lint

feat(nvmf): selection different CRD for replicas and certain nexus error
  io-engine-tests/src/fio.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/nexus_crd.rs
  io-engine/tests/nexus_fail_crd.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/replica_crd.rs
  io-engine/tests/replica_thin_no_space.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(build): adding support for building and running with Address Sanitizer
  ci.nix
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/target.rs
  nix/lib/rust.nix
  shell.nix
  test/python/common/util.py
  test/python/cross-grpc-version/nexus/docker-compose.yml
  test/python/cross-grpc-version/pool/docker-compose.yml
  test/python/cross-grpc-version/replica/docker-compose.yml
  test/python/pool/docker-compose.yml
  test/python/tests/nexus/docker-compose.yml
Due: rust-style, rust-lint, python-check

fix(asan): fixing issues found by address sanitizer
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

feat: silence traces from unwanted modules
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/logger.rs
Due: rust-style, rust-lint

feat(nvmf): selecting different CRD for replicas and certain nexus errors
  io-engine-tests/src/fio.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/nexus_crd.rs
  io-engine/tests/nexus_fail_crd.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/replica_crd.rs
  io-engine/tests/replica_thin_no_space.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(subsys): getting back posix socket options
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(subsys): getting back posix socket options
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(spdk): backport of SPDK fix for zero copy
  nix/pkgs/libspdk/default.nix
Due: none

chore: prepare release v1.0.9
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/check-deploy-yamls.sh
Due: none

ci: publish binaries on release
  .github/workflows/publish-release-artifacts.yml
Due: none

build: upgrade colored_json
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
Due: none

chore: fix security alerts
  Cargo.lock
  test/python/requirements.txt
Due: none

fix: use relative url for submodule
  .gitmodules
Due: none

feat(nvme/opts): parse timeouts in humantime
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

chore: show starting configuration as info
  io-engine/src/subsys/config/mod.rs
Due: rust-style, rust-lint

chore: silence flush not supported IO
  io-engine/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

fix(iobuf): fixup large iobuf pool size
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(nvme/kato): adjust to spdk minimum
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(io-engine/client): jsonrpc does not use subcommand
  io-engine/src/bin/io-engine-client/v0/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v1/jsonrpc_cli.rs
Due: rust-style, rust-lint

fix(nvme/opts): remove outdated async parameter
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
