Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

New debug package libspdk-dev.
  mayastor/tests/replica_snapshot.rs
  nix/mayastor-overlay.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  shell.nix
Due: rust-style, rust-lint

Add nix network disconnection test. Test verifies that IOs to the nexus (from fio) hang for at least 60s when the network connection between the nexus and a replica remains is disconnected.
  nix/test/default.nix
  nix/test/disconnect/disconnect.nix
  nix/test/disconnect/mayastor-config.yaml
Due: none

Add nix network disconnection test. (#394)
  nix/test/default.nix
  nix/test/disconnect/disconnect.nix
  nix/test/disconnect/mayastor-config.yaml
Due: none

address review comments for test script
  mayastor-test/test_csi.js
Due: js-lint

handle udev[/???] as well as dev[/???]
  csi/src/block_vol.rs
Due: rust-style, rust-lint

Use regexes to handle comparison of device paths.
  csi/src/block_vol.rs
Due: rust-style, rust-lint

Add mocha tests for CSI block volumes. CAS-379
  Cargo.lock
  csi/Cargo.toml
  csi/src/block_vol.rs
  csi/src/error.rs
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

address review.
  csi/src/block_vol.rs
Due: rust-style, rust-lint

Attempt to fix failures seen only on CI
  csi/src/block_vol.rs
  mayastor-test/test_csi.js
Due: rust-style, rust-lint, js-lint

More fixes.
  csi/src/block_vol.rs
  mayastor-test/test_csi.js
Due: rust-style, rust-lint, js-lint

Add mocha tests for CSI block volumes. CAS-379 (#391)
  Cargo.lock
  csi/Cargo.toml
  csi/src/block_vol.rs
  csi/src/error.rs
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

Cleanup nexus iscsi sessions after mocha CSI tests. CAS-439
  mayastor-test/test_csi.js
Due: js-lint

Improve running iscsiadm
  mayastor-test/test_csi.js
Due: js-lint

Cleanup nexus iscsi sessions after mocha CSI tests. CAS-439 (#395)
  mayastor-test/test_csi.js
Due: js-lint

CAS-17: auto pool names
  deploy/pool.yaml
Due: none

Correcting minor typo in nvmf target.rs, log msg during target final init phase(role -> role)
  mayastor/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

Correcting minor typo in nvmf target.rs, log msg during target final init phase(role -> role) (#400)
  mayastor/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

add tini init system to the fio container (#384)
  deploy/fio.yaml
Due: none

snapshots: Minor refactoring
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/handle.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/io.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

share: adjust tests to Off variant
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/nexus_share.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

CAS-424: import volumes on startup
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
  csi/moac/volumes.js
  mayastor-test/test_nexus.js
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint, js-lint

replica: Implement create_snapshot
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint

snapshots: Add regression test via initiator
  mayastor-test/test_replica.js
  mayastor/src/bin/initiator.rs
Due: rust-style, rust-lint, js-lint

CAS-434: fix pool status information (#392)
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

ci: add tests and start to move out common code
  .github/workflows/nix-tests.yaml
  nix/test/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/common.nix
  nix/test/default-mayastor-config.yaml
  nix/test/default.nix
  nix/test/nvmf/nvmf_distributed.nix
  nix/test/nvmf/nvmf_ports.nix
  nix/test/pythonLibs/mayastorUtils/MayastorSystemUtils.py
  nix/test/pythonLibs/mayastorUtils/NvmfUtils.py
  nix/test/pythonLibs/mayastorUtils/__init__.py
  nix/test/rebuild/default.nix
  nix/test/rebuild/rebuild.nix
Due: none

test: fix mount_fs intermittent failures
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/cpu_cores.rs
  mayastor/src/core/thread.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

nexus: impl Share trait
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/add_child.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus.rs
Due: rust-style, rust-lint

lvs: remove the None protocol variant
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

Detach on failed fs mount. CAS-429
  csi/src/node.rs
Due: rust-style, rust-lint

CAS-378: Rebuild nix tests (#375)
  .github/workflows/nix-tests.yaml
  nix/test/rebuild/README.md
  nix/test/rebuild/default.nix
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  nix/test/rebuild/rebuild.nix
Due: none

bdev: update some comments
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

nexus: ensure that drop is called on init_thread
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/thread.rs
  mayastor/tests/nexus_share.rs
Due: rust-style, rust-lint

grpc: add stats grpc call
  mayastor-test/test_common.js
  mayastor-test/test_replica.js
  mayastor/src/core/bdev.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/pool_grpc.rs
Due: rust-style, rust-lint, js-lint

Allow longer for errors to propagate in error-count test. (#377)
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

bdev: add share info to bdev rcp call
  mayastor/src/grpc/bdev_grpc.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

persist terraform kernel config (#383)
  terraform/mod/k8s/node.sh
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
