Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Fix typo
  README.md
Due: none

Fix typo (#364)
  README.md
Due: none

pool: support creation by means of URIs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/tests/pool.rs
Due: rust-style, rust-lint

Simplify
  csi/src/block_vol.rs
  csi/src/filesystem_vol.rs
  csi/src/node.rs
  csi/src/server.rs
  mayastor-test/test_csi.js
Due: rust-style, rust-lint, js-lint

Add support for block volumes. CAS-14
  csi/src/mount.rs
  csi/src/node.rs
  mayastor-test/test_csi.js
Due: rust-style, rust-lint, js-lint

Address review request
  csi/src/node.rs
Due: rust-style, rust-lint

Add support for block volumes. CAS-14 (#359)
  csi/src/block_vol.rs
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/server.rs
Due: rust-style, rust-lint

Remove incorrect comment.
  csi/src/node.rs
Due: rust-style, rust-lint

Remove incorrect comment. (#366)
  csi/src/node.rs
Due: rust-style, rust-lint

CAS-348: export config on grpc
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/yaml_config.rs
Due: rust-style, rust-lint

CAS-349: persist the mayastor config...
  deploy/mayastor-daemonset.yaml
Due: none

CAS-381: reject UNMAP and FLUSH when not supported
  mayastor/src/bdev/nexus/nexus_fn_table.rs
Due: rust-style, rust-lint

log: fix erroneous destroy log entry
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
Due: rust-style, rust-lint

Increase error limit to 64, 5 is possibly too low to correctly handle events such as pod restarts.
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

bdev: ensure iSCSI bdevs are unshared
  mayastor/src/core/env.rs
  mayastor/src/target/iscsi.rs
Due: rust-style, rust-lint

CAS-370: hot remove child from parent
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

iSCSI: do not use LUN id allocated on the stack
  mayastor/src/target/iscsi.rs
Due: rust-style, rust-lint

nexus: fix log location
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/nexus_grpc.rs
Due: rust-style, rust-lint

release: v0.3.0
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
  nix/sources.json
Due: none

Fix importing pool with replicas (CAS-367) (#332)
  mayastor-test/test_replica.js
  nix/pkgs/libspdk/default.nix
Due: js-lint

Join grpc proto files together
  csi/moac/bundle_protos.sh
  csi/moac/default.nix
  csi/moac/grpc_client.js
  csi/moac/node.js
  csi/moac/test/grpc_enums.js
  csi/moac/test/mayastor_mock.js
  mayastor-test/grpc_enums.js
  mayastor-test/test_cli.js
  mayastor-test/test_common.js
  mayastor-test/test_rebuild.js
  mayastor/src/bin/cli/cli.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/server.rs
  rpc/README.md
  rpc/build.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
  rpc/src/lib.rs
Due: rust-style, rust-lint, js-lint

Implement flush support for Nexus. CAS-329 (#291)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint

Rework JS code checking and introduce support for TS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  csi/moac/.gitignore
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  doc/vscode.md
  mayastor-test/package-lock.json
  mayastor-test/package.json
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/nodePackages/README
  nix/pkgs/nodePackages/default.nix
  nix/pkgs/nodePackages/generate.sh
  nix/pkgs/nodePackages/node-env.nix
  nix/pkgs/nodePackages/node-packages.json
  nix/pkgs/nodePackages/node-packages.nix
  scripts/js-check.sh
  shell.nix
Due: js-lint

CAS-341: replica not replaced when node leaves (#316)
  csi/moac/node.js
  csi/moac/registry.js
  csi/moac/volume.js
Due: js-lint

nexus: Add NVMEoF discovery subsystem
  .github/workflows/build.yaml
  mayastor-test/test_nexus.js
  mayastor/src/subsys/opts.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint, js-lint

moac emits debug messages about stale object events
  csi/moac/package.json
  csi/moac/watcher.js
Due: js-lint

subsys: move config module into its own dir
  mayastor/src/bin/initiator.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/share.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/yaml_config.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

fix typo in comment
  mayastor/src/core/descriptor.rs
Due: rust-style, rust-lint

CI: switch over :gila -> :latest
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

nvme: adjust vendor ID
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

Re-enable the rebuild_multiple unit test (#318)
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

ci: Add the nix tests to CI
  .github/workflows/nix-tests.yaml
  nix/test/basic/README.md
  nix/test/basic/fio_nvme_basic.nix
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
