Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

Address review comments
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bin/cli/nexus_child_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
  mayastor/src/core/env.rs
  nix/test/basic/fio_nvme_basic.nix
  nix/test/child_status/child_status.nix
  nix/test/common.nix
  nix/test/disconnect/disconnect.nix
  nix/test/rebuild/rebuild.nix
Due: rust-style, rust-lint

CAS-125: Restart rebuilds when Mayastor restarts (#409)
  .github/workflows/nix-tests.yaml
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/nexus_child_cli.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/subsys/config/mod.rs
  nix/test/basic/fio_nvme_basic.nix
  nix/test/child_status/child_status.nix
  nix/test/common.nix
  nix/test/default.nix
  nix/test/disconnect/disconnect.nix
  nix/test/rebuild/rebuild.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

mount rust unit tests hang if assertion is triggered (CAS-451)
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
Due: rust-style, rust-lint

nexus publish hangs if kernel inits nbd dev for too long (CAS-453)
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/bin/cli/nexus_cli.rs
Due: rust-style, rust-lint

spdk-sys: Build with uring support
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

bdev/pool: Re-enable uring support
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/dev.rs
  mayastor/src/pool.rs
  mayastor/tests/core.rs
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
Due: rust-style, rust-lint, js-lint

Update deploy README.md for GitBook
  deploy/README.md
Due: none

Migrate our CI/CD from github actions to jenkins (CAS-397)
  Jenkinsfile
  doc/jenkins.md
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  scripts/moac-test.sh
  scripts/node-test.sh
Due: js-lint

Add validation to add and remove operations
  .github/workflows/nix-tests.yaml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/lib.rs
  mayastor/src/validation/mod.rs
  mayastor/src/validation/nexus_validator.rs
  nix/test/default.nix
  nix/test/validation/validation.nix
Due: rust-style, rust-lint

Add additional nix tests to Jenkinsfile
  Jenkinsfile
  nix/test/child_status/child_status.nix
Due: none

replace log with tracing
  Cargo.lock
  csi/Cargo.toml
  csi/src/format.rs
  csi/src/server.rs
  jsonrpc/Cargo.toml
  jsonrpc/src/lib.rs
  mayastor/Cargo.toml
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/core/reactor.rs
  mayastor/src/lib.rs
  mayastor/src/logger.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

replace log with tracing (#417)
  Cargo.lock
  csi/Cargo.toml
  csi/src/format.rs
  csi/src/server.rs
  jsonrpc/Cargo.toml
  jsonrpc/src/lib.rs
  mayastor/Cargo.toml
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/core/reactor.rs
  mayastor/src/lib.rs
  mayastor/src/logger.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/target/iscsi.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

produce nice test reports from mocha in jenkins (CAS-448)
  Jenkinsfile
  csi/moac/test/multi_reporter.js
  mayastor-test/multi_reporter.js
  scripts/moac-test.sh
  scripts/node-test.sh
Due: js-lint

Create workflow for pushing mayastor images to dockerhub (CAS-450)
  Jenkinsfile
  doc/jenkins.md
  scripts/release.sh
Due: none

nexus: flush should always succeed
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

Deploy files should specify mayastor images with 'latest' tag
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Update /deploy README - use "latest" tag on images
  deploy/README.md
Due: none

Update deployment YAML files to use 'latest' tag (#423)
  deploy/README.md
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

CAS-458 prevent crash in cargo test "create_pool_legacy" by avoiding destroying pools as you iterate through them.
  mayastor/tests/pool.rs
Due: rust-style, rust-lint

CAS-458 prevent crash in cargo test "create_pool_legacy" by (#424)
  mayastor/tests/pool.rs
Due: rust-style, rust-lint

Be able to trigger develop tests and image creation manually
  Jenkinsfile
Due: none

snapshots: Allow sharing without errors
  mayastor/src/lvs/lvol.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/io.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

snapshots: Move implementation to lvs::Lvol
  mayastor/src/bdev/nexus/nexus_bdev_snapshot.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
Due: rust-style, rust-lint

snapshots: Use NonNull to wrap raw pointers
  mayastor/src/lvs/lvol.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/replica_snapshot.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.c
  spdk-sys/nvme_helper.h
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

Enable bors for mayastor repo
  .github/auto_assign.yml
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/nix-tests.yaml
  .github/workflows/nix.yaml
  .github/workflows/pr.yaml
  Jenkinsfile
  bors.toml
Due: none

Test integration of bors and jenkins
  .github/auto_assign.yml
  Jenkinsfile
  doc/contribute.md
Due: none

Protect storage pools that host volumes with a finalizer
  csi/moac/finalizer_helper.ts
  csi/moac/pool_operator.js
  csi/moac/tsconfig.json
  csi/moac/volume.js
  deploy/moac-rbac.yaml
Due: js-lint

Nightly develop images were not built and uploaded
  Jenkinsfile
Due: none

Update stale badge for CI on front page
  README.md
  doc/jenkins.md
Due: none

Fix bug introduce in a recent change
  csi/moac/pool_operator.js
Due: js-lint

mayastor-tests: Remove ini file usage
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_snapshot.js
Due: js-lint

Jenkins should not update status of commit if all stages were skipped (CAS-459)
  Jenkinsfile
  doc/jenkins.md
Due: none
