Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

chore(release): revert k8s deployment config files (#713)
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

fix: correct dead links in build docs
  doc/build.md
Due: none

ci: generate logs as jenkins artefacts CAS-692
  Jenkinsfile
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
Due: none

feat: build against SPDK 21.01
  mayastor/src/bin/spdk.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(rest-test): new rest test project
  Cargo.lock
  Cargo.toml
  composer/src/lib.rs
  control-plane/deployer/bin/src/deployer.rs
  control-plane/deployer/src/infra/mod.rs
  control-plane/deployer/src/lib.rs
  control-plane/mbus-api/Cargo.toml
  control-plane/mbus-api/src/mbus_nats.rs
  control-plane/mbus-api/src/v0.rs
  control-plane/rest/src/lib.rs
  control-plane/tests/Cargo.toml
  control-plane/tests/tests/common/mod.rs
  control-plane/tests/tests/nexus.rs
  control-plane/tests/tests/pools.rs
  control-plane/tests/tests/replicas.rs
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/mayastor/default.nix
  scripts/ctrlp-cargo-test.sh
Due: rust-style, rust-lint

chore(rest): add openapi spec to the tree
  .pre-commit-config.yaml
  Jenkinsfile
  control-plane/rest/openapi-specs/v0_api_spec.json
  control-plane/rest/service/src/main.rs
  control-plane/rest/service/src/v0/mod.rs
  scripts/openapi-check.sh
Due: rust-style, rust-lint

fix(nvmx): controller i/o statistics
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(rest): expose list_block_devices method
  control-plane/agents/common/src/wrapper/v0/mod.rs
  control-plane/agents/common/src/wrapper/v0/msg_translation.rs
  control-plane/agents/common/src/wrapper/v0/pool.rs
  control-plane/agents/common/src/wrapper/v0/volume.rs
  control-plane/agents/node/src/server.rs
  control-plane/mbus-api/src/message_bus/v0.rs
  control-plane/mbus-api/src/v0.rs
  control-plane/rest/service/src/v0/block_devices.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/src/versions/v0.rs
Due: rust-style, rust-lint

fix(ci): openapi-check should fail
  control-plane/rest/openapi-specs/v0_api_spec.json
  scripts/openapi-check.sh
Due: none

feat(rest client): add support for new rest calls
  control-plane/rest/src/lib.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-style, rust-lint

fix: update CSI sidecars used with mayastor CAS-651
  chart/templates/moac-deployment.yaml
  csi/moac/csi.ts
  deploy/moac-deployment.yaml
  test/e2e/uninstall/uninstall_test.go
Due: none

fix(openapi): parameter names should match
  control-plane/rest/openapi-specs/v0_api_spec.json
  control-plane/rest/service/src/v0/pools.rs
Due: rust-style, rust-lint

test: uring add and removal
  mayastor/tests/nexus_children_add_remove.rs
  mayastor/tests/remove_child.rs
Due: rust-style, rust-lint

ci: remove failing tests
  mayastor/tests/bdev_test.rs
  mayastor/tests/child_io_error.rs
  mayastor/tests/io_job.rs
  mayastor/tests/rebuild.rs
Due: rust-style, rust-lint

chore(nightly): update nix rust nightly
  .rustfmt.toml
  composer/src/lib.rs
  control-plane/agents/common/src/lib.rs
  control-plane/mbus-api/src/v0.rs
  control-plane/rest/service/src/v0/swagger_ui.rs
  control-plane/rest/src/versions/v0.rs
  csi/src/nodeplugin_grpc.rs
  csi/src/nodeplugin_svc.rs
  csi/src/server.rs
  jsonrpc/src/test.rs
  mayastor/src/bdev/dev/nvme.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/nvme.rs
  mayastor/src/ffihelper.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/src/subsys/nvmf/transport.rs
  mayastor/tests/nexus_metadata.rs
  nix/lib/rust.nix
  nvmeadm/src/nvmf_discovery.rs
  rpc/src/lib.rs
  spdk-sys/src/lib.rs
Due: rust-style, rust-lint

revert: remove rust-toolchain
  doc/build.md
  rust-toolchain
Due: none

refactor(nexus): clean up label parsing code
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/nexus_label.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

chore: upgrade bindgen to 0.57
  Cargo.lock
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/reactor.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/transport.rs
  nix/pkgs/mayastor/default.nix
  spdk-sys/Cargo.toml
Due: rust-style, rust-lint

fix: review fixes + simplify
  csi/moac/index.js
  csi/moac/pv_operator.ts
  csi/moac/pvhandler.ts
  csi/moac/tsconfig.json
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: js-check

fix: ensure MSV is deleted CAS-652
  csi/moac/index.js
  csi/moac/pvhandler.ts
  csi/moac/tsconfig.json
  csi/moac/volume.ts
  csi/moac/volumes.ts
  csi/moac/watcher.ts
  test/e2e/csi/dynamic_provisioning_test.go
Due: js-check

refactor: e2e, split util.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_mayastor_crds.go
  test/e2e/common/util_node.go
  test/e2e/common/util_pvc.go
  test/e2e/common/util_testpods.go
  test/e2e/uninstall/uninstall_test.go
Due: none

ci(e2e): run e2e on shared worker
  Jenkinsfile
Due: none

chore(rest): remove volume operations
  control-plane/agents/volume/src/server.rs
  control-plane/agents/volume/src/service.rs
  control-plane/mbus-api/src/message_bus/v0.rs
  control-plane/mbus-api/src/v0.rs
  control-plane/rest/openapi-specs/v0_api_spec.json
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-style, rust-lint

chore: do profile-based yaml generation
  chart/templates/_helpers.tpl
  chart/templates/mayastor-daemonset.yaml
  chart/templates/moac-deployment.yaml
  chart/values.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
  scripts/generate-deploy-yamls.sh
  test/e2e/install/install_test.go
Due: none

ci: io soak test
  test/e2e/common/util.go
  test/e2e/io_soak/io_soak_test.go
Due: none

fix: review fixes
  test/e2e/common/util.go
  test/e2e/io_soak/io_soak_test.go
Due: none

chore(operators): purge rust operator from repo
  Cargo.lock
  Cargo.toml
  control-plane/deployer/src/infra/mod.rs
  control-plane/deployer/src/lib.rs
  control-plane/operators/Cargo.toml
  control-plane/operators/node/src/main.rs
  control-plane/rest/Cargo.toml
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

refactor(rest_cli): improve rest client errors
  control-plane/rest/src/lib.rs
  control-plane/rest/src/versions/v0.rs
Due: rust-style, rust-lint

test(rest): add more tests using rest
  control-plane/rest/src/lib.rs
  control-plane/tests/tests/common/mod.rs
  control-plane/tests/tests/nexus.rs
  control-plane/tests/tests/replicas.rs
Due: rust-style, rust-lint

test(local): add compose override flags
  composer/src/lib.rs
Due: rust-style, rust-lint

test(e2e): perform back-to-back CI runs
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/install/install_test.go
Due: none

nvmx: abstract list of nvmx devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/lib.rs
Due: rust-style, rust-lint

ci: fix dependencies
  .github/workflows/nvmx.yml
Due: none

ci: enable github actions for nvmx pieces
  .github/workflows/nvmx.yml
  scripts/block_devs.sh
  scripts/nvmx-test.sh
Due: none

feat(nvmx): i/o timeouts for nvme controller (#675)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

feat(nvmx): initial support of device events
  Cargo.lock
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

reset() operation implemented for NVMe controller. I/O channels are now recreated upon controller reset. Poller is used in channels and NVMe controller
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/poller.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Vectored write support added to device handle + BDD tests.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Initial code drop.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(nvmx): controller i/o statistics (#718)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint
