Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

CAS-598: Want ENV support for config options
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

Run CSI e2e tests in CI/CD pipeline CAS-577
  scripts/e2e-test.sh
  test/csi-e2e/runtest.sh
Due: none

Fixes for pvc stress test
  test/e2e/nightly/README.md
  test/e2e/nightly/pvc_stress/pvc_stress_test.go
  test/e2e/nightly/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/nightly/test.sh
Due: none

Refine test runner script.
  scripts/e2e-test.sh
Due: none

Unschedule Mayastor pod to test replica loss
  scripts/e2e-test.sh
  test/e2e/common/util.go
  test/e2e/go.sum
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
  test/e2e/node_disconnect/replica_disconnect/replica_disconnection_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/node_disconnect/replica_reassign/replica_reassign_test.go
  test/e2e/node_disconnect/test.sh
Due: none

test: add basic rebuild E2E test
  test/e2e/common/util.go
  test/e2e/rebuild/README.md
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/rebuild/fio.yaml
Due: none

fix(nexus): assertion failure when unpublishing a faulted nexus
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

Unschedule Mayastor pod to test replica loss
  scripts/e2e-test.sh
  test/e2e/common/util.go
  test/e2e/go.sum
  test/e2e/node_disconnect/README.md
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
  test/e2e/node_disconnect/replica_disconnect/replica_disconnection_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/node_disconnect/replica_reassign/replica_reassign_test.go
  test/e2e/node_disconnect/test.sh
Due: none

ci: check for mayastor pod restarts when running e2e-tests CAS-612
  scripts/e2e-test.sh
  scripts/e2e_check_pod_restarts.sh
Due: none

ci: collect cluster state and pod logs on e2e test failure CAS-611
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
Due: none

Review fix
  scripts/e2e-cluster-dump.sh
Due: none

Another review fix
  scripts/e2e-test.sh
Due: none

perf(tests): set npm jobs to cpu count
  scripts/grpc-test.sh
  scripts/moac-test.sh
Due: none

feat(poller): want poller abstraction
  mayastor/src/core/mod.rs
  mayastor/src/core/poller.rs
  mayastor/tests/poller.rs
Due: rust-style, rust-lint

Initial code drop.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

NVMe controller discovery added, + refactored directory structure.
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/descriptor.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

mempool for managing preallocated set of elements based on xPDK memory pool API.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

nvmx: abstract probe context
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Vectored write support added to device handle + BDD tests.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

test: disable e2e tests pending investigation
  scripts/e2e-test.sh
Due: none

feat: configure for direnv via envrc
  .envrc
Due: none

fix(replica): delay adding replica
  csi/moac/volume.ts
  scripts/e2e-test.sh
  test/e2e/replica/README.md
  test/e2e/replica/replica_test.go
Due: none

feat(js): use new version of grpc-uds with cached binary
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
  nix/pkgs/images/default.nix
  test/grpc/package-lock.json
  test/grpc/package.json
Due: none

docs(jenkins): disable password auth
  doc/jenkins.md
Due: none

nvmx: use std::Drop for controller destruction
  composer/src/lib.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: abstract options
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: abstract list of nvmx devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/lib.rs
Due: rust-style, rust-lint

ci(lint): lint commits on pull requests
  .github/workflows/pr-commitlint.yml
  commitlint.config.js
Due: js-lint

style(lint): lint commit messages
  .pre-commit-config.yaml
  shell.nix
Due: none

fix: fix composer container restart and
  Cargo.lock
  composer/Cargo.toml
  composer/src/lib.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  rest/service/src/message_bus/v0.rs
  rest/tests/v0_test.rs
  services/node/src/server.rs
Due: rust-style, rust-lint

feat(composer): add docker image capabilities
  composer/src/lib.rs
Due: rust-style, rust-lint

refactor: add detailed errors to the message bus
  mayastor/src/core/env.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
  mbus-api/examples/server/main.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/receive.rs
  mbus-api/src/send.rs
  mbus-api/src/v0.rs
  services/common/src/lib.rs
  services/examples/service/main.rs
  services/kiiss/src/server.rs
  services/node/src/server.rs
Due: rust-style, rust-lint
