Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

fix: rationalise
  test/e2e/install/install_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

chore: formatting nits
  mayastor/src/bin/spdk.rs
  mayastor/src/replica.rs
  spdk-sys/build.rs
Due: rust-style, rust-lint

fix: more rationlisations
  test/e2e/common/install/util.go
  test/e2e/install/install_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

fix(nexus): mayastor hangs when creating a nexus if there is an error creating a child
  control-plane/tests/tests/nexus.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/tests/child_size.rs
Due: rust-style, rust-lint

feat(nvmx): extended nvmx i/o completion status (#762)
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

feat(nvmx): pass device reference to i/o callbacks
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

feat(rest): authenticate clients
  Cargo.lock
  control-plane/deployer/src/infra/rest.rs
  control-plane/macros/actix/src/lib.rs
  control-plane/rest/Cargo.toml
  control-plane/rest/authentication/README.md
  control-plane/rest/authentication/id_rsa
  control-plane/rest/authentication/id_rsa.pub
  control-plane/rest/authentication/jwk
  control-plane/rest/authentication/token
  control-plane/rest/openapi-specs/v0_api_spec.json
  control-plane/rest/service/src/authentication.rs
  control-plane/rest/service/src/main.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/src/lib.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/tests/tests/common/mod.rs
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/openapi-check.sh
Due: rust-style, rust-lint

chore: fixup core_6 test failure
  spdk-sys/logwrapper.c
Due: none

test(e2e): install loki on the cluster
  Jenkinsfile
  test/e2e/loki/promtail_configmap_e2e.yaml
  test/e2e/loki/promtail_daemonset_e2e.template.yaml
  test/e2e/loki/promtail_namespace_e2e.yaml
  test/e2e/loki/promtail_rbac_e2e.yaml
Due: none

chore: allow Nexus::new to create and register children
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_config.rs
Due: rust-style, rust-lint

ci: fixes for correctness and maintainability MQ-232
  .gitignore
  Jenkinsfile
  scripts/e2e-cluster-dump.sh
  scripts/e2e-test.sh
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/locations/util_locations.go
  test/e2e/common/reporter/junit.go
  test/e2e/common/test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_mayastor_crds.go
  test/e2e/common/util_pvc.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/csi/dynamic_provisioning_test.go
  test/e2e/csi/e2e_suite_test.go
  test/e2e/csi/testsuites/testsuites.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/install/install_test.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

ci: i/o soak test - ensure remote replicas
  scripts/e2e-test.sh
  test/e2e/common/util_testpods.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

fix(composer): update separator for security options
  composer/src/lib.rs
Due: rust-style, rust-lint

test(e2e): add markers to loki log stream
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/loki/loki.go
  test/e2e/go.mod
  test/e2e/loki/promtail_daemonset_e2e.template.yaml
Due: none

refactor: rationalise e2e test structure further
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/test.go
  test/e2e/install/install_test.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/resource_check/resource_check_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat(nexus): implement set ANA state for an NVMf-published Nexus
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/nexus_multipath.rs
  rpc/proto/mayastor.proto
  spdk-sys/build.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

test(e2e): add markers to loki log stream
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/common/loki/loki.go
  test/e2e/common/test.go
  test/e2e/go.mod
  test/e2e/io_soak/io_soak_test.go
  test/e2e/loki/promtail_daemonset_e2e.template.yaml
Due: none

ci: jenkins should fail the pipeline if there are new coredumps
  Jenkinsfile
  doc/jenkins.md
  scripts/check-coredumps.sh
Due: none

ci(moac): fix timing issues in moac watcher tests
  csi/moac/test/watcher_test.js
Due: js-check

wip
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

fix(csi): update CSI external provisioner to 2.1.1
  chart/templates/moac-deployment.yaml
  deploy/moac-deployment.yaml
Due: none

feat(nexus): implement get ANA state for an NVMf-published Nexus
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  rpc/proto/mayastor.proto
  rpc/src/lib.rs
  spdk-sys/build.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

feat: show kernel nvme initiator multipath status on startup
  mayastor/src/bin/mayastor.rs
Due: rust-style, rust-lint

docs: add requirements for running with ANA
  doc/run.md
Due: none

test(cargo): verify unmap operation for aio module
  mayastor/tests/aio_unmap.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

test(e2e): add io_soak to extended tests
  scripts/e2e-test.sh
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/io_soak/io_soak_test.go
Due: none

ci(e2e): do not pass ENVIRONMENT param
  Jenkinsfile
Due: none

fix: more fixes
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/io_soak/README.md
  test/e2e/io_soak/definitions.go
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
Due: none

fix: review fixes + doc + naming
  test/e2e/common/util_cleanup.go
  test/e2e/io_soak/README.md
  test/e2e/io_soak/io_soak_test.go
Due: none

fix(moac): moac assert when publishing a volume
  csi/moac/node.ts
  csi/moac/test/csi_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
  csi/moac/volumes.ts
  csi/moac/watcher.ts
Due: js-check

ci: add namespace support required for disrupive pods MQ-325
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_mayastor_crds.go
  test/e2e/common/util_pvc.go
  test/e2e/common/util_testpods.go
  test/e2e/csi/dynamic_provisioning_test.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/node_disconnect/replica_pod_remove/replica_pod_remove_test.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
  test/e2e/uninstall/uninstall_test.go
Due: none

feat(nexus): make ANA reporting configurable
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/nexus_multipath.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

chore: switch away from deprecated spdk_nvmf functions
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

chore(deployment): Update k8s deployment config files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

chore: remove unnecessary sync/send impls
  mayastor/src/bdev/dev/nvme.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
Due: rust-style, rust-lint

chore: add sync/send docs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/target/iscsi.rs
Due: rust-style, rust-lint

chore: add send/sync for mthread
  mayastor/src/core/thread.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
