Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

moac emits debug messages about stale object events
  csi/moac/package.json
  csi/moac/watcher.js
Due: js-lint

ci: rustup needs zlib
  .github/workflows/build.yaml
  nix/lib/nixPackages.nix
Due: none

CI: remove toolchain actions
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

a
  .github/workflows/build.yaml
Due: none

nix: introduce sources.json
  default.nix
  nix/lib/nixPackages.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/liburing/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: none

nix: allow the use of local sources
  Cargo.lock
  default.nix
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/core/dma.rs
  mayastor/src/jsonrpc.rs
  mayastor/src/subsys/mod.rs
  nix/lib/rust.nix
  nix/mayastor-overlay.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  shell.nix
  spdk-sys/Cargo.toml
  spdk-sys/README.md
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/logwrapper.c
  spdk-sys/src/lib.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

build: default to a known good version of the rust toolchain
  nix/lib/rust.nix
  shell.nix
Due: none

nix: add image creation
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/terraform-provider-lxd/default.nix
  scripts/test.sh
  shell.nix
Due: none

uring: remove uring support for now.
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/pool.rs
  shell.nix
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

Removing docker container and actions dependencies
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

nix: rework the binding layouts
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

build: set target-arch to nehalem
  .cargo/config
Due: none

moac: msn is out of date (CAS-327)
  csi/moac/node_operator.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/watcher.js
Due: js-lint

Fix CI lint stage
  .github/workflows/pr.yaml
Due: none

moac: msn is out of date (CAS-327) (#292)
  .github/workflows/pr.yaml
  csi/moac/node_operator.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/watcher.js
Due: js-lint

ci: lets see what happens
  .github/workflows/build.yaml
  .github/workflows/newnewci.yaml
  nix/sources.json
  scripts/test.sh
  shell.nix
Due: none

nix: rework the binding layouts
  .github/workflows/pr.yaml
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint

ci: lets see what happens
  .github/workflows/build.yaml
  .github/workflows/newnewci.yaml
  .github/workflows/pr.yaml
  nix/sources.json
  scripts/test.sh
  shell.nix
Due: none

ii
  .github/workflows/newnewci.yaml
  .github/workflows/pr.yaml
Due: none

nix: must use version
  nix/pkgs/libspdk/default.nix
Due: none

nix: add bash to shell.nix
  shell.nix
Due: none

CI: make CI work again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  nix/sources.json
  scripts/test.sh
  shell.nix
Due: none

Converting nexus from JS to TS as shown during the demo
  csi/moac/.gitignore
  csi/moac/nexus.ts
  csi/moac/node.js
  csi/moac/package.json
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
Due: js-lint

moac: msv is out of date (CAS-323)
  csi/moac/nexus.ts
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
Due: js-lint

moac: msv is out of date (CAS-323) (#297)
  csi/moac/nexus.ts
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
Due: js-lint

Address JTeh's review request
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

Implement flush support for Nexus. CAS-329
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint

Address ChrisW's review request
  mayastor/src/bdev/nexus/nexus_fn_table.rs
Due: rust-style, rust-lint

Implement flush support for Nexus. CAS-329 (#291)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint
