Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: Move rebuild task list from the nexus into a global scope (#149)
  .github/workflows/teamrebuild_ci.yml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: remove the teamrebuild CI
  .github/workflows/teamrebuild_ci.yml
Due: none

rebuild: split the rebuild state logic
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: split rebuild module
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Rebuild: Start rebuild when setting child online (#164)
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: add progress and map child states
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Improve the state/status confusion
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

CAS-214: Add support to lock/unlock LBA ranges (#254)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint, js-lint

rebuild: more testing bug fixes (CAS-246) (#246)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint

Automatically rebuild when adding a new child
  csi/moac/nexus.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  csi/src/client.rs
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/core.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

rebuild: frontend IO whilst rebuilding (CAS-273) (#274)
  .gitignore
  csi/src/client.rs
  mayastor-test/test_cli.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

CAS-298: Update SPDK version
  .github/workflows/build.yaml
  nix/pkgs/libspdk/default.nix
Due: none

rebuild: fault child on failure (CAS-287)
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/mod.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/error_bdev.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: fault child on failure (CAS-287) (#276)
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/mod.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/error_bdev.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

CAS-298: Update SPDK version (#275)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  csi/moac/nexus.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  csi/src/client.rs
  mayastor-test/test_cli.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/core.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

nexus: Add NVMEoF discovery subsystem
  .github/workflows/build.yaml
  mayastor-test/test_nexus.js
  mayastor/src/subsys/opts.rs
  mayastor/src/target/nvmf.rs
Due: rust-style, rust-lint, js-lint

nix: make release build easier
  csi/src/node.rs
  csi/src/server.rs
  mayastor/src/bin/main.rs
  nix/lib/nixPackages.nix
  nix/lib/rust.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/liburing/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Fixup rebuild of nvmf replica
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/nexus_uri.rs
Due: rust-style, rust-lint

CAS-317: Fixup rebuild of nvmf replica (#279)
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/nexus_uri.rs
Due: rust-style, rust-lint

Update mayastor image revision
  nix/pkgs/mayastor/default.nix
Due: none

Update mayastor image revision (#280)
  nix/pkgs/mayastor/default.nix
Due: none

Prepare deploy folder content for v0.2.0 staging
  deploy/README.md
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Prepare deploy folder content for v0.2.0 staging (#281)
  deploy/README.md
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Rework JS code checking and introduce support for TS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  csi/moac/.gitignore
  csi/moac/README.md
  csi/moac/default.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool.ts
  csi/moac/replica.ts
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  doc/vscode.md
  mayastor-test/package-lock.json
  mayastor-test/package.json
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/nodePackages/README
  nix/pkgs/nodePackages/default.nix
  nix/pkgs/nodePackages/generate.sh
  nix/pkgs/nodePackages/node-env.nix
  nix/pkgs/nodePackages/node-packages.json
  nix/pkgs/nodePackages/node-packages.nix
  scripts/js-check.sh
  shell.nix
Due: js-lint

fix broken terraform lxd
  terraform/main.tf
  terraform/mod/k8s/node.sh
  terraform/mod/lxd/main.tf
Due: none

fix broken terraform lxd (#284)
  terraform/main.tf
  terraform/mod/k8s/node.sh
  terraform/mod/lxd/main.tf
Due: none

CAS-321: add mayastorpool.yaml to deployment
  deploy/README.md
  deploy/mayastorpoolcrd.yaml
Due: none

CAS-312 moac logs a warning about unexpected disk change
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  rpc/proto/mayastor.proto
Due: js-lint

CAS-321: add mayastorpool.yaml to deployment (#285)
  deploy/README.md
  deploy/mayastorpoolcrd.yaml
Due: none

nix: update the version of the install-nix-action
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
Due: none
