Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

doc: correct build with nix-shell step
  doc/build.md
Due: none

Remove redundant source field in error message
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

clippy fix and code review comments
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
Due: rust-style, rust-lint

Add spdk null bdev driver
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/null.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

env: Remove support for legacy INI configuration
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

Update README.md
  README.md
Due: none

CAS-489: limit config sync to pools
  deploy/mayastor-daemonset.yaml
  mayastor/src/core/env.rs
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

nvmeadm: use the snafu crate to generate improved errors messages CAS-338
  Cargo.lock
  csi/src/dev/nvmf.rs
  csi/src/error.rs
  csi/src/node.rs
  nvmeadm/Cargo.toml
  nvmeadm/src/lib.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/src/nvmf_subsystem.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

spdk-sys: Remove --without-vhost
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.sh
Due: none

mayastor: Build against SPDK 20.10
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/README.md
  spdk-sys/build.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

nvmeadm: use the snafu crate to generate improved errors messages CAS-338
  Cargo.lock
  csi/src/dev/nvmf.rs
  csi/src/error.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/error.rs
  nvmeadm/src/lib.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/src/nvmf_subsystem.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

CAS-492 Serialise reconfigure Ensure only one reconfigure task is active per-nexus at a time. This is achieved by locking an async mutex at the start of Nexus::reconfigure().
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Unaffinitize rebuild test threads
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Update Jenkins nix configuration
  doc/jenkins.md
Due: none

Add FindVolume to node plugin service
  csi/proto/mayastornodeplugin.proto
  csi/src/block_vol.rs
  csi/src/findmnt.rs
  csi/src/freezefs.rs
  csi/src/nodeplugin_grpc.rs
  csi/src/nodeplugin_svc.rs
  csi/src/server.rs
Due: rust-style, rust-lint

test: need ability to (easily) drive IO to a nexus
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/thread.rs
  mayastor/src/nexus_uri.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/io_job.rs
  mayastor/tests/lvs_pool_rpc.rs
  mayastor/tests/mayastor_compose_basic.rs
  mayastor/tests/nexus_child_location.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  shell.nix
Due: rust-style, rust-lint

thread: use NonNull<>
  mayastor/src/core/env.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/lvs/lvol.rs
  mayastor/tests/common/mod.rs
Due: rust-style, rust-lint

update dependencies
  Cargo.lock
  Cargo.toml
  nix/pkgs/mayastor/default.nix
Due: none

use different container name
  mayastor/tests/common/compose.rs
  mayastor/tests/io_job.rs
Due: rust-style, rust-lint

compose: default to cleanup when shutting down
  mayastor/tests/common/compose.rs
  mayastor/tests/io_job.rs
  mayastor/tests/lvs_pool_rpc.rs
Due: rust-style, rust-lint

nvmf: Enable ANA reporting when creating subsystem
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/handle.rs
  mayastor/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint, js-lint

nvme: add uri support
  Cargo.lock
  csi/src/dev/nvmf.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/error.rs
  nvmeadm/src/lib.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvme_uri.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

Ensure bdevs are removed when not in use
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/core.rs
  mayastor/tests/reconfigure.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

tests: Add scripts to bringup a test environment
  mayastor-test/e2e/example-parallel.sh
  mayastor-test/e2e/example-simple.sh
  mayastor-test/e2e/install/deploy/README.md
  mayastor-test/e2e/install/deploy/csi-daemonset.yaml.template
  mayastor-test/e2e/install/deploy/mayastor-daemonset.yaml.template
  mayastor-test/e2e/install/deploy/moac-deployment.yaml.template
  mayastor-test/e2e/install/install_test.go
  mayastor-test/e2e/setup/README.md
  mayastor-test/e2e/setup/bringup-cluster.sh
  mayastor-test/e2e/setup/test-registry.yaml
  scripts/release.sh
Due: none

Cancel all rebuild jobs on nexus destruction
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

CAS-512 Refactor mount_fs testcases to use NVMe protocol instead of NBD
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/tests/mount_fs.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/src/nvme_namespaces.rs
Due: rust-style, rust-lint

cargo tests: Limit debug logging to mayastor component
  mayastor/src/logger.rs
  mayastor/tests/common/mod.rs
Due: rust-style, rust-lint

e2e vagrant deployment usability fixes
  mayastor-test/e2e/install/deploy/pool.yaml
  mayastor-test/e2e/install/install_test.go
  mayastor-test/e2e/setup/bringup-cluster.sh
Due: none

Remove convoluted when{} statements and add guard for `develop` from Jenkinsfile
  Jenkinsfile
Due: none

CAS-517 Ensure that "log" messages from third party crates are displayed as trace events.
  mayastor/src/logger.rs
Due: rust-style, rust-lint

Move common compose bits into a library...
  Cargo.lock
  Cargo.toml
  composer/Cargo.toml
  composer/src/lib.rs
  mayastor/Cargo.toml
  mayastor/tests/common/compose.rs
  mayastor/tests/common/mod.rs
Due: rust-style, rust-lint

Extend composer to allow for containers...
  composer/Cargo.toml
  composer/src/lib.rs
Due: rust-style, rust-lint

Add simple versioning to the message bus...
  Cargo.lock
  csi/moac/mbus.js
  csi/moac/nats.js
  csi/moac/test/nats_test.js
  mayastor-test/test_nats.js
  mayastor/src/core/env.rs
  mayastor/src/subsys/mbus/registration.rs
  mbus-api/Cargo.toml
  mbus-api/examples/client/main.rs
  mbus-api/examples/server/main.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  mbus-api/src/receive.rs
  mbus-api/src/send.rs
  mbus-api/src/v0.rs
  services/Cargo.toml
  services/common/src/lib.rs
  services/examples/kiiss-client/main.rs
  services/examples/service/main.rs
  services/kiiss/src/server.rs
Due: rust-style, rust-lint, js-lint

Add initial node service...
  services/Cargo.toml
  services/examples/node-client/main.rs
  services/node/src/server.rs
Due: rust-style, rust-lint

Add initial rest service...
  Cargo.lock
  Cargo.toml
  composer/src/lib.rs
  nix/pkgs/mayastor/default.nix
  rest/Cargo.toml
  rest/certs/README
  rest/certs/build.sh
  rest/certs/openssl.cnf
  rest/certs/rsa/ca.cert
  rest/certs/rsa/ca.key
  rest/certs/rsa/user.cert
  rest/certs/rsa/user.chain
  rest/certs/rsa/user.key
  rest/certs/rsa/user.req
  rest/certs/rsa/user.rsa
  rest/service/src/main.rs
  rest/service/src/message_bus/mod.rs
  rest/service/src/message_bus/v0.rs
  rest/src/lib.rs
  rest/src/versions/mod.rs
  rest/src/versions/v0.rs
  rest/tests/test.rs
  rest/tests/v0_test.rs
Due: rust-style, rust-lint

Add initial k8s node operator...
  Cargo.lock
  Cargo.toml
  nix/pkgs/mayastor/default.nix
  operators/Cargo.toml
  operators/node/src/main.rs
Due: rust-style, rust-lint

env: add -l option to specify cores
  deploy/mayastor-daemonset.yaml
  mayastor/src/core/env.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

Replace watcher by cache implementation based on official k8s client
  csi/moac/.gitignore
  csi/moac/crds/mayastornode.yaml
  csi/moac/crds/mayastorpool.yaml
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/finalizer_helper.ts
  csi/moac/index.js
  csi/moac/nats.js
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/node_operator.js
  csi/moac/node_operator.ts
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool_operator.js
  csi/moac/pool_operator.ts
  csi/moac/test/index.js
  csi/moac/test/nats_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/tsconfig.json
  csi/moac/volume_operator.js
  csi/moac/volume_operator.ts
  csi/moac/watcher.js
  csi/moac/watcher.ts
Due: js-lint

Point the build icon to `master`
  README.md
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
