Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix: nexus multipath test to retry on resetting
  io-engine/tests/nexus_crd.rs
  test/python/common/nvme.py
  test/python/tests/nexus_multipath/test_bdd_nexus_multipath.py
  test/python/tests/nexus_multipath/test_nexus_multipath.py
Due: rust-style, rust-lint, python-check

refactor: specify the events stream replicas
  io-engine-tests/src/lib.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/logger.rs
Due: rust-style, rust-lint

ci: replace discontinued magic cache
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/unit-int.yml
Due: none

ci: use cachix instead of determinate systems
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/unit-int.yml
Due: none

chore(ci): inject github token post nix installation
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  scripts/ci-report.sh
Due: none

ci: remove duplicate nix install
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

chore(ci): update git submodules
  .gitmodules
Due: none

test: ignore the undesired event for failing ctlr
  io-engine/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

ci: update github runners to oci gh arc runners
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

test: bigger cluster size pool and rebuild
  io-engine-tests/src/pool.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

test: ensure /etc/nvme is valid before running tests
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  Cargo.lock
  doc/test.md
  io-engine-tests/src/nvme.rs
  libnvme-rs/Cargo.toml
  libnvme-rs/src/nvme_uri.rs
  scripts/cargo-test.sh
  scripts/ci-report.sh
  scripts/grpc-test.sh
  scripts/nvme-conf.sh
  scripts/pytest-tests.sh
  shell.nix
  test/python/common/nvme.py
Due: rust-style, rust-lint, python-check

test: extend fio completion timeout
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

test: use nvme path directly
  shell.nix
  test/grpc/test_common.js
  test/grpc/test_nexus.js
Due: js-check

test: ignore test which is relying on absent behaviour
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

feat(persistence): update replica health condition as atomic operation
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/persistent_store.rs
  io-engine/src/store/etcd.rs
  io-engine/src/store/store_defs.rs
  io-engine/tests/persistence.rs
Due: rust-style, rust-lint

build: update nix and rust compiler
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/fio.rs
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/ftl.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bdev/uring.rs
  io-engine/src/bin/io-engine-client/main.rs
  io-engine/src/bin/io-engine-client/v1/stats_cli.rs
  io-engine/src/bin/spdk.rs
  io-engine/src/core/fault_injection/inject_io_ctx.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/jsonrpc.rs
  io-engine/src/store/etcd.rs
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/block_device_nvmf.rs
  io-engine/tests/nexus_rebuild.rs
  scripts/nvme-conf.sh
  shell.nix
  test/python/common/mayastor.py
  test/python/local-job-fs-0-verify.state
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/v1/mayastor.py
Due: rust-style, rust-lint, python-check

security: update rust and grpc deps
  Cargo.lock
  test/grpc/package-lock.json
Due: none

fix: exit with error if gRPC port is busy
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/server.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

ci: update github runners to oci gh arc runners
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  Cargo.lock
  doc/test.md
  io-engine-tests/src/nvme.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/tests/nexus_child_retire.rs
  libnvme-rs/Cargo.toml
  libnvme-rs/src/nvme_uri.rs
  scripts/cargo-test.sh
  scripts/ci-report.sh
  scripts/grpc-test.sh
  scripts/nvme-conf.sh
  scripts/pytest-tests.sh
  shell.nix
  test/grpc/test_common.js
  test/grpc/test_nexus.js
  test/python/common/nvme.py
Due: rust-style, rust-lint, js-check, python-check

refactor: change md-resv-ratio to max-growth
  .gitmodules
  io-engine/examples/lvs-eval/main.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
Due: rust-style, rust-lint

feat(pool-expand): add logic to derive md_resv_ratio from absolute size
  .gitmodules
  io-engine-tests/src/pool.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/tests/lvs_grow.rs
Due: rust-style, rust-lint

feat(pool/grow): do bdev rescan before calling lvs grow function
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/lvs_grow.rs
Due: rust-style, rust-lint

ci: disable temporarily
  Jenkinsfile
Due: none

build(nix): set clang path env var
  shell.nix
Due: none

ci: filter git scissor line in commit lint hook
  .pre-commit-config.yaml
Due: none

feat(raid): proto changes for raid
  io-engine-tests/src/pool.rs
  io-engine/examples/lvs-eval/main.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_grow.rs
  io-engine/tests/lvs_import.rs
  io-engine/tests/lvs_limits.rs
  io-engine/tests/lvs_pool.rs
  io-engine/tests/nexus_with_local.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

feat(raid): add RaidBdev
  io-engine/src/core/mod.rs
  io-engine/src/core/raid.rs
Due: rust-style, rust-lint

feat: call spdk_bs_get_max_growable_size for max_expandable_size
  io-engine-tests/src/lib.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/lvs_grow.rs
Due: rust-style, rust-lint

ci: commitlint via nix-shell
  .pre-commit-config.yaml
Due: none

fix: set PR_SET_IO_FLUSHER for io-engine
  io-engine/src/bin/io-engine.rs
  io-engine/src/lib.rs
  io-engine/src/prctl.rs
Due: rust-style, rust-lint

fix: add CAP_SYS_RESOURCE capability for PR_SET_IO_FLUSHER support
  doc/run.md
  io-engine-bench/.cargo/runner.sh
  io-engine/.cargo/runner.sh
Due: none

chore: add staging ci for mayastor
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none
