Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

feat(pool): surface NVMe error-log entries in GetPoolHealth
  io-engine/src/core/device_health.rs
  io-engine/src/grpc/v1/pool.rs
Due: rust-style, rust-lint

fix(pool): fall back to logical_unit_id for SCSI wwn
  io-engine/src/core/device_health.rs
Due: rust-style, rust-lint

fix(core): restore and refresh reactor/worker affinity on cpuset updates
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/core/affinity.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
  io-engine/src/core/runtime.rs
Due: rust-style, rust-lint

ci: add static registry for crates.io download
  nix/pkgs/io-engine/cargo-package.nix
Due: none

feat(rdma): add RDMA support on the nexus child layer
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/core/bdev.rs
  io-engine/tests/nvmf.rs
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

build: upgrade to rust 1.97.1 and drop ring
  Cargo.lock
  Cargo.toml
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/pool.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/mod.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/env.rs
  io-engine/src/core/fault_injection/inject_io_ctx.rs
  io-engine/src/core/gpt/label.rs
  io-engine/src/core/gpt/maya.rs
  io-engine/src/core/gpt/primitives.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/wiper.rs
  io-engine/tests/memory_pool.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_rebuild.rs
  io-engine/tests/nexus_rebuild_parallel.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/replica_timeout.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

build: upgrade to rust 1.97.1 and drop ring (#2068)
  Cargo.lock
  Cargo.toml
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/pool.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/mod.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/env.rs
  io-engine/src/core/fault_injection/inject_io_ctx.rs
  io-engine/src/core/gpt/label.rs
  io-engine/src/core/gpt/maya.rs
  io-engine/src/core/gpt/primitives.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/wiper.rs
  io-engine/tests/memory_pool.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_rebuild.rs
  io-engine/tests/nexus_rebuild_parallel.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/replica_timeout.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(pool): expose disk SMART/health via GetPoolHealth
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/device_health.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/tests/pool_health.rs
  nix/pkgs/images/default.nix
  shell.nix
Due: rust-style, rust-lint

feat(nexus): add read-child selection policy (round-robin default, smart)
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(nexus): add read-child selection policy (round-robin default, smart) (#2063)
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

ci(image): build and attest the image SBOMs
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .gitignore
Due: none

ci: auto-approve Dependabot PRs
  .github/mergify.yml
Due: none

ci(image): build and attest the image SBOMs (#2065)
  .github/mergify.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .gitignore
Due: none

feat: add option to enable fips mode
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/lvs_pool_fips.rs
Due: rust-style, rust-lint

feat: back our tls stacks with FIPS validated crypto
  Cargo.lock
  Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  nix/pkgs/io-engine/cargo-package.nix
  shell.nix
Due: rust-style, rust-lint

Add fips enable switch to the io-engine (#2071)
  Cargo.lock
  Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/lvs_pool_fips.rs
  nix/pkgs/io-engine/cargo-package.nix
  shell.nix
Due: rust-style, rust-lint

fix(core): apply the off-reactor worker mask at startup
  io-engine/src/core/affinity.rs
  io-engine/src/core/env.rs
  io-engine/src/core/reactor.rs
  io-engine/src/core/runtime.rs
  io-engine/tests/reactor_affinity.rs
Due: rust-style, rust-lint

feat(lvm): thin provisioning and snapshots via dm-thin
  .github/workflows/bdd.yml
  io-engine/src/grpc/v1/lvm/mod.rs
  io-engine/src/lvm/cli.rs
  io-engine/src/lvm/dm_setup.rs
  io-engine/src/lvm/error.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/options.rs
  io-engine/src/lvm/property.rs
  io-engine/src/lvm/vg_pool.rs
  test/python/common/command.py
  test/python/v1/replica/features/lvm_thin_replica.feature
  test/python/v1/replica/test_bdd_lvm_thin_replica.py
Due: rust-style, rust-lint, python-check

fix(lvm): look pools up by name as well as by uuid
  io-engine/src/lvm/mod.rs
  test/python/v1/replica/features/lvm_replica.feature
  test/python/v1/replica/test_bdd_lvm_replica.py
Due: rust-style, rust-lint, python-check

feat(lvm): expand a pool onto the space its disks gained
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/cli.rs
  io-engine/src/lvm/error.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/vg_pool.rs
  test/python/v1/replica/features/lvm_replica.feature
  test/python/v1/replica/test_bdd_lvm_replica.py
Due: rust-style, rust-lint, python-check

feat(lvm): report replica io stats, and stop one backend hiding all
  .gitignore
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvm/vg_pool.rs
  test/python/setup.sh
  test/python/v1/hdl.py
  test/python/v1/replica/features/lvm_replica.feature
  test/python/v1/replica/test_bdd_lvm_replica.py
Due: rust-style, rust-lint, python-check

feat(pool): expose disk SMART/health via ListPoolsSmart
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/device_health.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/tests/pool_smart.rs
  nix/pkgs/images/default.nix
  shell.nix
Due: rust-style, rust-lint

fix(core): restore reactor affinity after cpuset updates (#2072)
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/core/affinity.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
  io-engine/src/core/runtime.rs
  io-engine/tests/reactor_affinity.rs
Due: rust-style, rust-lint

feat(pool): expose disk SMART/health via ListPoolsSmart (#2070)
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/device_health.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/tests/pool_smart.rs
  nix/pkgs/images/default.nix
  shell.nix
Due: rust-style, rust-lint

feat(grpc/tls): add gRPC TLS CLI args and feature flag
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/host.rs
Due: rust-style, rust-lint

feat: cores from cgroup flag
  io-engine/src/core/cgroup_cpuset.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
Due: rust-style, rust-lint

feat(io-engine): derive the core list from the process CPU affinity
  io-engine/src/core/cgroup_cpuset.rs
  io-engine/src/core/cpuset.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
Due: rust-style, rust-lint

fix(io-engine): address review comments on cores-from-cpuset
  io-engine/src/core/cpuset.rs
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(grpc/tls): connect io-engine-client over TLS
  io-engine/local-benchtest-0-verify.state
  io-engine/local-randrw-0-verify.state
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v0/mod.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/grpc/tls.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

feat(grpc/tls): reload the registration client certificate on rotation
  io-engine/src/grpc/tls.rs
Due: rust-style, rust-lint

feat(grpc/tls): connect registration client over TLS
  io-engine/src/bin/io-engine.rs
  io-engine/src/grpc/tls.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

feat(grpc/tls): serve the gRPC server over TLS
  Cargo.lock
  Cargo.toml
  io-engine-tests/src/compose/mod.rs
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/bin/nvmet.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/tls.rs
  scripts/grpc-test.sh
  test/grpc/test_common.js
  test/grpc/test_rebuild.js
Due: rust-style, rust-lint, js-check

feat(registration): add humantime heartbeat interval and timeout args
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

feat(host): report FIPS mode in MayastorFeatures
  io-engine/src/grpc/v1/host.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
