Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

chore: add send/sync for nvmfsubsystem
  mayastor/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

fix: review fix including a bug
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_mayastor_crds.go
Due: none

fix: review fix + remove hard coded size in runFio
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/util.go
  test/e2e/common/util_cleanup.go
  test/e2e/common/util_testpods.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/rawblock_fio.go
  test/e2e/node_disconnect/lib/node_disconnect_lib.go
  test/e2e/pvc_stress_fio/pvc_stress_fio_test.go
  test/e2e/rebuild/basic_rebuild_test.go
  test/e2e/replica/replica_test.go
Due: none

ci: add disruptive pods to I/O soak test MQ-252
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/e2e-fio/Dockerfile
  test/e2e/e2e-fio/README.md
  test/e2e/e2e-fio/build.sh
  test/e2e/e2e-fio/e2e_fio.c
  test/e2e/io_soak/README.md
  test/e2e/io_soak/definitions.go
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

fix: refactor e2e_fio.c for clarity
  test/e2e/e2e-fio/e2e_fio.c
Due: none

fix: review fixes
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/configurations/ci_e2e_config.yaml
Due: none

fix: build and use mayadata/e2e-fio
  test/e2e/e2e-fio/Dockerfile
  test/e2e/e2e-fio/README.md
  test/e2e/e2e-fio/build.sh
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

fix: use dockerhub maydata/e2e-fio
  test/e2e/io_soak/disruptor_fio.go
  test/e2e/io_soak/filesystem_fio.go
  test/e2e/io_soak/rawblock_fio.go
Due: none

fix: dsruptor pods use non zero exit value instead of SIGSEGV
  test/e2e/e2e-fio/README.md
  test/e2e/e2e-fio/e2e_fio.c
  test/e2e/io_soak/disruptor_fio.go
Due: none

test(e2e): add disruptive test
  Jenkinsfile
  scripts/e2e-test.sh
  test/e2e/ms_pod_disruption/lib/disruption_lib.go
  test/e2e/ms_pod_disruption/replica_pod_remove_test.go
  test/e2e/node_disconnect/lib/node_disconnect_setup.go
Due: none

fix(nexus): destroy child bdev when faulted
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

test(e2e): update IO soak and basic volume IO tests
  test/e2e/basic_volume_io/basic_volume_io_test.go
  test/e2e/common/util.go
  test/e2e/common/util_mayastor_crds.go
  test/e2e/common/util_pvc.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/io_soak/fio.go
  test/e2e/io_soak/io_soak_test.go
Due: none

fix(nexus): handle partial IO submission
  mayastor/src/bdev/dev/nvme.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/bio.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/dma.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/src/core/thread.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/tests/aio_unmap.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_count_retry.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/replica_snapshot.rs
  spdk-sys/build.sh
  spdk-sys/src/lib.rs
Due: rust-style, rust-lint

test: remove snapshot tests
  scripts/grpc-test.sh
  test/grpc/test_snapshot.js
Due: js-check

test: disable replica timeout tests
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

test(e2e): add label to fio pods
  test/e2e/common/util_testpods.go
Due: none

test(e2e): increase test run timeout to 3 hours
  Jenkinsfile
Due: none

test(e2e): test multiple volumes in a single test pod MQ-361
  test/e2e/common/e2e_config/e2e_config.go
  test/e2e/common/util_testpods.go
  test/e2e/configurations/ci_e2e_config.yaml
  test/e2e/multiple_vols_pod_io/multiple_vols_pod_io_test.go
Due: none

Initial code drop.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

NVMe controller discovery added, + refactored directory structure.
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/descriptor.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

mempool for managing preallocated set of elements based on xPDK memory pool API.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

feat(nvmx): set of new features for device handles (#632)
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

refactor(nvmx): more abstractions for spdk objects (#687)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
Due: rust-style, rust-lint

feat(nvmx): i/o timeouts for nvme controller (#675)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

ci: enable github actions for nvmx pieces
  .github/workflows/nvmx.yml
  scripts/block_devs.sh
  scripts/nvmx-test.sh
Due: none

ci: fix dependencies
  .github/workflows/nvmx.yml
Due: none

nvmx: abstract list of nvmx devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/lib.rs
Due: rust-style, rust-lint

feat(nvmx): controller shutdown/removal (#648)
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint

nvmx: use std::Drop for controller destruction
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: abstract options
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

Vectored write support added to device handle + BDD tests.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

reset() operation implemented for NVMe controller. I/O channels are now recreated upon controller reset. Poller is used in channels and NVMe controller
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/poller.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: abstract probe context
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(nvmx): controller i/o statistics (#718)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): initial support of device events
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix: adjust to new IO enum types
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
Due: rust-style, rust-lint

feat(nvmx): extended nvmx i/o completion status (#762)
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

test(e2e): run nightly on one branch
  Jenkinsfile
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
