Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]

feat(jaeger): add tracing for the rest calls
  Cargo.lock
  operators/Cargo.toml
  operators/node/src/main.rs
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/src/lib.rs
  rest/tests/v0_test.rs
Due: rust-style, rust-lint

feat: add initial pool service, extended the
  Cargo.lock
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/v0.rs
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/service/src/v0/mod.rs
  rest/service/src/v0/nodes.rs
  rest/service/src/v0/pools.rs
  rest/service/src/v0/replicas.rs
  rest/src/lib.rs
  rest/src/versions/v0.rs
  rest/tests/test.rs
  rest/tests/v0_test.rs
  services/Cargo.toml
  services/common/src/lib.rs
  services/common/src/wrapper/mod.rs
  services/common/src/wrapper/v0/mod.rs
  services/common/src/wrapper/v0/node_traits.rs
  services/common/src/wrapper/v0/pool.rs
  services/common/src/wrapper/v0/registry.rs
  services/node/src/server.rs
  services/pool/src/server.rs
  services/pool/src/service.rs
Due: rust-style, rust-lint

refactor: move the message bus client trait
  Cargo.lock
  mbus-api/Cargo.toml
  mbus-api/src/lib.rs
  mbus-api/src/message_bus/mod.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/send.rs
  mbus-api/src/v0.rs
  rest/service/src/main.rs
  rest/service/src/message_bus/mod.rs
Due: rust-style, rust-lint

feat: add initial volume service and the rest
  Cargo.lock
  mayastor/Cargo.toml
  mbus-api/src/mbus_nats.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/default.nix
  rest/Cargo.toml
  rest/service/src/main.rs
  rest/service/src/v0/children.rs
  rest/service/src/v0/mod.rs
  rest/service/src/v0/nexuses.rs
  rest/service/src/v0/volumes.rs
  rest/src/lib.rs
  rest/src/versions/v0.rs
  rest/tests/test.rs
  rest/tests/v0_test.rs
  services/Cargo.toml
  services/common/src/wrapper/v0/mod.rs
  services/common/src/wrapper/v0/node_traits.rs
  services/common/src/wrapper/v0/pool.rs
  services/common/src/wrapper/v0/registry.rs
  services/common/src/wrapper/v0/volume.rs
  services/volume/src/server.rs
  services/volume/src/service.rs
Due: rust-style, rust-lint

refactor: add actual types for each resource
  composer/src/lib.rs
  mayastor/src/subsys/mbus/registration.rs
  mbus-api/src/message_bus/v0.rs
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/default.nix
  operators/node/src/main.rs
  rest/service/src/v0/children.rs
  rest/service/src/v0/nexuses.rs
  rest/service/src/v0/nodes.rs
  rest/service/src/v0/pools.rs
  rest/service/src/v0/replicas.rs
  rest/service/src/v0/volumes.rs
  rest/src/versions/v0.rs
  rest/tests/v0_test.rs
  services/common/src/lib.rs
  services/common/src/wrapper/v0/mod.rs
  services/common/src/wrapper/v0/node_traits.rs
  services/common/src/wrapper/v0/pool.rs
  services/common/src/wrapper/v0/registry.rs
  services/common/src/wrapper/v0/volume.rs
  services/node/src/server.rs
  services/pool/src/server.rs
  services/pool/src/service.rs
  services/volume/src/server.rs
  services/volume/src/service.rs
Due: rust-style, rust-lint

test(rebuild): wait for successful rebuild
  mayastor/tests/rebuild.rs
Due: rust-style, rust-lint

Add notes to envrc
  .envrc
Due: none

feat(moac): k8s client - pull fixes from upstream
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
Due: none

ci: enable github actions for nvmx pieces
  .github/workflows/nvmx.yml
  scripts/block_devs.sh
  scripts/nvmx-test.sh
Due: none

test: enable running rebuild E2E test on CI/CD
  scripts/e2e-test.sh
Due: none

Vectored read operation implemented for block device handle (readv_blocks()) + BDD tests.
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

NVMe controller discovery added, + refactored directory structure.
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/descriptor.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Initial code drop.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lib.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

nvmx: abstract probe context
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

Vectored write support added to device handle + BDD tests.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

mempool for managing preallocated set of elements based on xPDK memory pool API.
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mempool.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
Due: rust-style, rust-lint

nvmx: use std::Drop for controller destruction
  composer/src/lib.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: use poller::Poller during async probe
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

nvmx: abstract list of nvmx devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/lib.rs
Due: rust-style, rust-lint

nvmx: abstract options
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
Due: rust-style, rust-lint

fix(linter): fix linter git hook
  .github/workflows/pr-commitlint.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

ci: fix invalid docker prune command
  scripts/reclaim-space.sh
Due: none

reset() operation implemented for NVMe controller. I/O channels are now recreated upon controller reset. Poller is used in channels and NVMe controller
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/poller.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

test: test commit; ignore
  README.md
Due: none

fix(moac): need more info about watcher objects
  csi/moac/watcher.ts
Due: none

feat(nvmx) CAS-614 I/O handle for NVMe devices
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/poller.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(nexus): segfault connecting to 0 ns nvmf tgt
  mayastor/src/bdev/dev/nvmf.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

fix: in child_retire, use close not bdev_destroy
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint
