Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: conventional
        name: Conventional Commits
        description: Ensures commits are conventional.
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run "convco check || true"
    -   id: changelog
        name: Updated Changelog
        description: Updates the changelog (to include up to before this commit -- including this commit is not possible).
        language: system
        pass_filenames: false
        entry: nix-shell default.nix -A convco --run 'convco changelog > CHANGELOG.md'

chore(docs): update some comments
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

fix(nvmx): nexus children removed in response to events (#810)
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

chore(nvmx): update doc comments for mempool
  mayastor/src/core/mempool.rs
Due: rust-style, rust-lint

chore(nvmx): various cleanups
  composer/src/lib.rs
  csi/src/mount.rs
  mayastor/src/bdev/dev/device.rs
  mayastor/src/bdev/dev/nvmx/channel.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/core/bio.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mempool.rs
  mayastor/src/host/blk_device.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/memory_pool.rs
  mayastor/tests/nvme_device_timeout.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvmf_subsystem.rs
Due: rust-style, rust-lint

feat(nvmx): support of hot removal for nvmx devices (#834)
  composer/src/lib.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_state.rs
  mayastor/src/bdev/dev/nvmx/mod.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

feat(nvmx): block device abstraction for nexus children
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/device.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/dev/nvmx/uri.rs
  mayastor/src/bdev/dev/nvmx/utils.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

fix(nvmx): remove raw pointer to timeout
  mayastor/src/bdev/dev/nvmx/controller.rs
  mayastor/src/bdev/dev/nvmx/controller_inner.rs
Due: rust-style, rust-lint

ci(gh): remove temporary GH action
  .github/workflows/nvmx.yml
Due: none

fix(nvmx): restored important fixes
  mayastor/src/bdev/dev/device.rs
  mayastor/src/bdev/dev/nvmx/handle.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/block_device.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

chore(uuid): use uuid::Uuid as in the device trait
  mayastor/src/bdev/dev/device.rs
  mayastor/src/bdev/dev/nvmx/device.rs
  mayastor/src/bdev/dev/nvmx/namespace.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/block_device.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/block_device_nvmf.rs
Due: rust-style, rust-lint

fix(test): fixed composebasic testcase
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/mayastor_compose_basic.rs
Due: rust-style, rust-lint

fix(nix): envrc is a personal preference
  .envrc
Due: none

chore(nvmx): remove ununsed file
  mayastor/src/bdev/dev/nvmx/descriptor.rs
Due: rust-style, rust-lint

feat(nvmx): bring back get_buf()
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/mayastor/cargo-package.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

chore(nix): update nixpkgs and rustc
  .pre-commit-config.yaml
  csi/src/filesystem_vol.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/core/bdev.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/nvmf/transport.rs
  nix/lib/rust.nix
  nix/sources.json
Due: rust-style, rust-lint

test(e2e): continuous runs need DockerHub images
  Jenkinsfile
Due: none

chore(bdev): reorder the location of some files
  mayastor/src/bdev/aio.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/iscsi.rs
  mayastor/src/bdev/loopback.rs
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/null.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/controller_state.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/bdev/nvmx/namespace.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/bdev/nvmx/utils.rs
  mayastor/src/bdev/uring.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

chore(nexus): refactor labelling and metadata code
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
Due: rust-style, rust-lint

chore(core): make delayed polling explicit
  mayastor/src/core/reactor.rs
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

fix(nexus): remove alias from bdevs that are local
  mayastor/src/bdev/loopback.rs
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/tests/nexus_with_local.rs
Due: rust-style, rust-lint

fix(moac): fix for assertions hit while preparing demo
  csi/moac/replica.ts
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
Due: js-check

fix(mayastor): replicas are reported incorrectly for multiple pools
  mayastor/src/subsys/config/mod.rs
Due: rust-style, rust-lint

feat(core): add spawn_local() for threads
  composer/src/lib.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/env.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/pool_grpc.rs
  mayastor/src/lib.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/core.rs
  mayastor/tests/io.rs
  mayastor/tests/iscsi_tgt.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  mayastor/tests/nexus_child_location.rs
  mayastor/tests/nexus_label.rs
  mayastor/tests/nexus_metadata.rs
  mayastor/tests/nexus_share.rs
  mayastor/tests/nvme_device_timeout.rs
  mayastor/tests/nvmf.rs
  mayastor/tests/reactor.rs
  mayastor/tests/thread.rs
Due: rust-style, rust-lint

chore: change nightly test runs to continue on failure
  Jenkinsfile
Due: none

fix(mbus): ensure nats registration runs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
Due: rust-style, rust-lint

feat(nexus): register an NVMe reservation on adding a child
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/nexus_multipath.rs
Due: rust-style, rust-lint

test(e2e): use loki_run_id to identify runs in Loki
  Jenkinsfile
Due: none

test: update npm dependencies of grpc test suite
  test/grpc/package-lock.json
  test/grpc/package.json
Due: none

fix(nexus): io completed in case of submission errors
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

feat(csi): ctrl_loss_tmo should be set to ioTimeout from SC
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/node.rs
Due: rust-style, rust-lint

feat(csi): support WaitForFirstConsumer for mayastor volumes
  chart/templates/moac-deployment.yaml
  csi/moac/.gitignore
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/csi.ts
  csi/moac/index.ts
  csi/moac/moac
  csi/moac/package.json
  csi/moac/test/csi_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/index.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
  csi/moac/volume.ts
  csi/moac/volume_operator.ts
  csi/moac/volumes.ts
  csi/src/node.rs
  deploy/fio.yaml
  deploy/moac-deployment.yaml
  deploy/storage-class.yaml
  test/grpc/test_csi.js
Due: rust-style, rust-lint, js-check

fix: default pool device to aio if not specified
  mayastor/src/lvs/lvs_pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

fix(fstype): add default fstype to csi provisioner container
  chart/templates/moac-deployment.yaml
  deploy/moac-deployment.yaml
  deploy/storage-class.yaml
Due: none

chore(thread): clean up thread guards
  mayastor/src/core/thread.rs
  mayastor/src/subsys/nvmf/mod.rs
Due: rust-style, rust-lint

fix: disregard msp spec modifications
  csi/moac/crds/mayastorpool.yaml
  csi/moac/pool_operator.ts
  csi/moac/test/pool_operator_test.js
Due: js-check

feat(core): provide handle to external runtime
  .gitignore
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/runtime.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/thread.rs
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  shell.nix
Due: rust-style, rust-lint

fix: add error message when we fail to send registration hb
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  test/grpc/test_nats.js
Due: rust-style, rust-lint, js-check

feat: make replica URI's unique
  composer/src/lib.rs
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/replica_uri.rs
Due: rust-style, rust-lint

fix: nexus name used after drop
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/tests/nexus_create_destroy.rs
Due: rust-style, rust-lint

fix(moac): propagate errors from FSA to callers
  csi/moac/nexus.ts
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.ts
  csi/moac/volumes.ts
Due: js-check
