Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

rebuild: Move rebuild task list from the nexus into a global scope (#149)
  .github/workflows/teamrebuild_ci.yml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Add pause/resume rebuild support (#158)
  .github/workflows/teamrebuild_ci.yml
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
Due: rust-style, rust-lint, js-lint

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: remove the teamrebuild CI
  .github/workflows/teamrebuild_ci.yml
Due: none

Rebuild: Start rebuild when setting child online (#164)
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: split rebuild module
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: split the rebuild state logic
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: add progress and map child states
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Improve the state/status confusion
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Fix CSI volume provisioning for NBD devices
  csi/src/node/iscsiutil.rs
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

Fix CSI volume provisioning for NBD devices (#220)
  csi/src/node/iscsiutil.rs
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

move moac into build workflow. move image jobs to seperate workflow
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/moac.yaml
Due: none

run build when moac files change
  .github/workflows/build.yaml
  .github/workflows/image.yaml
Due: none

lvol: ensure bdev name is set properly
  nix/pkgs/libspdk/default.nix
Due: none

save container images to github as artifacts (#219)
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/moac.yaml
Due: none

CSI iSCSI updates for quick.md
  doc/quick.md
Due: none

Correct the tested on section
  doc/quick.md
Due: none

reactor: enable full speed mode
  mayastor/src/core/reactor.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

moac: Fix semistandard issues that cannot be auto-fixed
  csi/moac/common.js
  csi/moac/csi.js
  csi/moac/event_stream.js
  csi/moac/grpc_client.js
  csi/moac/logger.js
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  csi/moac/node.js
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/pool_operator.js
  csi/moac/registry.js
  csi/moac/replica.js
  csi/moac/test/csi_test.js
  csi/moac/test/grpc_client_test.js
  csi/moac/test/index.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/node_stub.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/rest_api_test.js
  csi/moac/test/utils.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/test/watcher_test.js
  csi/moac/test/workq_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
  csi/moac/volumes.js
  csi/moac/watcher.js
  csi/moac/workq.js
Due: js-lint

moac: handle rebuild state properly
  csi/moac/README.md
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/nexus.js
  csi/moac/pool.js
  csi/moac/replica.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/utils.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
  csi/moac/volumes.js
  csi/src/client.rs
  doc/quick.md
  mayastor-test/test_cli.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Rework of mayastor-client
  csi/src/client.rs
  mayastor-test/test_cli.js
Due: rust-style, rust-lint, js-lint

doc: Clarify CPU architecture requirements in quick.md
  doc/quick.md
  nix/pkgs/libspdk/default.nix
Due: none

Improved test for changes related to iscsi feature
  csi/moac/csi.js
  csi/moac/test/csi_test.js
Due: js-lint

Automatically rebuild when adding a new child
  csi/moac/nexus.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Update docs to allow for running tests locally.
  doc/build.md
  doc/quick.md
  mayastor-test/README.md
Due: none

Rework of mayastor-client (#226)
  csi/src/client.rs
  mayastor-test/test_cli.js
Due: rust-style, rust-lint, js-lint

We lost a lot of useful log messages related to grpc methods
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc.rs
Due: rust-style, rust-lint

CAS-174 Changes to address review comments
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_metadata_content.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

CAS-174 Add automated test for storing and retrieving metadata
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

CAS-174 Add basic framework for persisting (rust) objects to the "MayaMeta" partition
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_state.rs
Due: rust-style, rust-lint
