Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

pool: support creation by means of URIs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/tests/pool.rs
Due: rust-style, rust-lint

CAS-344: add UUID to URI format (#333)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config.rs
Due: rust-style, rust-lint

uri: add Debug to the BdevCreateDestroy trait
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/mod.rs
Due: rust-style, rust-lint

upgrade to 20.07
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/common/error_bdev.rs
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

address some CI issues (#338)
  .github/workflows/nix-tests.yaml
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
Due: rust-style, rust-lint

iSCSI: do not use LUN id allocated on the stack
  mayastor/src/target/iscsi.rs
Due: rust-style, rust-lint

CAS-321: add mayastorpool.yaml to deployment (#285)
  deploy/README.md
  deploy/mayastorpoolcrd.yaml
Due: none

nix-test: add basic fio test (#325)
  nix/test/basic/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/basic/mayastor-config.yaml
Due: none

nix: update the version of the install-nix-action
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
Due: none

Give users chance to use their own rust version in nix-shell.
  nix/README.md
  nix/lib/rust.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/mayastor/mayastor.nix
  nix/sources.json
  shell.nix
Due: none

nexus: fix log location
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/nexus_grpc.rs
Due: rust-style, rust-lint

Rename mayastor-agent to mayastor-csi
  Cargo.lock
  README.md
  csi/Cargo.toml
  csi/README.md
  csi/moac/README.md
  csi/moac/common.js
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/src/identity.rs
  csi/src/node.rs
  csi/src/server.rs
  deploy/mayastor-daemonset.yaml
  doc/csi.md
  doc/img/csi-arch.jpg
  mayastor-test/README.md
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/client.rs
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

fix bdev replica names
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/nvmf.rs
Due: rust-style, rust-lint

nix: allow the use of local sources
  Cargo.lock
  default.nix
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/core/dma.rs
  mayastor/src/jsonrpc.rs
  mayastor/src/subsys/mod.rs
  nix/lib/rust.nix
  nix/mayastor-overlay.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  shell.nix
  spdk-sys/Cargo.toml
  spdk-sys/README.md
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/logwrapper.c
  spdk-sys/src/lib.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

CAS-370: hot remove child from parent
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

CAS-372: Use read-only nexus descriptor in rebuild job (#337)
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/add_child.rs
Due: rust-style, rust-lint

CAS-381: reject UNMAP and FLUSH when not supported
  mayastor/src/bdev/nexus/nexus_fn_table.rs
Due: rust-style, rust-lint

bdev: ensure iSCSI bdevs are unshared
  mayastor/src/core/env.rs
  mayastor/src/target/iscsi.rs
Due: rust-style, rust-lint

moac should accept URIs for pool devices
  csi/moac/crds/mayastorpool.yaml
  csi/moac/pool_operator.js
  csi/moac/test/pool_operator_test.js
Due: js-lint

Refactor CSI code to use traits for attaching and detaching devices.
  Cargo.lock
  csi/Cargo.toml
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/iscsi/iscsiadm.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/dev/util.rs
  csi/src/error.rs
  csi/src/format.rs
  csi/src/match_dev.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

update mayastor-client documentation (CAS-364) (#334)
  .github/workflows/image.yaml
  doc/mayastor-client.md
Due: none

env: containers must now have /tmp
  nix/pkgs/images/default.nix
Due: none

Remove k8s scheduler constraint for iscsi/nvmf volumes
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/moac/test/index.js
Due: js-lint

cli: reorganize code
  mayastor/Cargo.toml
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/cli/nexus.rs
  mayastor/src/bin/cli/pool.rs
  mayastor/src/bin/cli/replica.rs
  mayastor/src/client.rs
  shell.nix
Due: rust-style, rust-lint

CAS-312 moac logs a warning about unexpected disk change
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_test.js
  rpc/proto/mayastor.proto
Due: js-lint

Do not mention NBD in our quick start guide.
  deploy/README.md
Due: none

Integrate rust client for NATS with mayastor/SPDK
  Cargo.lock
  deploy/mayastor-daemonset.yaml
  mayastor-test/package-lock.json
  mayastor-test/package.json
  mayastor-test/test_common.js
  mayastor-test/test_nats.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/Cargo.toml
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  mayastor/src/nats.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  scripts/node-test.sh
  scripts/test.sh
Due: rust-style, rust-lint, js-lint

CSI attach idempotency. CAS-340 (#320)
  csi/src/node/iscsiutil.rs
  csi/src/server.rs
Due: rust-style, rust-lint

CAS-377: Increase the rebuild data size (#353)
  mayastor-test/test_rebuild.js
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint, js-lint

CAS-345: normalize the dev name (#339)
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

deployment: update fio (#314)
  deploy/fio.yaml
Due: none

bdev: add support for malloc_bdev (#313)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/tests/malloc_bdev.rs
  spdk-sys/build.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

Correctly disconnect nvme devices CAS-337 (#307)
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

nix: rework the binding layouts
  .github/workflows/pr.yaml
  nix/pkgs/libspdk/default.nix
  shell.nix
  spdk-sys/build.rs
  spdk-sys/logwrapper.h
Due: rust-style, rust-lint

CAS-346: get uri from bdev
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

build: set target-arch to nehalem
  .cargo/config
Due: none

uring: remove uring support for now.
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/pool.rs
  shell.nix
  spdk-sys/build.sh
Due: rust-style, rust-lint, js-lint

CI: node:12 not node/node:12
  .github/workflows/pr.yaml
Due: none

nix: introduce sources.json
  default.nix
  nix/lib/nixPackages.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libiscsi/default.nix
  nix/pkgs/liburing/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: none

Provision NVMe-oF volumes. CAS-81 (#302)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  deploy/mayastor-daemonset.yaml
  deploy/storage-class.yaml
  mayastor-test/test_csi.js
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint, js-lint
