Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

moac: unpublish old volume (CAS-326) (#301)
  csi/moac/csi.js
  csi/moac/test/csi_test.js
Due: js-lint

CAS-171 Excessive errors take a child out of the IO path (#324)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/subsys/opts.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/error_store.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

nexus: enable write_zeroes
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

gRPC: add bdev cli and grpc
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/pool_cli.rs
  mayastor/src/bin/cli/replica_cli.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/tests/nvmf.rs
  nix/pkgs/mayastor/default.nix
  rpc/proto/mayastor_service.proto
  shell.nix
Due: rust-style, rust-lint

nix: add image creation
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/terraform-provider-lxd/default.nix
  scripts/test.sh
  shell.nix
Due: none

nix: add bash to shell.nix
  shell.nix
Due: none

terraform: add Amazon Linux for libvirtd provider (#311)
  terraform/aws-linux/README.md
  terraform/aws-linux/main.tf
  terraform/aws-linux/meta-data.yaml
  terraform/aws-linux/user-data.yaml
Due: none

Fix typo (#364)
  README.md
Due: none

Move rbac rules for moac to a separate yaml file
  deploy/README.md
  deploy/moac-deployment.yaml
  deploy/moac-rbac.yaml
Due: none

log: fix erroneous destroy log entry
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
Due: rust-style, rust-lint

Remove leftovers in csi test suite. (#321)
  mayastor-test/test_csi.js
Due: js-lint

nexus: impl Share trait
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/add_child.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus.rs
Due: rust-style, rust-lint

bdev: update some comments
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

bdev: add share info to bdev rcp call
  mayastor/src/grpc/bdev_grpc.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

nexus: ensure that drop is called on init_thread
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/thread.rs
  mayastor/tests/nexus_share.rs
Due: rust-style, rust-lint

replica: Implement create_snapshot
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint

nexus: fix error messages
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

snapshots: Minor refactoring
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/handle.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/io.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

CAS-332: rework the pool layer
  mayastor/src/core/mod.rs
  mayastor/src/ffihelper.rs
  mayastor/src/lib.rs
  mayastor/src/lvs/error.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/lvs/pool.rs
  mayastor/tests/lvs_pool.rs
Due: rust-style, rust-lint

Allow longer for errors to propagate in error-count test. Some tests were failing because the management thread did not have enough time to process futures sent to it.
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

Allow longer for errors to propagate in error-count test. (#377)
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

Create rebuild nix tests
  nix/test/rebuild/README.md
  nix/test/rebuild/default.nix
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  nix/test/rebuild/rebuild.nix
Due: none

Address review comments
  .github/workflows/nix-tests.yaml
  nix/test/rebuild/rebuild.nix
Due: none

CAS-378: Rebuild nix tests (#375)
  .github/workflows/nix-tests.yaml
  nix/test/rebuild/README.md
  nix/test/rebuild/default.nix
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  nix/test/rebuild/rebuild.nix
Due: none

Proper mayastor debug package and code cleanup.
  .github/workflows/image.yaml
  csi/moac/README.md
  csi/moac/default.nix
  doc/build.md
  nix/lib/version.nix
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
  nix/test/basic/fio_nvme_basic.nix
  nix/test/rebuild/rebuild.nix
  terraform/README.adoc
Due: none

GitBook: [master] 2 pages modified
  README.md
  SUMMARY.md
Due: none

CAS-399 Ensure status field in NioCtx is always defined.
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

CAS-399 Ensure status field in NioCtx is always defined. (#378)
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

snapshots: Add regression test via initiator
  mayastor-test/test_replica.js
  mayastor/src/bin/initiator.rs
Due: rust-style, rust-lint, js-lint

CAS-400: Fix nvmf reconnect
  nix/pkgs/libspdk/default.nix
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
