Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Add e2e pvc stress test. CAS-500
  mayastor-test/e2e/nightly/README.md
  mayastor-test/e2e/nightly/pvc_stress/pvc_stress_test.go
  mayastor-test/e2e/nightly/test.sh
Due: none

Enabled missed tests from control plane
  rest/tests/v0_test.rs
  scripts/cargo-test.sh
  services/common/src/lib.rs
Due: rust-style, rust-lint

Add back logs from test code
  mayastor/tests/common/mod.rs
Due: rust-style, rust-lint

Explicitly pin targets to different cores to improve stability of tests
  mayastor/tests/io_job.rs
Due: rust-style, rust-lint

test: add IO failure test to validate admin queue timeouts
  composer/src/lib.rs
  csi/src/dev/nvmf.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/src/logger.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/bdev_test.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_count_retry.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/error_store.rs
  mayastor/tests/nexus_add_remove.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

Remove all containers after premature end of the tests
  scripts/cargo-test.sh
Due: none

nexus: multi core reconfigure looses callback
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/core/mod.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/yaml_config.rs
Due: rust-style, rust-lint

test: remove error_store test + clippy
  csi/src/filesystem_vol.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/descriptor.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/tests/bdev_test.rs
  mayastor/tests/error_store.rs
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/src/nvmf_subsystem.rs
Due: rust-style, rust-lint

test: adjust core mask
  mayastor/tests/bdev_test.rs
Due: rust-style, rust-lint

Replace dynamic label with static .name having test name as its value
  composer/src/lib.rs
  scripts/cargo-test.sh
Due: rust-style, rust-lint

ci: further reduce resources needed
  mayastor/tests/bdev_test.rs
Due: rust-style, rust-lint

cargo tests: Add a Nexus multipath test
  Jenkinsfile
  mayastor/tests/nexus_multipath.rs
Due: rust-style, rust-lint

Fix rebuild bug and add new subcommand
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bin/cli/rebuild_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/rebuild/rebuild_impl.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

terraform: Require the libvirt provider
  terraform/README.adoc
  terraform/mod/libvirt/main.tf
Due: none

Bump up Jenkins hugepages to 4096 x2MB
  doc/jenkins.md
Due: none

Make the install test more platform agnostic
  mayastor-test/e2e/install/install_test.go
Due: none

test: remove ms_exec and fix clippies
  composer/src/lib.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/host/blk_device.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/transport.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/nvmet.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/yaml_config.rs
  nvmeadm/src/nvmf_discovery.rs
  rest/service/src/message_bus/v0.rs
  rest/tests/v0_test.rs
  services/node/src/server.rs
  shell.nix
Due: rust-style, rust-lint

moac: Fix unreliable time interval tests for watcher
  csi/moac/test/watcher_test.js
Due: js-lint

Try to fix CI nbd issues
  mayastor/src/bdev/nexus/nexus_nbd.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

Clean up log/tracing event formatter
  mayastor/src/logger.rs
Due: rust-style, rust-lint

Print env vars in each test stage of jenkins
  Jenkinsfile
Due: none

Introduce init stage for disabling default commit status in the future
  Jenkinsfile
Due: none

Set a child to closed only when necessary
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

Limit number of layers in docker images to avoid problems.
  nix/pkgs/images/default.nix
Due: none

snapshot: Reintroduce replica snapshot cargo test
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/replica_snapshot.rs
Due: rust-style, rust-lint

Make nexus children wait for bdev removal on close
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

Fixes for review 1
  mayastor-test/e2e/uninstall/uninstall_test.go
Due: none

Add uninstall test
  mayastor-test/e2e/uninstall/uninstall_test.go
Due: none

nexus: add retire function
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/nvmet.rs
Due: rust-style, rust-lint

nexus: do not hold lock in reconfigure
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/core/env.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/nvmet.rs
Due: rust-style, rust-lint

update dependencies and fix clippies
  Cargo.lock
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_nbd.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/core/env.rs
  mayastor/src/core/nvme.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/bdev_test.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/io_job.rs
  mayastor/tests/iscsi_tgt.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/nexus_share.rs
  mayastor/tests/nvmet.rs
  mayastor/tests/nvmf.rs
  mayastor/tests/reactor.rs
  mayastor/tests/remove_child.rs
  nix/lib/rust.nix
  nix/pkgs/mayastor/default.nix
  nix/sources.json
Due: rust-style, rust-lint

e2e tests for a disconnected replica in a 2-replica volume
  mayastor-test/e2e/nightly/common/io_connect_node.sh
  mayastor-test/e2e/nightly/common/moac-deployment-refuge.yaml
  mayastor-test/e2e/nightly/common/storage-class-2-repl.yaml
  mayastor-test/e2e/nightly/common/test.go
  mayastor-test/e2e/nightly/common/util.go
  mayastor-test/e2e/nightly/node_disconnect_iscsi/README.txt
  mayastor-test/e2e/nightly/node_disconnect_iscsi/deploy/fio_iscsi.yaml
  mayastor-test/e2e/nightly/node_disconnect_iscsi/node_disconnect_iscsi_test.go
  mayastor-test/e2e/nightly/node_disconnect_nvmf/README.txt
  mayastor-test/e2e/nightly/node_disconnect_nvmf/deploy/fio_nvmf.yaml
  mayastor-test/e2e/nightly/node_disconnect_nvmf/node_disconnect_nvmf_test.go
  mayastor-test/e2e/setup/bringup-cluster.sh
Due: none

Change install test to use external resources CAS-541
  mayastor-test/e2e/install/README.md
  mayastor-test/e2e/install/deploy/pool.yaml.template
  mayastor-test/e2e/install/install_test.go
Due: none

Basic nvmf test to run fio against a volume
  mayastor-test/e2e/common/test.go
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/nvmf_vol/deploy/fio_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/deploy/pvc_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
  mayastor-test/e2e/setup/bringup-cluster.sh
Due: none

Basic nvmf test to run fio against a volume
  mayastor-test/e2e/common/test.go
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/node_disconnect_iscsi/README.txt
  mayastor-test/e2e/node_disconnect_iscsi/deploy/fio_iscsi.yaml
  mayastor-test/e2e/node_disconnect_iscsi/node_disconnect_iscsi_test.go
  mayastor-test/e2e/node_disconnect_nvmf/README.txt
  mayastor-test/e2e/node_disconnect_nvmf/deploy/fio_nvmf.yaml
  mayastor-test/e2e/node_disconnect_nvmf/node_disconnect_nvmf_test.go
  mayastor-test/e2e/nvmf_vol/deploy/fio_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/deploy/pvc_nvmf.yaml
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

Update image tags (:v0.6.0) in deployment yaml
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Move test environment objects to be local to the common modules
  mayastor-test/e2e/common/test.go
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

Rename g_environment to keep goland happy
  mayastor-test/e2e/common/test.go
  mayastor-test/e2e/common/util.go
Due: none

Restore image tag value :latest in deployment files
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Move test enviromnent objects to common package
  mayastor-test/e2e/common/test.go
  mayastor-test/e2e/common/util.go
  mayastor-test/e2e/nvmf_vol/nvmf_vol_test.go
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
