Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

mayastor gRPC methods should be idempotent
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/grpc_client_test.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/node_test.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
Due: rust-style, rust-lint, js-lint

CAS-348: export config on grpc
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/yaml_config.rs
Due: rust-style, rust-lint

bdev: add PCIe transport
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvme.rs
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/nexus_uri.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

grpc create methods should return the created object
  csi/moac/nexus.ts
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  mayastor-test/test_cli.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
  mayastor/tests/common/mod.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

nix: must use version
  nix/pkgs/libspdk/default.nix
Due: none

ci: fix yaml format in the nix test workflow file
  .github/workflows/nix-tests.yaml
Due: none

nix: update cargosha
  nix/pkgs/mayastor/default.nix
Due: none

moac: msv is out of date (CAS-323) (#297)
  csi/moac/nexus.ts
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  csi/moac/volume_operator.js
Due: js-lint

Auto assign reviewers (#315)
  .github/auto_assign.yml
Due: none

CI: add back csi test
  scripts/node-test.sh
Due: none

CAS-349: persist the mayastor config...
  deploy/mayastor-daemonset.yaml
Due: none

cli: add bdev methods to create and share
  mayastor/src/bin/cli/bdev_cli.rs
  mayastor/src/core/reactor.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/rebuild/rebuild_api.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

Increase error limit to 64, 5 is possibly too low to correctly handle events such as pod restarts.
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

ci: re-enable nix-tests
  .github/workflows/nix-tests.yaml
Due: none

Split mayastor daemonset yaml into csi-agent and mayastor yamls
  deploy/README.md
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

fix broken terraform lxd (#284)
  terraform/main.tf
  terraform/mod/k8s/node.sh
  terraform/mod/lxd/main.tf
Due: none

bdev: add Share trait
  mayastor/src/core/bdev.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/nvmf.rs
Due: rust-style, rust-lint

Converting nexus from JS to TS as shown during the demo
  csi/moac/.gitignore
  csi/moac/nexus.ts
  csi/moac/node.js
  csi/moac/package.json
  csi/moac/test/event_stream_test.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/tsconfig.json
Due: js-lint

CAS-373: Add rebuild support to mayastor-client (#341)
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
Due: rust-style, rust-lint

CAS-351: This enables the option of removing a child if the error count (#361)
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/tests/error_count.rs
Due: rust-style, rust-lint

CAS-206 changes to support generic URIs for manipulating bdevs (#296)
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/aio_dev.rs
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/iscsi_dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_config.rs
  mayastor/src/bdev/nvmf_dev.rs
  mayastor/src/bdev/uring_dev.rs
  mayastor/src/bdev/util/mod.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/bdev/util/uring.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/bdev.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/tests/core.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Remove CSINode operator because it's no longer needed with NATS
  csi/moac/csi_node_operator.js
  csi/moac/index.js
  csi/moac/test/csi_node_operator_test.js
  csi/moac/test/index.js
Due: js-lint

fix rebuild and nvmeadm tests
  mayastor/README.md
  mayastor/tests/add_child.rs
  mayastor/tests/nexus_rebuild.rs
  nvmeadm/tests/discovery_test.rs
Due: rust-style, rust-lint

Fix CSI plugin crash. CAS-335 (#304)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
  nvmeadm/Cargo.toml
  nvmeadm/src/nvmeadm.rs
Due: rust-style, rust-lint

review comments
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/thread.rs
  mayastor/src/subsys/opts.rs
  scripts/node-test.sh
Due: rust-style, rust-lint

Add support for block volumes. CAS-14 (#359)
  csi/src/block_vol.rs
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/server.rs
Due: rust-style, rust-lint

moac: pool creation fails when storage node is imported (CAS-336)
  csi/moac/node.js
  csi/moac/test/node_test.js
Due: js-lint

iSCSI: add claim on bdev when shared
  mayastor/src/bin/cli/cli.rs
  mayastor/src/target/iscsi.rs
  mayastor/tests/iscsi_tgt.rs
Due: rust-style, rust-lint

CI: update to reflect changes
  .github/workflows/build.yaml
  .github/workflows/image.yaml
  .github/workflows/nix.yaml
  .github/workflows/pr.yaml
  Cargo.lock
  mayastor/tests/common/mod.rs
  nix/lib/rust.nix
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/ms-buildenv/default.nix
  nix/sources.json
  scripts/cargo-test.sh
  scripts/node-test.sh
  shell.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

CAS-382 CSI plugin should not assume ID_SCSI_SERIAL attribute is present in udev records for iSCSI devices
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/util.rs
  csi/src/match_dev.rs
Due: rust-style, rust-lint

release: v0.3.0
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
  nix/sources.json
Due: none

bdev: struct Bdev should not be sync (#312)
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

moac: msn is out of date (CAS-327) (#292)
  .github/workflows/pr.yaml
  csi/moac/node_operator.js
  csi/moac/test/watcher_stub.js
  csi/moac/test/watcher_test.js
  csi/moac/watcher.js
Due: js-lint

Change CSI to use snafu (#331)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

CI: use node/node12 for nodejs linting
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  shell.nix
Due: none

Remove nbd storage class and tag moac image as develop in dev (#348)
  csi/moac/default.nix
  deploy/storage-class.yaml
Due: none

CAS-343: Re-enable the multiple_locks unit test (#317)
  mayastor/tests/lock_lba_range.rs
Due: rust-style, rust-lint

rebuild: error instead of assert
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
Due: rust-style, rust-lint

Rename device_path in grpc API to device_uri
  csi/moac/crds/mayastorvolume.yaml
  csi/moac/nexus.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume_operator.js
  mayastor-test/test_cli.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
