Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

feat: add nvme_core module io_timeout parameter to the csi server
  chart/templates/csi-daemonset.yaml
  chart/values.yaml
  csi/src/dev.rs
  csi/src/dev/nvmf.rs
  csi/src/server.rs
  deploy/csi-daemonset.yaml
Due: rust-style, rust-lint

test(e2e): change default for e2e testing to off
  Jenkinsfile
Due: none

feat(helm): allow caller to specify additional variable or file
  scripts/generate-deploy-yamls.sh
Due: none

fix: add grpc soft timeout
  csi/moac/src/grpc_client.ts
Due: none

feat(hugepages): check hugepages before starting
  .pre-commit-config.yaml
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor.rs
  nix/pkgs/mayastor/cargo-package.nix
  nix/sources.json
Due: rust-style, rust-lint

fix(repo): avoid reference on immediate deference
  composer/src/lib.rs
  csi/src/block_vol.rs
  csi/src/dev/nvmf.rs
  csi/src/filesystem_vol.rs
  csi/src/findmnt.rs
  csi/src/node.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/mayastor-client/device_cli.rs
  mayastor/src/bin/mayastor-client/nexus_child_cli.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/bin/mayastor-client/rebuild_cli.rs
  mayastor/src/bin/mayastor-client/replica_cli.rs
  mayastor/src/bin/mayastor-client/snapshot_cli.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/bdev.rs
  mayastor/src/host/blk_device.rs
  mayastor/src/logger.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/tests/aio_unmap.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/child_size.rs
  mayastor/tests/core.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/memory_pool.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_metadata.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/persistence.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/replica_timeout.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvme_uri.rs
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/src/nvmf_subsystem.rs
Due: rust-style, rust-lint

feat(build): use 12 values for git abbrev
  csi/src/filesystem_vol.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint

fix(test): io_timeout_reset fails too early
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

feat(ci): don't exit on requirements with in debug
  mayastor/src/bin/mayastor.rs
Due: rust-style, rust-lint

fix(iSCSI): reduce memory requirement
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(ci): add unknown when git_version() fails
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

fix(mayastor): fix typo and clippy
  mayastor/src/bin/mayastor.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/child_size.rs
  mayastor/tests/core.rs
  mayastor/tests/memory_pool.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

fix(msv): multiple fixes to the msv logic
  csi/moac/src/volume.ts
  csi/moac/src/volume_operator.ts
  csi/moac/src/volumes.ts
Due: none

chore(mayastor): allow size of io_ctx mempools to be configurable via command line
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

fix: fetch git tags on Jenkins
  Jenkinsfile
Due: none

fix(test): reactor start/stop test should be sync
  mayastor/tests/reactor.rs
Due: rust-style, rust-lint

fix: missing mod event on immediate creation
  csi/moac/src/volume.ts
  csi/moac/test/volumes_test.js
Due: js-check

fix(test): set config in a single location
  mayastor/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

fix: fetch git history and tags on Jenkins
  Jenkinsfile
Due: none

fix(moac): volume gets stuck in offline state when doing failover
  csi/moac/src/nats.ts
  csi/moac/src/node.ts
  csi/moac/src/node_operator.ts
  csi/moac/src/registry.ts
  csi/moac/test/nats_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/node_stub.js
  csi/moac/test/registry_test.js
Due: js-check

ci: disable slack notification on job status change
  Jenkinsfile
Due: none

fix(cli): controller CLI command added
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/bin/mayastor-client/controller_cli.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/grpc/controller_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  rpc/proto/mayastor.proto
  test/grpc/test_cli.js
Due: rust-style, rust-lint, js-check

chore(release): update YAMLs to v0.8.1
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

chore(etcd): make it easier to use localpv
  .gitignore
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/etcd/localpv.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
  deploy/etcd/localpv.yaml
  deploy/etcd/statefulset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/generate-deploy-yamls.sh
Due: none

fix(iscsi): use correct upstream default for MaxR2TPerConnection
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

feat(moac): decouple moac from mayastor
  Dockerfile
  Jenkinsfile
  csi/moac/.gitignore
  csi/moac/Dockerfile
  csi/moac/README.md
  csi/moac/bundle_protos.sh
  csi/moac/default.nix
  csi/moac/doc/pool-operator.md
  csi/moac/doc/volume-operator.md
  csi/moac/node-composition.nix
  csi/moac/node-env.nix
  csi/moac/node-packages.nix
  csi/moac/package.json
  csi/moac/scripts/citest.sh
  csi/moac/scripts/download_protos.sh
  csi/moac/scripts/release.sh
  csi/moac/shell.nix
  doc/volume-operator.md
  doc/vscode.md
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  scripts/moac-test.sh
  scripts/release.sh
Due: none

test(python): cleanup some unused code
  shell.nix
  test/python/README.md
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/nvme.py
  test/python/conftest.py
  test/python/test_nexus.py
  test/python/test_nexus_create_destroy.py
  test/python/test_nexus_kill_all.py
  test/python/test_null_nexus.py
Due: none

fix: add missing change from merged PR
  chart/templates/etcd/storage/localpv.yaml
  deploy/etcd/storage/localpv.yaml
Due: none

chore(mayastor): ensure io_ctx mempools are dropped upon shutdown
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

fix(perm): source files should not be executable
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/controller_state.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/bdev/nvmx/mod.rs
  mayastor/src/bdev/nvmx/namespace.rs
  mayastor/src/bdev/nvmx/utils.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/io_device.rs
  mayastor/src/core/mempool.rs
Due: rust-style, rust-lint

test(py): add precommit hooks and pytest-bdd
  .gitignore
  .pre-commit-config.yaml
  shell.nix
  test/python/README.md
  test/python/common/command.py
  test/python/common/fio.py
  test/python/common/fio_spdk.py
  test/python/common/hdl.py
  test/python/common/nvme.py
  test/python/conftest.py
  test/python/pytest.ini
  test/python/requirements.txt
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
  test/python/test_nexus_create_destroy.py
  test/python/test_nexus_kill_all.py
  test/python/test_null_nexus.py
Due: none

fix: remove broken symlink to pool CRD
  deploy/mayastorpoolcrd.yaml
Due: none

feat(csi): unify node publish and stage methods (wip)
  csi/src/block_vol.rs
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

test(py): add test_config.ini
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/auto_assign.yml
  .gitignore
  .pre-commit-config.yaml
  test/python/README.md
  test/python/common/mayastor.py
  test/python/docker-compose.yml
  test/python/requirements.txt
  test/python/test_config.ini
  test/python/test_nexus.py
  test/python/test_null_nexus.py
Due: none

fix: use clang-11 consistently
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/mayastor/units.nix
Due: none

feat(nexus): acquire write exclusive reservation on adding a child
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/src/bdev/nvmx/handle.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nvme.rs
  mayastor/tests/nexus_multipath.rs
  spdk-sys/build.rs
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

chore(libspdk): remove iSCSI initiator support and unused bdevs
  doc/build.md
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/iscsi.rs
  mayastor/src/bdev/mod.rs
  mayastor/tests/core.rs
  mayastor/tests/nexus_child_location.rs
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
  nix/pkgs/mayastor/units.nix
  spdk-sys/build.rs
  spdk-sys/build.sh
  spdk-sys/wrapper.h
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

chore(rpc): move rpc to seperate repo
  Cargo.lock
  Cargo.toml
  composer/Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mbus-api/Cargo.toml
  rpc/Cargo.toml
  rpc/build.rs
  rpc/proto/mayastor.proto
  rpc/src/lib.rs
Due: rust-style, rust-lint

feat: build against SPDK 21.07
  mayastor/src/core/bdev.rs
  mayastor/src/core/channel.rs
  mayastor/src/core/thread.rs
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/wrapper.h
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
