Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v0.9.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
        entry: semistandard --env mocha --env node --verbose --fix
        pass_filenames: true
        types: [file, javascript]
        language: system

mayastor-test: Use mayastor instead of spdk binary
  mayastor-test/test_common.js
  mayastor-test/test_nexus.js
Due: js-lint

jenkins: env.commit cannot be used inside a function
  Jenkinsfile
Due: none

spdk: Remove linking to event_nvmf.a
  mayastor/src/subsys/config/opts.rs
  nix/pkgs/libspdk/default.nix
  nvmeadm/tests/discovery_test.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

Simplify the nexus child state management
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_child_status_config.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/add_child.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

tests: Add a ginkgo for mayastor install
  mayastor-test/e2e/go.mod
  mayastor-test/e2e/go.sum
  mayastor-test/e2e/install/README.md
  mayastor-test/e2e/install/install_test.go
Due: none

spdk: Reinstate linking to event_nvmf.a
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.sh
Due: none

Initialise tracing so that default subscriber filtering may be configured via RUST_LOG environment variable.
  mayastor/src/logger.rs
Due: rust-style, rust-lint

Clean stale iscsi conn files after running mayastor tests (#449)
  Jenkinsfile
Due: none

snapshots: Allow CreateSnapshot RPC to work on a published Nexus
  mayastor-test/test_snapshot.js
  mayastor/src/bdev/nexus/nexus_bdev_snapshot.rs
  mayastor/src/core/handle.rs
  spdk-sys/nvme_helper.c
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint, js-lint

snapshots: Allow create snapshot vendor command on Nexus
  mayastor-test/test_snapshot.js
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/handle.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  spdk-sys/build.rs
  spdk-sys/nvme_helper.c
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint, js-lint

Prevent faulting the last healthy child
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/tests/fault_child.rs
Due: rust-style, rust-lint

Add Mayastor YAML which uses saved config
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

CAS-445: Move the msg bus into a subsystem
  Cargo.lock
  mayastor-test/test_nexus.js
  mayastor/Cargo.toml
  mayastor/src/core/env.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/lib.rs
  mayastor/src/nats.rs
  mayastor/src/subsys/mbus/mbus_nats.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
  mayastor/src/subsys/mod.rs
  mayastor/tests/reset.rs
  mayastor/tests/yaml_config.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint, js-lint

Enhance check before writing labels to children
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

config: Import pools using the lvs implementation
  mayastor-test/test_replica.js
  mayastor-test/test_snapshot.js
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/replica_snapshot.rs
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
Due: rust-style, rust-lint, js-lint

pool: Remove block_size and io_if from CreatePoolRequest
  csi/moac/test/mayastor_mock.js
  mayastor-test/test_cli.js
  mayastor-test/test_replica.js
  mayastor-test/test_snapshot.js
  mayastor/src/bin/cli/pool_cli.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/pool.rs
  mayastor/src/subsys/config/mod.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  mayastor/tests/pool.rs
  mayastor/tests/replica_snapshot.rs
  mayastor/tests/yaml_config.rs
  nix/test/rebuild/node1-mayastor-config.yaml
  nix/test/rebuild/node2-mayastor-config.yaml
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

replica: Remove unused code
  mayastor/src/pool.rs
  mayastor/src/replica.rs
Due: rust-style, rust-lint

CAS-481: wait for message bus
  deploy/mayastor-daemonset-config.yaml
  deploy/mayastor-daemonset.yaml
Due: none

CAS-461 Add gRPC method to enumerate host block devices.
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/device_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/host/blk_device.rs
  mayastor/src/host/mod.rs
  mayastor/src/lib.rs
  nix/pkgs/mayastor/default.nix
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

Remove unnecessary force flag which...
  csi/src/mount.rs
Due: rust-style, rust-lint

test: add framework to start mayastor instances
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/core/thread.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/mayastor_compose_basic.rs
  mayastor/tests/reset.rs
  nix/pkgs/mayastor/default.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint

core: rework main.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/subsys/mbus/mbus_nats.rs
Due: rust-style, rust-lint

Add message bus library
  Cargo.lock
  Cargo.toml
  csi/moac/mbus.js
  csi/moac/nats.js
  csi/moac/test/nats_test.js
  mayastor-test/test_nats.js
  mayastor/Cargo.toml
  mayastor/src/core/env.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
  mayastor/src/subsys/mod.rs
  mbus-api/Cargo.toml
  mbus-api/examples/client/main.rs
  mbus-api/examples/server/main.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  mbus-api/src/receive.rs
  mbus-api/src/send.rs
Due: rust-style, rust-lint, js-lint

Add initial mayastor config service skeleton
  Cargo.lock
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/default.nix
  services/Cargo.toml
  services/examples/kiiss-client/main.rs
  services/kiiss/src/server.rs
Due: rust-style, rust-lint

Add control plane services library
  Cargo.lock
  Cargo.toml
  services/Cargo.toml
  services/common/src/lib.rs
  services/examples/service/main.rs
Due: rust-style, rust-lint

snapshots: Implement create snapshots for local replicas
  mayastor-test/test_snapshot.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_snapshot.rs
  mayastor/src/bdev/nexus/nexus_fn_table.rs
  mayastor/src/core/mod.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/tests/replica_snapshot.rs
  spdk-sys/nvme_helper.c
  spdk-sys/nvme_helper.h
Due: rust-style, rust-lint, js-lint

uring: Re-enable bdev and pool tests
  Cargo.lock
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/bdev/util/uring.rs
  mayastor/src/bin/uring-support.rs
  mayastor/tests/core.rs
  nix/pkgs/mayastor/default.nix
  nix/sources.json
Due: rust-style, rust-lint, js-lint

Create service associated with CSI plugin. CAS-480
  csi/build.rs
  csi/proto/mayastornodeplugin.proto
  csi/src/freezefs.rs
  csi/src/nodeplugin_grpc.rs
  csi/src/server.rs
  deploy/csi-daemonset.yaml
  mayastor-test/test_common.js
Due: rust-style, rust-lint, js-lint

CAS-418 support for json-rpc proxy/passthrough
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/context.rs
  mayastor/src/bin/cli/jsonrpc_cli.rs
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/json_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

code clean up
  jsonrpc/src/error.rs
  jsonrpc/src/lib.rs
  services/common/src/lib.rs
Due: rust-style, rust-lint

tests: use new method for testing
  mayastor/src/core/env.rs
  mayastor/tests/add_child.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/core.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_count_retry.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/fault_child.rs
  mayastor/tests/io.rs
  mayastor/tests/iscsi_tgt.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/lvs_pool_rpc.rs
  mayastor/tests/malloc_bdev.rs
  mayastor/tests/nexus_share.rs
  mayastor/tests/reactor.rs
  mayastor/tests/reactor_block_on.rs
Due: rust-style, rust-lint

nix: bump pkg versions
  mayastor/src/core/env.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/core.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_share.rs
  nix/mayastor-overlay.nix
  nix/pkgs/liburing/default.nix
  nix/sources.json
  services/common/src/lib.rs
Due: rust-style, rust-lint

CAS-420 create gRPC method to obtain statistics from getrusage(2) system call
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/perf_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/host/mod.rs
  mayastor/src/host/resource.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint

CAS-488: message bus timeout and retry
  mbus-api/examples/client/main.rs
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  mbus-api/src/send.rs
Due: rust-style, rust-lint

Disable Nix tests from CI
  Jenkinsfile
Due: none

Add a function to check if a nexus child is local
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/common/compose.rs
  mayastor/tests/nexus_child_location.rs
Due: rust-style, rust-lint

mayastor: Add flag for polling incoming thread
  mayastor/src/core/reactor.rs
Due: rust-style, rust-lint

Use Cell::replace
  mayastor/src/core/reactor.rs
Due: rust-style, rust-lint

doc: update faulty links
  doc/build.md
Due: none

CAS-491-Remove-stored-handle
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint
