Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

ci: use remote org for docker images
  Jenkinsfile
  default.nix
  nix/lib/sourcer.nix
  nix/lib/version.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
  scripts/release.sh
Due: none

refactor(nix/build): replace builtins.filterSource and builtins.path
  nix/lib/sourcer.nix
Due: none

ci: fix missing docker org change
  scripts/release.sh
Due: none

feat(metrics): adding stats service and pool stats rpc
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/block_device.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/stats.rs
Due: rust-style, rust-lint

feat(metrics): adding bdev stats reset support
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/stats_cli.rs
  io-engine/src/core/bdev.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/stats.rs
Due: rust-style, rust-lint

ci: account for build times separately
  Jenkinsfile
Due: none

ci: create and cleanup /var/run/dpdk
  io-engine-tests/src/lib.rs
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

ci: don't use pre-commit for ci
  ci.nix
  shell.nix
Due: none

ci: pin pyyaml to 5.3.1
  test/python/requirements.txt
Due: none

ci: use correct label when cleaning up
  scripts/clean-cargo-tests.sh
Due: none

feat(multireplicasnapshot): remove multi replica snapshot checks
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

feat(nexus_stats): add nexus stats grpc
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bin/io-engine-client/v1/stats_cli.rs
  io-engine/src/grpc/v1/stats.rs
Due: rust-style, rust-lint

chore: stricter commitlint checks for pr merge
  .github/workflows/pr-commitlint.yml
  commitlint.config.js
Due: js-check

fix(rebuild): send final rebuild state on drop
  io-engine/src/rebuild/rebuild_job_backend.rs
Due: rust-style, rust-lint

refactor(rebuild): make the rebuild more generic
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/rebuild/bdev_rebuild.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/nexus_rebuild.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_instances.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_map.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

fix(rebuild): add same device validation
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_error.rs
Due: rust-style, rust-lint

feat(snapshot): snapshot tree query optimization
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(tests): improving FIO support in rust tests
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/fio.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_children_add_remove.rs
  io-engine/tests/nexus_crd.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_fio.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/replica_crd.rs
  io-engine/tests/replica_thin_no_space.rs
  scripts/rust-linter.sh
Due: rust-style, rust-lint

fix(nexus): fixing missing I/Os during nexus rebuild
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bin/io-engine.rs
  io-engine/tests/nexus_restart.rs
Due: rust-style, rust-lint

feat(eventing): event specific details for io-engine stop event
  io-engine/src/core/env.rs
  io-engine/src/eventing/io_engine_events.rs
  io-engine/src/eventing/mod.rs
Due: rust-style, rust-lint

feat(eventing): add io-engine events
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/reactor.rs
  io-engine/src/eventing/io_engine_events.rs
  io-engine/src/eventing/mod.rs
Due: rust-style, rust-lint

feat(eventing): add error to event details when nexus shutdown fails
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/eventing/io_engine_events.rs
  io-engine/src/eventing/nexus_events.rs
Due: rust-style, rust-lint

feat(replica_owner): adding implemetation for replica owner attribute
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

feat(eventing): state change events for nexus and replica
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/eventing/replica_events.rs
Due: rust-style, rust-lint

feat(eventing): subsystem pause/resume and nexus init/reconfiguring events
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/eventing/replica_events.rs
Due: rust-style, rust-lint

fix(lvs): fixing issues with large number of volumes
  io-engine/tests/lvs_import.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(nexus/resize): add support for resizing a nexus
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/core/partition.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

feat(io-engine-client): add cli for resizing a nexus
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
Due: rust-style, rust-lint

test(volume/resize): add cargo tests for volume resize
  Cargo.lock
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/replica.rs
  io-engine/tests/nexus_replica_resize.rs
Due: rust-style, rust-lint

refactor(io-engine): use SafeMountIter instead of proc_mounts::MountIter Ref: https://github.com/openebs/mayastor-dependencies/pull/65
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/host/blk_device.rs
Due: rust-style, rust-lint

build(replica_entity): handle breaking changes
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

feat(snapshot/rebuild): add dummy impl
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/snapshot_rebuild.rs
Due: rust-style, rust-lint

feat(eventing): snapshot and clone events
  io-engine/src/eventing/clone_events.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/snapshot_events.rs
  io-engine/src/lvs/lvol_snapshot.rs
Due: rust-style, rust-lint

feat(replica_entity_id): adding implementation
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix(rebuild/partial): set bits for written blks only
  io-engine/src/core/segment_map.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

feat(rebuild): add rebuild rangers
  io-engine/src/core/segment_map.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/nexus_rebuild.rs
  io-engine/src/rebuild/rebuild_map.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/src/rebuild/rebuilders.rs
Due: rust-style, rust-lint

refactor(rebuild): use new rebuild rangers
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/rebuild/bdev_rebuild.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/nexus_rebuild.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuilders.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

test(pytest/bdd): pin pytest to 7.4.4
  test/python/requirements.txt
Due: none

feat(replica_stats): adding stats implementation
  io-engine/src/bin/io-engine-client/v1/stats_cli.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/stats.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint
