Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore(wiper): temporarily reduce replica checksum size
  io-engine-tests/src/replica.rs
  io-engine/src/core/wiper.rs
  io-engine/tests/wipe.rs
Due: rust-style, rust-lint

docs: update Mayastor documentation URL in README.md
  README.md
Due: none

feat(test): Enable PCIe device testing
  doc/test.md
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(spdk): Allow SPDK tracing
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(nix): Add btrfs-progs package
  ci.nix
  io-engine-tests/src/lib.rs
  io-engine/tests/mount_fs.rs
  nix/overlay.nix
  nix/pkgs/btrfs-progs/default.nix
  nix/pkgs/images/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
Due: rust-style, rust-lint

refactor(snapshot/rebuild): support push/pull model
  io-engine/src/bin/io-engine-client/v1/snapshot_rebuild_cli.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v1/host.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot_rebuild.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_instances.rs
  io-engine/src/rebuild/snapshot_rebuild.rs
  io-engine/tests/snapshot_rebuild.rs
Due: rust-style, rust-lint

feat(config): extends config yaml with core config and delay mode
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/reactor.rs
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

refactor: Move device creation into helper function
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

feat(nexus): Add features for Zoned Storage Support
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/null_ng.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/namespace.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

docs: Add doc for introduced zoned storage support
  doc/zns.md
Due: none

feat(nvme): On command completion handle zoned nvme errors
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/core/mod.rs
Due: rust-style, rust-lint

feat(nexus): Emulate zone mgmt NvmeIo for SpdkBlockDevices
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/core/mod.rs
Due: rust-style, rust-lint

docs: Improve docs for hacking on Mayastor
  doc/build.md
  doc/run.md
  doc/test.md
Due: none

feat(test): Add cargo test for Zoned Storage Support
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/tests/zns.rs
Due: rust-style, rust-lint

feat(nexus): Add NVMe IO passthrough support
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

feat: expose bugfixes through grpc host api
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/host.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/subsys/registration/registration_grpc.rs
  test/python/v1/pool/test_bdd_lvm.py
Due: rust-style, rust-lint, python-check

chore: update file metadata Dockerfile
  Dockerfile
Due: none

feat(rebuild): prefer a local replica as a rebuild source
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/tests/nexus_rebuild_source.rs
Due: rust-style, rust-lint

docs(readme): :art: linted readme
  README.md
Due: none

chore(link): force date metadata update on file
  LICENSE
Due: none

chore: del old Mayadata irrelevant info
  CONTRIBUTING.md
Due: none

refactor: force date metadata update README.adoc
  terraform/README.adoc
Due: none

chore(ci): update git submodules
  .gitmodules
Due: none

typo: fix 2 typos from PR review
  terraform/README.adoc
Due: none

chore: fix typo
  CONTRIBUTING.md
Due: none

chore: total 2024 modernization
  CONTRIBUTING.md
Due: none

chore: add rust gear logo
  CONTRIBUTING.md
Due: none

chore: add Replicated PV Logo
  CONTRIBUTING.md
Due: none

feat(spdk): updating to spdk 24.01
  Cargo.lock
  ci.nix
  io-engine-tests/src/error_bdev.rs
  io-engine/src/bdev/null_bdev.rs
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/qpair.rs
  io-engine/src/bin/spdk.rs
  io-engine/src/core/env.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/mod.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/src/subsys/nvmf/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/src/subsys/registration/mod.rs
  io-engine/tests/block_device_nvmf.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(ci): refactoring nix scripts
  ci.nix
  ide.nix
  nix/lib/rust.nix
  nix/overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/libnvme/default.nix
  nix/pkgs/libspdk/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  nix/sources.nix
  test/python/common/fio_spdk.py
Due: python-check

test: add blobcli image
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
Due: none

test: add image with spdk blobcli
  io-engine/src/lvs/lvs_store.rs
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

ci: ensure fmt fails on jenkins
  Cargo.lock
  Jenkinsfile
  ci.nix
  ide.nix
  io-engine/src/bdev/nvmx/qpair.rs
  io-engine/src/core/env.rs
  nix/overlay.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/sources.nix
  scripts/rust-linter-env.sh
  scripts/rust-linter.sh
  scripts/rust-style.sh
  shell.nix
Due: rust-style, rust-lint

fix: use auto-detected sector size for blockdev
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/uring.rs
  io-engine/tests/lvs_pool.rs
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

refactor(snapshots): use generic snapshot ops interface
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/eventing/snapshot_events.rs
  io-engine/src/grpc/v1/lvm/mod.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lib.rs
  io-engine/src/lvm/error.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
  io-engine/src/replica_backend.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/lvs_import.rs
  io-engine/tests/lvs_limits.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

feat: add RDMA option to cli args and configs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/src/subsys/nvmf/transport.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
