Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

test: test
  .github/workflows/arm.yml
  .github/workflows/unit-int.yml
Due: none

ci: add openssf scanning
  .github/workflows/scorecard.yml
Due: none

feat(pool/encryption): handle new create and import API
  io-engine-tests/src/pool.rs
  io-engine/examples/lvs-eval/main.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/pool_backend.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_grow.rs
  io-engine/tests/lvs_import.rs
  io-engine/tests/lvs_limits.rs
  io-engine/tests/lvs_pool.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(encryption): add crypto vbdev
  io-engine/src/bdev/crypto.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/core/mod.rs
  io-engine/src/lvs/lvs_error.rs
  nix/pkgs/io-engine/cargo-package.nix
Due: rust-style, rust-lint

chore: handle bool for pool encryption status
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvm/mod.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/pool_backend.rs
Due: rust-style, rust-lint

feat(encryption): request encrypted pool crypto vbdev
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/pool.rs
Due: rust-style, rust-lint

chore(encryption): get disks list correctly for crypto vbdev
  io-engine/src/lvs/mod.rs
Due: rust-style, rust-lint

chore(cli): show encryption status in output
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
Due: rust-style, rust-lint

chore: expose diskpool encryption feature for Mayastor
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v1/host.rs
Due: rust-style, rust-lint

feat(encryption): fetch secret params from secret source
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/crypto.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/pool_backend.rs
Due: rust-style, rust-lint

fix(ipv6): support ipv6 for grpc and nvmf target
  io-engine/src/core/env.rs
  io-engine/src/core/nic.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/src/subsys/nvmf/transport.rs
Due: rust-style, rust-lint

fix(tgt-iface): support ipv6 on tgt-iface
  io-engine/src/core/env.rs
  io-engine/src/core/nic.rs
Due: rust-style, rust-lint

fix(tgt-iface): support multiple ips per adapter
  io-engine/src/core/env.rs
  io-engine/src/core/nic.rs
Due: rust-style, rust-lint

chore: reflect encryption state of replica
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvm/lv_replica.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

fix(tgt-iface): reject scope ids on ipv6
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/nic.rs
  io-engine/src/subsys/nvmf/transport.rs
Due: rust-style, rust-lint

security(GHSA-4p46-pwfr-66x6): update ring dependency
  Cargo.lock
Due: none

chore: use secret name as the key name
  io-engine/src/bdev/crypto.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(lvs/export): destroy bdevs correctly considering crypto pool
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(crypto): use Cstring while type converting to c_char
  io-engine/src/bdev/crypto.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(ipv6): set correct adrfam and ip
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/uri.rs
Due: rust-style, rust-lint

test: add gpt
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/gpt_old.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bin/gpt.rs
  io-engine/src/lib.rs
Due: rust-style, rust-lint

fix: nexus multipath test to retry on resetting
  io-engine/tests/nexus_crd.rs
  test/python/common/nvme.py
  test/python/tests/nexus_multipath/test_bdd_nexus_multipath.py
  test/python/tests/nexus_multipath/test_nexus_multipath.py
Due: rust-style, rust-lint, python-check

feat(encryption): allow pools on same node to share keys
  io-engine/src/bdev/crypto.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

docs: update community meeting badge link
  README.md
Due: none

ci: remove journalctl from the uploaded ci-report
  scripts/ci-report.sh
Due: none

ci: remove journalctl from the uploaded ci-report (#1858)
  scripts/ci-report.sh
Due: none

ci: remove journalctl from the uploaded ci-report (#1859)
  scripts/ci-report.sh
Due: none

test(encryption): basic component test for encrypted pool
  io-engine/tests/lvs_pool.rs
Due: rust-style, rust-lint

chore(ci): inject github token post nix installation
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  scripts/ci-report.sh
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
