Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

feat(libnvme-rs): implement connect and disconnect
  Cargo.lock
  Cargo.toml
  libnvme-rs/Cargo.toml
  libnvme-rs/build.rs
  libnvme-rs/src/error.rs
  libnvme-rs/src/lib.rs
  libnvme-rs/src/nvme_namespaces.rs
  libnvme-rs/src/nvme_tree.rs
  libnvme-rs/src/nvme_uri.rs
  libnvme-rs/wrapper.h
  mayastor/Cargo.toml
  mayastor/tests/mount_fs.rs
  mayastor/tests/persistence.rs
Due: rust-style, rust-lint

fix(csi): node_unpublish_volume() fails if nvmf target is unreachable
  csi/src/block_vol.rs
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

feat(grpc): add versioned bdev and json rpc service
  mayastor/src/grpc/bdev/v1.rs
  mayastor/src/grpc/json/v1.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

refactor(rpc): refactor rpc message names
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/bdev/v1.rs
  mayastor/src/grpc/json/v1.rs
  mayastor/src/grpc/json_grpc.rs
  mayastor/src/grpc/server.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

feat(rpc): include v1 mod inside mayastor mod
  Cargo.lock
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/bdev/v1.rs
  mayastor/src/grpc/json/v1.rs
  mayastor/src/grpc/server.rs
  rpc/Cargo.toml
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

refactor(grpc): add versioned directory for services
  mayastor/src/grpc/json_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/bdev.rs
  mayastor/src/grpc/v1/json.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

fix(nexus): should not remove the last healthy child
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/tests/nexus_children_add_remove.rs
Due: rust-style, rust-lint

fix(nvmx): delay controller destruction until channels have been destroyed
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  test/python/tests/nexus/test_remote_only.py
Due: rust-style, rust-lint

chore(ci): fixing CI scripts
  .gitmodules
  .pre-commit-config.yaml
  Jenkinsfile
  ci.nix
  nix/lib/rust.nix
  nix/sources.json
  scripts/cargo-test.sh
Due: none

chore(kato timeout): increase from 1 to 15 seconds
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

chore(lint): don't lint bors merge commits
  commitlint.config.js
Due: js-check

fix(pre-commit): revert changes to use nightly fmt and clippy
  .pre-commit-config.yaml
Due: none

feat: build against SPDK 21.10
  .pre-commit-config.yaml
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  nix/pkgs/libspdk/cet-disable.patch
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(mayastor): remove nexus metadata and label
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/src/bdev/nexus/nexus_metadata.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/partition.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/tests/nexus_label.rs
  mayastor/tests/nexus_metadata.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

feat(python): add tests for import and export
  .gitignore
  scripts/pytest-tests.sh
  test/python/setup.sh
  test/python/tests/replica/features/pool.feature
  test/python/tests/replica/test_bdd_pool.py
  test/python/v1/pool/features/pool.feature
  test/python/v1/pool/test_bdd_pool.py
Due: none

feat(grpc): add mayastor v1 service for pools
  mayastor/src/grpc/mayastor/v1.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/subsys/config/pool.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/replica_snapshot.rs
  rpc/build.rs
Due: rust-style, rust-lint

test(python): add test for v1 pool grpc
  test/python/v1/hdl.py
  test/python/v1/mayastor.py
  test/python/v1/pool/docker-compose.yml
  test/python/v1/pool/features/pool.feature
  test/python/v1/pool/test_bdd_pool.py
Due: none

feat(pool): add ability to export
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/pool.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/pool.rs
  mayastor/src/subsys/config/pool.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_io.rs
  mayastor/tests/replica_snapshot.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
Due: rust-style, rust-lint

chore(test): remove test overlapping with pytests
  mayastor/tests/lvs_pool.rs
  test/grpc/test_replica.js
Due: rust-style, rust-lint, js-check

feat(grpc): make v1 mod better for proper imports
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/pool.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/lvs/mod.rs
  mayastor/src/pool.rs
  mayastor/src/subsys/config/pool.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_io.rs
  mayastor/tests/replica_snapshot.rs
  rpc/Cargo.toml
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

feat(nix): add libnvme package
  ci.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libnvme/default.nix
  nix/sources.json
  shell.nix
Due: none

feat(pool): add support of uuid property
  mayastor/src/grpc/v1/pool.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/pool.rs
Due: rust-style, rust-lint

fix(mayastor): prevent auto-unpin of nexus
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/mod.rs
Due: rust-style, rust-lint

feat(bdev): add function to lookup bdev by uuid
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

feat(lvs): add function to get pool uuid of lvol
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

fix(lvs): add uuid check while creating lvol
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

feat(grpc): add v1/replica service implementation
  mayastor/src/grpc/v1/replica.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

feat(grpc): add new replica service to grpc server
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/pool.rs
Due: rust-style, rust-lint

fix(mayastor): fixing release build
  mayastor/build.rs
  nix/pkgs/libspdk/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

fix(ci): using stable rustc in ci
  .pre-commit-config.yaml
  Jenkinsfile
  ci.nix
  scripts/rust-linter-env.sh
  scripts/rust-linter.sh
  scripts/rust-style.sh
Due: none

fix(nexus): assertion failure in nexus_bdev resume()
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

nats: Update image tags as upstream
  chart/templates/nats-deployment.yaml
  deploy/nats-deployment.yaml
Due: none

test(replica): add tests for v1/replica service
  scripts/pytest-tests.sh
  test/python/setup.sh
  test/python/v1/hdl.py
  test/python/v1/replica/docker-compose.yml
  test/python/v1/replica/features/replica.feature
  test/python/v1/replica/test_bdd_replica.py
Due: none

refactor: rename PoolSvc to PoolService
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/pool.rs
Due: rust-style, rust-lint

chore(git): add generated proto to gitignore
  .gitignore
Due: none

feat(libnvme-rs): implement connect and disconnect
  Cargo.lock
  Cargo.toml
  libnvme-rs/Cargo.toml
  libnvme-rs/build.rs
  libnvme-rs/src/error.rs
  libnvme-rs/src/lib.rs
  libnvme-rs/src/nvme_tree.rs
  libnvme-rs/src/nvme_uri.rs
  libnvme-rs/wrapper.h
  mayastor/Cargo.toml
  mayastor/tests/mount_fs.rs
  mayastor/tests/persistence.rs
Due: rust-style, rust-lint

fix(lvol): referring lvol name after destroy
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
