Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Check Rust code style on files included in the commit.
  entry: ./scripts/rust-style.sh
  pass_filenames: false
  language: system

rust-lint:
  name: Rust lint
  description: Run Rust linter on files included in the commit.
  entry: ./scripts/rust-linter.sh
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  Jenkinsfile
Due: none

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  .github/workflows/pr-submodule-branch.yml
  Jenkinsfile
Due: none

fix(lvol): properly report provisioning mod for volume with snapshots
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(replica): snapshot space information for replicas
  io-engine-tests/src/nvme.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_nexus.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(snapshot): provide number of bytes referenced by ancestor snapshots
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

fix(core): fixing passing read mode flags to block devices
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/handle.rs
  io-engine/src/rebuild/rebuild_task.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

ci: cleanup docker on start and exit
  Jenkinsfile
  scripts/cargo-test.sh
  scripts/clean-cargo-tests.sh
  scripts/grpc-test.sh
Due: none

feat(clone): refactor of snapshot and clone code
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvol_snapshot_iter.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
Due: rust-style, rust-lint

fix(rebuild): fixing child retirement during rebuild running
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io_subsystem.rs
  io-engine/src/core/device_monitor.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/tests/nexus_rebuild_partial.rs
  test/python/tests/nexus/test_nexus_rebuild.py
Due: rust-style, rust-lint, python-check

chore(spdk): spdk revision changed to use ordered snapshot removal
  nix/pkgs/libspdk/default.nix
Due: none

chore(spdk): spdk revision changed to properly deallocate blob clusters
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

test: fix python tests
  test/python/common/nvme.py
  test/python/tests/nexus/test_multi_nexus.py
  test/python/tests/nexus/test_nexus.py
  test/python/tests/nexus_fault/test_nexus_fault.py
  test/python/v1/nexus/test_multi_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: python-check

ci: cleanup test runs
  Jenkinsfile
  scripts/cargo-test.sh
  scripts/clean-cargo-tests.sh
  scripts/grpc-test.sh
Due: none

ci: remove unnecessary cleanup on exit after error
  scripts/cargo-test.sh
  scripts/grpc-test.sh
Due: none

fix(nexus): fixing nexus unshare and nvmf error handling
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/subsys/nvmf/mod.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

fix(nexus): fixing child retire during rebuild
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/grpc/v1/nexus.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  test/python/common/hdl.py
  test/python/tests/nexus/test_nexus_rebuild.py
Due: rust-style, rust-lint, python-check

fix(snapshot): fix alloc value for thik and thin provisioned lvol when snapshot is created from it
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
  test/python/common/nvme.py
  test/python/tests/nexus/test_multi_nexus.py
  test/python/tests/nexus/test_nexus.py
  test/python/tests/nexus_fault/test_nexus_fault.py
  test/python/v1/nexus/test_multi_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: rust-style, rust-lint, python-check

fix(snapshot): fix alloc value for thick and thin provisioned lvol when snapshot is created from it
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

chore(snapshot): add success log for nexus create snapshot
  io-engine/src/grpc/v1/snapshot.rs
Due: rust-style, rust-lint

chore(spdk): spdk revision changed to properly deallocate blob clusters
  nix/pkgs/libspdk/default.nix
Due: none

fix(snapshot): modify snapshot cli for nexus to accept v1 parameters
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
Due: rust-style, rust-lint

feat(lvol): generic api for setting blob attributes
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

docs: removed note
  CONTRIBUTING.md
Due: none

Removed Beta Section
  CONTRIBUTING.md
Due: none

fix(clone): replace spdk default clone api with custom api to identify clone for a lvol
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix(lvs/bdev): don't show nil uuids
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/bdev_api.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/share.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/pool.rs
Due: rust-style, rust-lint

chore(nexus/channel): reconfigure only device which is involved in DR event
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

feat(clone): special handling to delete snapshot when active clones are linked to it
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bin/initiator.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

test: fix python tests
  test/python/common/nvme.py
  test/python/tests/nexus/test_multi_nexus.py
  test/python/tests/nexus/test_nexus.py
  test/python/v1/nexus/test_multi_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: python-check

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
