Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

feat(lvm): add volume support to lvm module
  mayastor/src/lvm/mod.rs
  mayastor/src/lvm/pool.rs
  mayastor/src/lvm/volume.rs
Due: rust-style, rust-lint

feat(grpc): lvm volume support to mayastor grpc
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/replica.rs
Due: rust-style, rust-lint

feat(cli): support lvm operations via mayastor cli
  mayastor/src/bin/mayastor-client/pool_cli.rs
  mayastor/src/bin/mayastor-client/replica_cli.rs
Due: rust-style, rust-lint

feat(tests): add python tests for lvm volume
  test/python/docker-compose.yml
  test/python/features/lvm_replica.feature
  test/python/test_bdd_lvm_replica.py
Due: none

chore(ci): don't lint PRs
  .github/workflows/pr-commitlint.yml
Due: none

chore(tests): a minor refactor of nexus tests
  mayastor/tests/nexus_multipath.rs
Due: rust-style, rust-lint

chore(test): add remaining pytest tests
  scripts/pytest-tests.sh
  test/python/common/fio.py
  test/python/common/mayastor.py
  test/python/test_ana_client.py
  test/python/test_bdd_nexus.py
  test/python/test_bdd_nexus_multipath.py
  test/python/test_bdd_pool.py
  test/python/test_bdd_rebuild.py
  test/python/test_bdd_replica.py
  test/python/test_cli_controller.py
  test/python/test_common.py
  test/python/test_config.ini
  test/python/test_multi_nexus.py
  test/python/test_nexus.py
  test/python/test_nexus_multipath.py
  test/python/test_nexus_publish.py
  test/python/test_null_nexus.py
  test/python/test_replica_uuid.py
  test/python/test_rpc.py
Due: none

chore(test): add remaining pytest tests
  test/python/test_multi_nexus.py
Due: none

fix(image-tag): update mayastor-csi image tag to v0.8.1
  deploy/csi-daemonset.yaml
Due: none

chore(ci): refactor python tests to allow custom docker-compose.yml
  scripts/pytest-tests.sh
  test/python/README.md
  test/python/common/msclient.py
  test/python/common/util.py
  test/python/test_null_nexus.py
  test/python/tests/ana_client/docker-compose.yml
  test/python/tests/ana_client/test_ana_client.py
  test/python/tests/cli_controller/docker-compose.yml
  test/python/tests/cli_controller/test_cli_controller.py
  test/python/tests/csi/features/csi.feature
  test/python/tests/csi/test_bdd_csi.py
  test/python/tests/csi/test_csi.py
  test/python/tests/nexus/docker-compose.yml
  test/python/tests/nexus/test_multi_nexus.py
  test/python/tests/nexus/test_nexus.py
  test/python/tests/nexus/test_null_nexus.py
  test/python/tests/nexus_multipath/docker-compose.yml
  test/python/tests/nexus_multipath/features/nexus-multipath.feature
  test/python/tests/nexus_multipath/test_bdd_nexus_multipath.py
  test/python/tests/nexus_multipath/test_nexus_multipath.py
  test/python/tests/publish/docker-compose.yml
  test/python/tests/publish/features/nexus.feature
  test/python/tests/publish/test_bdd_nexus.py
  test/python/tests/publish/test_nexus_publish.py
  test/python/tests/rebuild/docker-compose.yml
  test/python/tests/rebuild/features/rebuild.feature
  test/python/tests/rebuild/test_bdd_rebuild.py
  test/python/tests/replica/docker-compose.yml
  test/python/tests/replica/features/pool.feature
  test/python/tests/replica/features/replica.feature
  test/python/tests/replica/test_bdd_pool.py
  test/python/tests/replica/test_bdd_replica.py
  test/python/tests/replica_uuid/docker-compose.yml
  test/python/tests/replica_uuid/features/replica-guid.feature
  test/python/tests/replica_uuid/test_replica_uuid.py
  test/python/tests/rpc/docker-compose.yml
  test/python/tests/rpc/test_rpc.py
Due: none

test(e2e): support for coverage builds
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
  scripts/release.sh
Due: none

test(e2e): use mayastor image for mayastor-csi daemonset
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
Due: none

chore(ci): refactor python tests to allow custom docker-compose.yml
  test/python/tests/ana_client/docker-compose.yml
  test/python/tests/cli_controller/docker-compose.yml
  test/python/tests/nexus/docker-compose.yml
  test/python/tests/nexus_multipath/docker-compose.yml
  test/python/tests/publish/docker-compose.yml
  test/python/tests/rebuild/docker-compose.yml
  test/python/tests/replica/docker-compose.yml
  test/python/tests/replica_uuid/docker-compose.yml
  test/python/tests/rpc/docker-compose.yml
Due: none

chore: increase buffer size when wiping superblock
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

chore: wipe superblock on lvol creation only
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

refactor: simplify buffer size calculations
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

fix(pytest): create explicit readiness_check in MayastorHandle
  test/python/common/hdl.py
Due: none

fix(nvmx): handle failures from processing completions for admin commands
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/controller_inner.rs
  mayastor/tests/nexus_multipath.rs
  mayastor/tests/nvme_device_timeout.rs
  mayastor/tests/persistence.rs
  test/python/tests/nexus/test_nexus.py
Due: rust-style, rust-lint

fix(k8s): workaround for long shutdown bug
  terraform/mod/k8s/repo.sh
Due: none

test(e2e): use mayastor image for mayastor-csi daemonset (#1013)
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

chore(test): remove rust test for pool rpc
  mayastor/tests/lvs_pool_rpc.rs
Due: rust-style, rust-lint

feat(nexus): handle preempt key in NexusCreateV2
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/tests/nexus_multipath.rs
  test/python/common/hdl.py
  test/python/tests/nexus/test_nexus.py
  test/python/tests/nexus_multipath/test_bdd_nexus_multipath.py
  test/python/tests/nexus_multipath/test_nexus_multipath.py
Due: rust-style, rust-lint

fix(ci): clean workspace before checking out the tree for pytests
  Jenkinsfile
Due: none

fix: don't leak anonymous volumes on ComposeTest drop
  composer/src/lib.rs
Due: rust-style, rust-lint

chore: pre-commit hook to use nightly fmt and clippy
  .pre-commit-config.yaml
Due: none

chore: convert bdev::Uri into a module
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/mod.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/nexus_uri.rs
Due: rust-style, rust-lint

fix(grpc-test): allow time for namespace removal to be actioned
  test/grpc/test_nexus.js
Due: js-check

fix(pre-commit): revert changes to use nightly fmt and clippy
  .pre-commit-config.yaml
Due: none

fix(nvmx): ensure child is faulted after handling admin command failure
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/core/block_device.rs
  mayastor/tests/nvme_device_timeout.rs
  mayastor/tests/persistence.rs
  test/python/tests/nexus/test_nexus.py
Due: rust-style, rust-lint

fix(nexus): nexus_bdev::io_is_supported return value
  composer/src/lib.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/handle.rs
  mayastor/src/core/mod.rs
  mayastor/tests/common/bdev_io.rs
  mayastor/tests/nexus_io.rs
Due: rust-style, rust-lint

feat(nvmx): implement write_zeroes
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/bdev/nvmx/handle.rs
Due: rust-style, rust-lint

fix(csi): node_unpublish_volume() can fail (while reporting success) if nvmf target is unreachable, causing an endless loop with node_unpublish_volume() being called repeatedly.
  csi/src/node.rs
  test/python/k8s/bug/node_unpublish_bug.py
  test/python/k8s/bug/node_unpublish_bug.readme
Due: rust-style, rust-lint

chore(reactor): drop Future impl for `&'static Reactor`
  mayastor/src/core/env.rs
  mayastor/src/core/reactor.rs
Due: rust-style, rust-lint

wip - bdev desc
  mayastor/src/bdev/aio.rs
  mayastor/src/bdev/loopback.rs
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/null.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/uring.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/descriptor.rs
  spdk/src/bdev.rs
  spdk/src/bdev_desc.rs
  spdk/src/bdev_module.rs
  spdk/src/ffihelper.rs
  spdk/src/lib.rs
Due: rust-style, rust-lint

wip - device event listener refactoring #1
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_instances.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

wip - device event listener refactoring #2
  mayastor/src/bdev/device.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_instances.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/device.rs
  mayastor/src/core/block_device.rs
  mayastor/src/core/mod.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/mayastor_compose_basic.rs
Due: rust-style, rust-lint

wip - passing all mayastor tests
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/null_ng.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
