Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

test(bdd): pin requirements
  test/python/requirements.txt
Due: none

fix(loopback): dispatch bdev removed using bdev name
  io-engine/src/bdev/loopback.rs
Due: rust-style, rust-lint

feat(wipe/replica): add rpc to a wipe a replica using methods
  Cargo.lock
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/replica.rs
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/wiper.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/wipe.rs
Due: rust-style, rust-lint

docs: update build instructions
  doc/build.md
Due: none

feat(clone): add bdd case for snapshots and clone with io-engine-test framework
  io-engine-tests/src/lib.rs
  io-engine-tests/src/replica.rs
  io-engine-tests/src/snapshot.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(snapshot/clone): handle different query options for list snapshot and listreplica
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix(snapshot/pool): get committed bytes from lvol committed
  io-engine/src/core/logical_volume.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

test: fix python tests
  test/python/common/nvme.py
  test/python/tests/nexus/test_multi_nexus.py
  test/python/tests/nexus/test_nexus.py
  test/python/v1/nexus/test_multi_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: python-check

fix(release): don't push secondary alias and fix registry parsing
  scripts/release.sh
Due: none

fix: compile error in malloc.rs
  io-engine/src/bdev/malloc.rs
Due: rust-style, rust-lint

fix(clone): snapshot alocated bytes to be updated based on parent snapshot for clone
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/logical_volume.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix: added alias for xtask
  .cargo/config
Due: none

fix: install xtask
  .github/workflows/coverage.yml
Due: none

fix: xtask explicit install suing cargo
  .github/workflows/coverage.yml
Due: none

fix: add xtask to cargo toml file
  .github/workflows/coverage.yml
  Cargo.toml
Due: none

chore: add code coverage github action
  .github/workflows/coverage.yml
Due: none

chore: update rustup toolchain to nightly
  .github/workflows/coverage.yml
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
Due: rust-style, rust-lint

chore: pull submods
  .github/workflows/coverage.yml
Due: none

fix: include tests
  .github/workflows/coverage.yml
Due: none

fix: adjust test and cov params to test
  .github/workflows/coverage.yml
Due: none

docs: add git submodule init
  doc/build.md
Due: none

docs: add git init submodule
  doc/build.md
Due: none

fix: install libudev
  .github/workflows/coverage.yml
Due: none

fix(snapshot): use customize function to judge snapshot inplace of spdk native function
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(core): improving block device abstraction interfaces
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/bin/initiator.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/block_device_nvmf.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_rebuild.rs
  io-engine/tests/nvme_device_timeout.rs
Due: rust-style, rust-lint

feat(core): adding generic fault injection support
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/test.rs
  io-engine/Cargo.toml
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_injection.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/fault_injection/injection.rs
  io-engine/src/core/fault_injection/injections.rs
  io-engine/src/core/fault_injection/mod.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

feat(rebuild): adding rebuild I/O verification
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_child_online.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/nexus_rebuild_verify.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(ci): allowing bors try when submodule PR is not merged yet
  Jenkinsfile
Due: none

fix(qpair/connect): gracefully handle parallel running async and sync connect
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/qpair.rs
Due: rust-style, rust-lint

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  Jenkinsfile
Due: none

docs: add missing git init submodule (#1485)
  doc/build.md
Due: none

fix(nvmf): removing namespace before destroying subsystem
  io-engine/src/core/bdev.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/target/nvmf.rs
  io-engine/tests/nvmf.rs
Due: rust-style, rust-lint

feat(nvmf): adding support for configuring target CRD
  io-engine-tests/src/fio.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/src/core/env.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/tests/nexus_fail_crd.rs
Due: rust-style, rust-lint

chore(test/qpair_connect): add test case for qpair async and sync connect race
  io-engine/tests/nexus_children_add_remove.rs
Due: rust-style, rust-lint

chore(ci): update git submodules
  .gitmodules
Due: none

fix(casperf): invalid next offset calculation
  .gitignore
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_module.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

fix(snapshot): reset usage cache for the parent lvol and successor lvol when snapshot is destroyed
  io-engine/src/core/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint
