Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --fix
  pass_filenames: true
  language: system

Add pause/resume rebuild support (#158)
  .github/workflows/teamrebuild_ci.yml
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
Due: rust-style, rust-lint, js-lint

rebuild: remove the teamrebuild CI
  .github/workflows/teamrebuild_ci.yml
Due: none

rebuild: Move rebuild task list from the nexus into a global scope (#149)
  .github/workflows/teamrebuild_ci.yml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: split rebuild module
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
Due: rust-style, rust-lint

Automatically rebuild when adding a new child
  csi/moac/nexus.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  csi/src/client.rs
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/core.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Implement NATS client for MOAC, registration & deregistration handlers
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  csi/moac/index.js
  csi/moac/nats.js
  csi/moac/node-packages.nix
  csi/moac/package-lock.json
  csi/moac/package.json
  csi/moac/registry.js
  csi/moac/test/index.js
  csi/moac/test/nats_test.js
  csi/moac/test/node_stub.js
  csi/moac/test/registry_test.js
  doc/vscode.md
  nix/pkgs/ms-buildenv/default.nix
  shell.nix
Due: js-lint

Update github actions to develop branch
  .github/workflows/build.yaml
  .github/workflows/image.yaml
Due: none

Add GitHub Releases badge to default branch README.md
  README.md
Due: none

Reworked tabular output Added nexus child listing facilities Added more tests
  csi/src/client.rs
  mayastor-test/test_cli.js
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint, js-lint

Reworked tabular output (#250)
  csi/src/client.rs
  mayastor-test/test_cli.js
  mayastor/tests/nexus_metadata.rs
Due: rust-style, rust-lint, js-lint

Update CSI sidecar containers to latest versions
  deploy/README.md
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
Due: none

Increase the default disk size in TF scripts to 6G
  terraform/variables.tf
Due: none

Addressed some code-review comments, ops and errors are stored instead of flags, also made the ordering of parameters more consistent.
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

Use monolithic time instead of absolute time in error store.
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_store.rs
Due: rust-style, rust-lint

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Add support to lock/unlock LBA ranges
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  csi/src/client.rs
  mayastor-test/test_rebuild.js
  mayastor/src/core/descriptor.rs
  mayastor/src/core/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint, js-lint

rebuild: add progress and map child states
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

Automatically rebuild when adding a new child
  csi/moac/nexus.js
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/volumes_test.js
  csi/src/client.rs
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Rebuild: Start rebuild when setting child online (#164)
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

rebuild: split the rebuild state logic
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-lint

Improve the state/status confusion
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/grpc.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Address review comments
  mayastor/src/core/descriptor.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/lock_lba_range.rs
Due: rust-style, rust-lint

Add support to lock/unlock LBA ranges
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  mayastor-test/test_rebuild.js
  mayastor/src/core/descriptor.rs
  mayastor/src/core/mod.rs
  mayastor/src/replicas/rebuild/rebuild_api.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_metadata.rs
  mayastor/tests/nexus_rebuild.rs
  nix/pkgs/libspdk/default.nix
  spdk-sys/build.rs
Due: rust-style, rust-lint, js-lint

mayastor-test: Test Nexus child stopping and continuing
  mayastor/src/subsys/opts.rs
  mayastor/tests/common/ms_exec.rs
  mayastor/tests/replica_timeout.rs
Due: rust-style, rust-lint

Remove the nexus I/O channel from the context
  mayastor/src/core/descriptor.rs
  mayastor/src/replicas/rebuild/rebuild_impl.rs
  mayastor/tests/lock_lba_range.rs
  mayastor/tests/nexus_rebuild.rs
  test.sh
Due: rust-style, rust-lint

Uncomment line
  test.sh
Due: none

k8s deployment file for NATS
  deploy/README.md
  deploy/moac-deployment.yaml
  deploy/nats-deployment.yaml
Due: none

nexus: Close child when destroying all Nexus children
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/tests/core.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
