Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-lint

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-lint:
  name: JS lint
  description: Run semistandard on files included in the commit. semistandard npm module should be installed before-hand.
  entry: semistandard --env mocha --env node --verbose --fix
  pass_filenames: true
  language: system

Move rbac rules for moac to a separate yaml file
  deploy/README.md
  deploy/moac-deployment.yaml
  deploy/moac-rbac.yaml
Due: none

moac: pool creation fails when storage node is imported (CAS-336)
  csi/moac/node.js
  csi/moac/test/node_test.js
Due: js-lint

Remove leftovers in csi test suite.
  mayastor-test/test_csi.js
Due: js-lint

Remove leftovers in csi test suite. (#321)
  mayastor-test/test_csi.js
Due: js-lint

nix-test: add basic fio test
  nix/test/basic/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/basic/mayastor-config.yaml
Due: none

nix-test: add basic fio test (#325)
  nix/test/basic/README.md
  nix/test/basic/default.nix
  nix/test/basic/fio_nvme_basic.nix
  nix/test/basic/mayastor-config.yaml
Due: none

ci: Add the nix tests to CI
  .github/workflows/nix-tests.yaml
  nix/test/basic/README.md
  nix/test/basic/fio_nvme_basic.nix
Due: none

Fix importing pool with replicas (CAS-367)
  mayastor-test/test_replica.js
  nix/pkgs/libspdk/default.nix
Due: js-lint

Fix importing pool with replicas (CAS-367) (#332)
  mayastor-test/test_replica.js
  nix/pkgs/libspdk/default.nix
Due: js-lint

Join grpc proto files together
  csi/moac/bundle_protos.sh
  csi/moac/default.nix
  csi/moac/grpc_client.js
  csi/moac/node.js
  csi/moac/test/grpc_enums.js
  csi/moac/test/mayastor_mock.js
  mayastor-test/grpc_enums.js
  mayastor-test/test_cli.js
  mayastor-test/test_common.js
  mayastor-test/test_rebuild.js
  mayastor/src/bin/cli/cli.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/server.rs
  rpc/README.md
  rpc/build.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
  rpc/src/lib.rs
Due: rust-style, rust-lint, js-lint

Change CSI to use snafu
  Cargo.lock
  csi/Cargo.toml
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Handle 0 retries correctly
  csi/src/node/nvmfutil.rs
Due: rust-style, rust-lint

Change CSI to use snafu (#331)
  Cargo.lock
  csi/Cargo.toml
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

update mayastor-client documentation (CAS-364)
  .github/workflows/image.yaml
  doc/mayastor-client.md
Due: none

Remove k8s scheduler constraint for iscsi/nvmf volumes
  csi/moac/csi.js
  csi/moac/test/csi_test.js
  csi/moac/test/index.js
Due: js-lint

update mayastor-client documentation (CAS-364) (#334)
  .github/workflows/image.yaml
  doc/mayastor-client.md
Due: none

Split mayastor daemonset yaml into csi-agent and mayastor yamls
  deploy/README.md
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

CAS-171 Excessive errors take a child out of the IO path (#324)
  mayastor/src/bdev/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child_error_store.rs
  mayastor/src/subsys/opts.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/error_count.rs
  mayastor/tests/error_fault_child.rs
  mayastor/tests/error_store.rs
  spdk-sys/build.sh
Due: rust-style, rust-lint

address some CI issues
  .github/workflows/nix-tests.yaml
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
Due: rust-style, rust-lint

address some CI issues (#338)
  .github/workflows/nix-tests.yaml
  mayastor/tests/common/mod.rs
  mayastor/tests/mount_fs.rs
Due: rust-style, rust-lint

CAS-344: add UUID to URI format
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config.rs
Due: rust-style, rust-lint

CAS-344: add UUID to URI format (#333)
  mayastor/src/bdev/dev.rs
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/util/uri.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/subsys/config.rs
Due: rust-style, rust-lint

Use read-only nexus descriptor in rebuild job
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/add_child.rs
Due: rust-style, rust-lint

Address review comments
  mayastor/tests/add_child.rs
Due: rust-style, rust-lint

CAS-372: Use read-only nexus descriptor in rebuild job (#337)
  mayastor/src/rebuild/rebuild_impl.rs
  mayastor/tests/add_child.rs
Due: rust-style, rust-lint

CAS-345: normalize the dev name
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

address review comments
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
Due: rust-style, rust-lint

CAS-345: normalize the dev name (#339)
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/dev/aio.rs
  mayastor/src/bdev/dev/iscsi.rs
  mayastor/src/bdev/dev/loopback.rs
  mayastor/src/bdev/dev/malloc.rs
  mayastor/src/bdev/dev/nvmf.rs
  mayastor/src/bdev/dev/uring.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/core/bdev.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Address review comments
  mayastor/src/bin/cli/rebuild_cli.rs
Due: rust-style, rust-lint

Address additional review comments
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
Due: rust-style, rust-lint

Add rebuild support to mayastor-client
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
Due: rust-style, rust-lint

CAS-373: Add rebuild support to mayastor-client (#341)
  mayastor/src/bin/cli/cli.rs
  mayastor/src/bin/cli/nexus_cli.rs
  mayastor/src/bin/cli/rebuild_cli.rs
Due: rust-style, rust-lint

grpc create methods should return the created object
  csi/moac/nexus.ts
  csi/moac/node.js
  csi/moac/pool.ts
  csi/moac/test/mayastor_mock.js
  csi/moac/test/nexus_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/volumes_test.js
  csi/moac/volume.js
  mayastor-test/test_cli.js
  mayastor-test/test_nexus.js
  mayastor-test/test_replica.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
  mayastor/tests/common/mod.rs
  rpc/proto/mayastor.proto
Due: rust-style, rust-lint, js-lint

Do not mention NBD in our quick start guide.
  deploy/README.md
Due: none

moac should accept URIs for pool devices
  csi/moac/crds/mayastorpool.yaml
  csi/moac/pool_operator.js
  csi/moac/test/pool_operator_test.js
Due: js-lint

Refactor csi code to use traits for attaching and detaching devices. Use udev to determine location of attached devices.
  Cargo.lock
  csi/Cargo.toml
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/iscsi/iscsiadm.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/dev/util.rs
  csi/src/error.rs
  csi/src/format.rs
  csi/src/match_dev.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/node/iscsiutil.rs
  csi/src/node/nvmfutil.rs
  csi/src/server.rs
  nix/pkgs/mayastor/default.nix
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-lint: any of: \.(js|mjs|cjs)$
