Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(nexus): adding support for disabling nexus reset logic
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

feat(nexus): adding flag to nexus child for an active I/O log
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

fix(retire/rebuild): schedule rebuild termination async
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

chore: update submodule branch link
  .gitmodules
Due: none

fix(state/degraded): control-plane does nothing for degraded
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

fix(spdk): disabling check for loopback interfaces when creating a socket
  nix/pkgs/libspdk/default.nix
Due: none

fix(snapshot): memory corruption when retriving snapshot attributes
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(nexus): nexus snapshot
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
  test/python/v1/hdl.py
  test/python/v1/nexus/features/snapshot.feature
  test/python/v1/nexus/test_nexus_snapshot.py
Due: rust-style, rust-lint, python-check

feat(spdk): updating to SPDK 23.01
  Cargo.lock
  ci.nix
  io-engine-tests/src/error_bdev.rs
  io-engine/Cargo.toml
  io-engine/src/bdev/aio.rs
  io-engine/src/bdev/malloc.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/bdev.rs
  io-engine/src/grpc/v0/bdev_grpc.rs
  io-engine/src/grpc/v1/bdev.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  nix/pkgs/libspdk/default.nix
  shell.nix
Due: rust-style, rust-lint

feat(snapshot): snapshot uuid to be consider from control plane to create snapshot
  io-engine/src/bin/initiator.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

fix(spdk): update spdk to include missing cherry-pick
  nix/pkgs/libspdk/default.nix
Due: none

fix(snapshot): io-engine panic while snapshot create with duplicate snapshot name
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
Due: rust-style, rust-lint

fix(lvol): improper snapshot enumeration when no devices exist
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

fix(nexus): improper replica snapshot status in nexus snapshot operation
  io-engine/src/grpc/v1/nexus.rs
  test/python/v1/nexus/features/snapshot.feature
  test/python/v1/nexus/test_nexus_snapshot.py
Due: rust-style, rust-lint, python-check

feat(lvol): snapshots enumeration method for lvol store
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix(snapshot): refactor and isloate snapshot common api to independent file
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
  test/python/README.md
  test/python/setup.sh
  test/python/v1/hdl.py
  test/python/v1/nexus/test_nexus_snapshot.py
Due: rust-style, rust-lint, python-check

feat(io-engine): printing some io-engine features on start
  io-engine/src/bin/io-engine.rs
Due: rust-style, rust-lint

fix(nvmx): fixing async qpair connection bugs
  Cargo.lock
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/mod.rs
  io-engine/src/bdev/nvmx/poll_group.rs
  io-engine/src/bdev/nvmx/qpair.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/nvmf_connect.rs
Due: rust-style, rust-lint

feat(rebuild_history): add list api with record limit per nexus
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

fix(fs/shutdown): pause nexus when faulted
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

test(nexus/fault): add nexus fault fs shutdown test
  scripts/pytest-tests.sh
  shell.nix
  test/python/common/fio.py
  test/python/requirements.txt
  test/python/tests/nexus_fault/docker-compose.yml
  test/python/tests/nexus_fault/features/nexus_fault.feature
  test/python/tests/nexus_fault/test_nexus_fault.py
Due: python-check

chore(spdk): spdk revision changed to allow using user-defined clone uuids
  nix/pkgs/libspdk/default.nix
Due: none

chore: prepare for release v1.0.7
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/check-deploy-yamls.sh
Due: none

chore(lvs/lvol): add trace message before zeroing super
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(release): don't push secondary alias and fix registry parsing
  scripts/release.sh
Due: none

fix(snapshot): properly display snapshot allocated space
  io-engine-tests/src/bdev_io.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/io.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

fix(snapshot): support snapshot create time attribute during create and list snapshot
  io-engine/src/bdev/nexus/nexus_bdev_snapshot.rs
  io-engine/src/bin/initiator.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/admin_cmd.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

fix(snapshot): listsnapshot show the snapshot when replica is deleted
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(clone): support createsnapshotclone implementation from dataplane to spdk
  io-engine/src/core/mod.rs
  io-engine/src/core/snapshot.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(test): improving component-level tests
  io-engine-tests/src/bdev_io.rs
  io-engine-tests/src/compose/mod.rs
  io-engine-tests/src/fio.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_injection.rs
  io-engine/tests/nexus_children_add_remove.rs
  io-engine/tests/nexus_fio.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

chore: set snapshot's ready to use as false
  io-engine/src/grpc/v1/snapshot.rs
Due: rust-style, rust-lint

fix(nexus): fixing persistent store update issue during device retire
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/tests/nexus_child_retire.rs
Due: rust-style, rust-lint

fix(nexus/io): set nvmf subsystem as frozen
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
Due: rust-style, rust-lint

test(nexus/freeze): add subsystem freeze test
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
  mayastor/tests/nexus_io.rs
Due: rust-style, rust-lint
