Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-style, js-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: master
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-style
        name: JS style
        description: Run prettier on files included in the commit. prettier npm module should be installed before-hand.
        entry: prettier --config=.prettierrc --check
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: js-lint
        name: JS lint
        description: Run jshint on files included in the commit. jshint npm module should be installed before-hand.
        entry: jshint --config=.jshintrc
        pass_filenames: true
        types: [file, javascript]
        language: system

build: fix prettier linting and make hooks read-only
  .pre-commit-config.yaml
  .prettierrc
  csi/moac/logger.js
  csi/moac/test/csi_test.js
  csi/moac/test/event_stream_test.js
  csi/moac/test/grpc_client_test.js
  csi/moac/test/index.js
  csi/moac/test/nexus_test.js
  csi/moac/test/node_operator_test.js
  csi/moac/test/node_test.js
  csi/moac/test/pool_operator_test.js
  csi/moac/test/pool_test.js
  csi/moac/test/registry_test.js
  csi/moac/test/replica_test.js
  csi/moac/test/rest_api_test.js
  csi/moac/test/volume_operator_test.js
  csi/moac/test/volume_test.js
  csi/moac/test/volumes_test.js
  csi/moac/test/watcher_test.js
  csi/moac/test/workq_test.js
  csi/moac/volumes.js
  mayastor-test/sudo.js
  mayastor-test/test_cli.js
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
Due: js-style, js-lint

CAS-16: New grpc interface for Mayastor
  csi/Cargo.toml
  csi/src/client.rs
  csi/src/server.rs
  mayastor-test/test_cli.js
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  test.sh
Due: rust-style, rust-lint, js-style, js-lint

nvmeadm: improve test coverage.
  .github/workflows/build.yaml
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/tests/discovery_test.rs
  test.sh
Due: rust-style, rust-lint

rebuild: Move rebuild task list from the nexus into a global scope (#149)
  .github/workflows/teamrebuild_ci.yml
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Add pause/resume rebuild support (#158)
  .github/workflows/teamrebuild_ci.yml
  csi/src/mayastor_svc.rs
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/rebuild.rs
  rpc/proto/mayastor.proto
  rpc/proto/mayastor_service.proto
Due: rust-style, rust-lint, js-style, js-lint

rebuild: remove the teamrebuild CI
  .github/workflows/teamrebuild_ci.yml
Due: none

rebuild: run n async copy tasks at a time (#162)
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

Rename RebuildTask to RebuildJob and move rebuild code...
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

Rebuild: Start rebuild when setting child online (#164)
  csi/src/mayastor_svc.rs
  mayastor-test/test_rebuild.js
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_rpc.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/reconfigure.rs
Due: rust-style, rust-lint, js-style, js-lint

rebuild: clean up rebuild job on child removal
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/core/reactor.rs
  mayastor/src/rebuild.rs
  mayastor/tests/common/mod.rs
  mayastor/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

rebuild: add missing_docs attribute
  mayastor/src/lib.rs
  mayastor/src/rebuild.rs
Due: rust-style, rust-lint

move rebuild and replica into replica dir
  mayastor/src/lib.rs
  mayastor/src/replicas/mod.rs
  mayastor/src/replicas/rebuild.rs
  mayastor/src/replicas/replica.rs
Due: rust-style, rust-lint

pool: Return base bdev type in list pools
  mayastor-test/test_replica.js
  mayastor/src/bdev/uring_util.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/pool.rs
Due: rust-style, rust-lint, js-style, js-lint

CAS-145 Update "well known" CRC32 checksum for updated GPT header in read_label test.
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 "cargo fmt" changes
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 remove unnecessary (and incorrect) partition table checksum check from function probe_label()
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

CAS-145 fix test broken by previous commit
  mayastor/gpt_primary_test_data.bin
  mayastor/gpt_secondary_test_data.bin
  mayastor/gpt_test_data.bin
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 linter suggested changes
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 changes due to review comments Include content of error in log message rather than ignoring it.
  mayastor/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

CAS-145 Set correct offset for secondary GPT for a 64M disk in read_label test.
  mayastor/gpt_primary_test_data.bin
  mayastor/gpt_secondary_test_data.bin
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 Changes to address review comments. Move as much label related logic to nexus_label.rs as possible.
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 Changed visibility of fields in Pmbr and MbrEntry so that only those that (currently) need to be are public.
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

Update build.yaml
  .github/workflows/build.yaml
Due: none

CAS-145 Refactor nexus_label and related packages so that all data related to a disk label is written to each disk in sequence before moving on to the next disk.
  mayastor/gpt_primary_test_data.bin
  mayastor/gpt_secondary_test_data.bin
  mayastor/gpt_test_data.bin
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-145 Refactor writing of disk labels.
  mayastor/gpt_primary_test_data.bin
  mayastor/gpt_secondary_test_data.bin
  mayastor/gpt_test_data.bin
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
  mayastor/tests/nexus_label.rs
Due: rust-style, rust-lint

CAS-146 Refactor disk label writing code so that disk labels are only updated if strictly necessary.
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

terraform: Fix lxd provider to allow k8s to start
  terraform/README.adoc
  terraform/mod/k8s/repo.sh
  terraform/mod/lxd/main.tf
  terraform/variables.tf
Due: none

initiator: bump max memory
  mayastor/src/bin/initiator.rs
Due: rust-style, rust-lint

CAS-146 Optimise writing of disk labels
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_child.rs
  mayastor/src/bdev/nexus/nexus_label.rs
Due: rust-style, rust-lint

CAS-58: New grpc interface for Mayastor
  .github/workflows/build.yaml
  Cargo.lock
  csi/Cargo.toml
  csi/src/client.rs
  csi/src/server.rs
  mayastor-test/test_common.js
  mayastor-test/test_csi.js
  mayastor-test/test_nexus.js
  mayastor-test/test_rebuild.js
  mayastor-test/test_replica.js
  mayastor/Cargo.toml
  mayastor/src/bin/main.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc.rs
  mayastor/src/lib.rs
  nix/pkgs/mayastor/default.nix
  test.sh
Due: rust-style, rust-lint, js-style, js-lint

Introduce semistandard for JS code sanity checking
  .github/workflows/pr.yaml
  .jshintrc
  .pre-commit-config.yaml
  .prettierrc
  Makefile.toml
  csi/moac/package.json
  doc/vscode.md
  mayastor-test/package.json
  nix/mayastor-overlay.nix
  nix/pkgs/ms-buildenv/default.nix
  nix/pkgs/nodePackages/README
  nix/pkgs/nodePackages/default.nix
  nix/pkgs/nodePackages/generate.sh
  nix/pkgs/nodePackages/node-env.nix
  nix/pkgs/nodePackages/node-packages.json
  nix/pkgs/nodePackages/node-packages.nix
  shell.nix
Due: none

Add github action for testing moac
  .github/workflows/build.yaml
  .github/workflows/moac.yaml
Due: none
