Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Check Rust code style on files included in the commit.
        entry: ./scripts/rust-style.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run Rust linter on files included in the commit.
        entry: ./scripts/rust-linter.sh
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | grep -v '^#' | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

refactor: snapshot listing based on query
  io-engine-tests/src/snapshot.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

test: snapshot list based on query
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

feat(casperf/nexus): add simple nexus uri support
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nx.rs
  io-engine/src/bdev_api.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/lib.rs
Due: rust-style, rust-lint

fix(casperf): enable pci
  io-engine/src/bin/casperf.rs
Due: rust-style, rust-lint

fix(snapshot): reset usage cache for the parent lvol and successor lvol when snapshot is destroyed
  io-engine/src/core/snapshot.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/snapshot_lvol.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

test: add test to validate replica listing scenarios on query
  io-engine/src/grpc/v1/replica.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

refactor: replica listing based on query
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix(nvmf): reverting default CRDT to zero
  io-engine/src/core/env.rs
Due: rust-style, rust-lint

feat(casperf/lvol): add lvol uri type
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nx.rs
Due: rust-style, rust-lint

fix(lvs/error): handle missing errors during import/create
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(pcie): spdk requires nvme path id
  io-engine/src/bdev/nvme.rs
  io-engine/src/core/bdev.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

refactor(lvs): add error reason to pool import error
  io-engine/src/bdev/lvs.rs
  io-engine/src/core/bdev.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

fix(pcie): spdk requires nvme path id
  io-engine/src/bdev/nvme.rs
  io-engine/src/lvs/lvs_store.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

feat(eventing): eventing integration
  Cargo.lock
  io-engine-tests/src/lib.rs
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/constants.rs
  io-engine/src/core/env.rs
  io-engine/src/logger.rs
Due: rust-style, rust-lint

feat(eventing): pool events
  Cargo.lock
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/pool_events.rs
  io-engine/src/lib.rs
  io-engine/src/logger.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(test): workaround for multithreaded cargo test
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine-tests/io-engine-tests-macros/Cargo.toml
  io-engine-tests/io-engine-tests-macros/src/lib.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/test_task.rs
  io-engine/tests/lock_lba_range.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/poller.rs
  io-engine/tests/reactor.rs
  io-engine/tests/reactor_block_on.rs
Due: rust-style, rust-lint

feat(build): updating to rust compiler 1.72.0 and latest tools
  Cargo.toml
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/controller_inner.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/qpair.rs
  io-engine/src/bdev/nx.rs
  io-engine/src/bin/io-engine-client/v0/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v1/test_cli.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/grpc/v1/snapshot.rs
  io-engine/src/grpc/v1/test.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_state.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/core.rs
  io-engine/tests/nexus_rebuild_partial.rs
  io-engine/tests/nexus_thin_no_space.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/persistence.rs
  io-engine/tests/snapshot_lvol.rs
  nix/lib/rust.nix
  nix/sources.json
  scripts/rust-linter-env.sh
  scripts/rust-linter.sh
Due: rust-style, rust-lint

fix(channel_reconfig): don't reconfigure the non-IO nexus channel
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
Due: rust-style, rust-lint

chore(test/qpair_connect): add test case for qpair async and sync connect race
  io-engine/tests/nexus_children_add_remove.rs
Due: rust-style, rust-lint

fix(test/grpc): update packages
  .gitignore
  scripts/grpc-test.sh
  test/grpc/package-lock.json
  test/grpc/package.json
Due: none

fix: update run_script crate
  Cargo.lock
  io-engine-bench/Cargo.toml
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
Due: none

feat(eventing): nexus and rebuild events
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/eventing/pool_events.rs
Due: rust-style, rust-lint

feat(eventing): nexus and rebuild events
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/eventing/mod.rs
  io-engine/src/eventing/nexus_events.rs
  io-engine/src/eventing/pool_events.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

test(bdd): pin requirements
  .gitignore
  test/python/requirements.txt
Due: none

chore: remove atty direct dependency
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/logger.rs
Due: rust-style, rust-lint

feat(spdk): updating to SPDK 23.05
  ci.nix
  io-engine-tests/src/error_bdev.rs
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/malloc.rs
  io-engine/src/bdev/null_bdev.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/qpair.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/block_device.rs
  io-engine/src/grpc/v0/bdev_grpc.rs
  io-engine/src/grpc/v1/bdev.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/nvmf.rs
  nix/pkgs/libspdk/default.nix
  scripts/rust-linter.sh
  shell.nix
  test/python/common/fio_spdk.py
Due: rust-style, rust-lint, python-check

fix(channel_reconfig): don't reconfigure the non-IO nexus channel
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/core/env.rs
  io-engine/tests/io.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_rebuild.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
Due: rust-style, rust-lint

feat(pool): blobstore cluster size to be set during pool creation through grpc parameter value
  io-engine-tests/src/pool.rs
  io-engine/src/bdev/lvs.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvol_snapshot.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/pool_backend.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/tests/lvs_pool.rs
  io-engine/tests/nexus_child_retire.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_with_local.rs
  io-engine/tests/nvmf_connect.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/snapshot_lvol.rs
  io-engine/tests/snapshot_nexus.rs
Due: rust-style, rust-lint

chore: allow specifying release version of libspdk
  ci.nix
  shell.nix
Due: none

fix(null_bdev): parse size with 64bit
  io-engine/src/bdev/null_bdev.rs
Due: rust-style, rust-lint

chore: update auto assign list
  .github/auto_assign.yml
Due: none

fix(casperf/lvs): purge lvs by wiping the first 8MiB
  io-engine/src/bdev/lvs.rs
  io-engine/src/bdev_api.rs
  io-engine/src/core/wiper.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint
